<mi-frame id="page-omms-software-service-deployment-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">部署管理</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item><a href="#/page-omms-hardware-server">{{serverName}}</a></el-breadcrumb-item>
        <el-breadcrumb-item>部署管理</el-breadcrumb-item>
    </template>

    <template>
        <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
            <el-button type="primary" size="small" @click="handleCreate"><span class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;添加部署</el-button>
            <div style="position:absolute; top:60px; bottom:50px; left:0; right:0; padding:0 20px;">
                <el-scrollbar style="height:100%;">
                    <el-table
                            :data="table.rows"
                            :row-key="rowKey"
                            style="width:100%">
                        <el-table-column
                                label="服务名称"
                                prop="name">
                        </el-table-column>
                        <el-table-column
                                label="版本号"
                                prop="version">
                        </el-table-column>
                        <el-table-column
                                label="创建时间"
                                prop="createTime">
                        </el-table-column>
                        <el-table-column
                                label="服务器路径"
                                prop="installFullPath">
                        </el-table-column>
                        <el-table-column
                                label="运行状态"
                                prop="">
                        </el-table-column>
                        <el-table-column
                                label="运行时间"
                                prop="">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="240">
                            <template slot-scope="scope">
                                <el-tooltip class="item" effect="dark" content="修改参数" placement="bottom-end">
                                    <el-button type="text" icon="el-icon-edit" style="font-size:20px; padding:0;" @click="editDeployment(scope)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="查看状态" placement="bottom-end">
                                    <el-button type="text" icon="icon-bar-chart" style="font-size:20px; padding:0; margin-left:20px;" @click="deploymentStatus(scope)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="卸载部署" placement="bottom-end">
                                    <el-button type="text" icon="el-icon-delete" style="font-size:20px; padding:0; margin-left:20px;" @click="handleRowDelete(scope)"></el-button>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-scrollbar>
            </div>
            <div style="height:50px; width:100%; position:absolute; left:0; bottom:0; box-sizing:border-box; padding-right:20px;">
                <el-pagination
                        style="float:right;"
                        background
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="table.currentPage"
                        :page-sizes="table.pageSizes"
                        :page-size="table.pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="table.total">
                </el-pagination>
            </div>
        </el-card>
    </template>

    <template>

        <el-dialog
                title="选择安装包"
                :visible.sync="dialog.selectInstallationPackage.visible"
                width="740px"
                :before-close="handleSelectInstallationPackageClose"
                :close-on-click-modal="false">
            <div style="height:450px; position:relative; border:1px solid #ebeef5;">
                <div style="width:350px; height:100%; border-right:1px solid #ebeef5;">
                    <el-scrollbar style="height:100%;">
                        <el-tree
                                :props = "dialog.selectInstallationPackage.tree.props"
                                :data = "dialog.selectInstallationPackage.tree.data"
                                node-key="uuid"
                                :expand-on-click-node="false"
                                default-expand-all
                                highlight-current
                                @current-change="currentTreeNodeChange">
                            <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;" slot-scope="scope">
                                <span style="font-size:14px;">
                                     <span :class="scope.data.icon"></span>
                                     <span>{{scope.data.name}}</span>
                                </span>
                              </span>
                        </el-tree>
                    </el-scrollbar>
                </div>
                <div style="position:absolute; left:350px; top:0; right:0; bottom:0;">
                    <el-scrollbar style="height:100%;">
                        <div v-for="package in dialog.selectInstallationPackage.list.data"
                             :class="'package-list '+(package.current===true?'current':'')"
                             @click="handleSelectPackage(package)">
                            <span class="el-icon-tickets"></span>
                            <span>{{package.fileName}}</span>
                        </div>
                    </el-scrollbar>
                </div>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleSelectInstallationPackageClose">取消</el-button>
                <el-button size="medium" type="primary" @click="handleSelectInstallationPackageSubmit">确定</el-button>
            </span>

        </el-dialog>

        <el-dialog
                :title="dialog.selectInstallationPackage.tree.current.name+'-'+dialog.selectInstallationPackage.list.current.version"
                :visible.sync="dialog.step.visible"
                width="740px"
                :before-close="handleStepClose"
                :close-on-click-modal="false">

            <el-steps :active="dialog.step.active" finish-status="success">
                <el-step title="上传安装包"></el-step>
                <el-step title="设置参数"></el-step>
                <el-step title="安装"></el-step>
            </el-steps>

            <div v-if="dialog.step.active===0" style="max-height:426px;">
                <div v-if="dialog.step.currentDeployment.error" style="margin-top:20px;">
                    <div style="margin-bottom:10px;">上传失败!</div>
                    <div style="margin-bottom:10px;">{{dialog.step.currentDeployment.errorMessage}}</div>
                    <div style="width:300px;">
                        <el-progress :percentage="dialog.step.currentDeployment.progress" status="exception"></el-progress>
                    </div>
                </div>
                <div v-else style="margin-top:20px;">
                    <div style="margin-bottom:10px;">上传中...</div>
                    <div style="width:300px;">
                        <el-progress :percentage="dialog.step.currentDeployment.progress" :color="dialog.step.currentDeployment.progress==100?'#67c23a':'#409eff'"></el-progress>
                    </div>
                </div>
            </div>

            <div v-if="dialog.step.active===1" style="max-height:426px;">
                <el-scrollbar v-if="dialog.step.properties.length>0" style="height: 400px;">
                    <div style="margin-top:20px; margin-bottom:20px;">
                        <el-row>
                            <el-col :span="11" v-for="(property, index) in dialog.step.properties" :offset="index%2==0?0:1" :key="property.id">
                                <el-form label-position="top" label-width="300px">
                                    <el-form-item :label="property.propertyName">
                                        <el-select v-if="property.valueType==='ENUM'" v-model="property.value" style="width:100%;">
                                            <el-option v-for="item in property.valueSelect" :label="item.name" :value="item.value" :key="item.value"></el-option>
                                        </el-select>
                                        <el-switch v-else-if="property.valueType==='BOOLEAN'" v-model="property.value" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                        <el-input v-else v-model="property.value"></el-input>
                                    </el-form-item>
                                </el-form>
                            </el-col>
                        </el-row>
                    </div>
                </el-scrollbar>
                <div v-else style="margin-top:20px; margin-bottom:20px;">
                    无配置!
                </div>
            </div>

            <div v-if="dialog.step.active===2" style="max-height:426px;">
                <div style="margin-top:20px;">
                    <div v-if="dialog.step.properties.length>0" style="margin-bottom:10px;">config.ini</div>
                    <div v-if="dialog.step.properties.length>0" style="margin-bottom:10px;">
                        <div v-for="property in dialog.step.properties">{{property.propertyKey}}={{property.value}}</div>
                    </div>
                    <div>安装中...</div>
                </div>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="small" v-if="dialog.step.currentDeployment.error || dialog.step.active===3" @click="handleStepClose">关闭</el-button>
                <!--v-if="dialog.step.active===1"-->
                <el-button size="small" v-if="dialog.step.active===1" type="primary" @click="handleInstall">安装</el-button>
            </span>
        </el-dialog>

    </template>

</mi-frame>