.package-list{padding-left:18px; height:28px; line-height:28px;}
.package-list:hover{background-color:#f5f7fa;}
.package-list.current{background-color:#f0f7ff;}

#page-omms-software-service-deployment-wrapper .el-form-item__label{line-height:16px!important;}