<mi-frame id="page-omms-software-service-type-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">服务管理</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>服务管理</el-breadcrumb-item>
    </template>

    <template>

        <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
            <div style="box-sizing:border-box; width:420px; position:absolute; left:0; top:0; bottom:0; padding:10px; border-right:1px solid #ebeef5;">
                <div style="width:100%; height:100%; position:relative">
                    <el-scrollbar style="height:100%;">
                        <el-tree
                                :props = "tree.props"
                                :data = "tree.data"
                                node-key="uuid"
                                :current-node-key="tree.current"
                                check-strictly
                                :expand-on-click-node="false"
                                default-expand-all
                                highlight-current
                                @current-change="currentTreeNodeChange">

                            <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;" slot-scope="{node, data}">
                                <span style="font-size:14px;">
                                     <span :class="data.icon"></span>
                                     <span>{{data.name}}</span>
                                </span>
                              </span>
                        </el-tree>
                    </el-scrollbar>
                    <el-tooltip class="item" effect="dark" content="一键创建" placement="right-end">
                        <el-button type="primary" size="medium" circle style="position:absolute; left:-15px; bottom:-15px; box-shadow:0 2px 12px 0 rgba(0,0,0,1);" @click="oneButtonCreate" icon="el-icon-plus" :loading="oneButtonCreateLoading"></el-button>
                    </el-tooltip>
                </div>
            </div>
            <div style="position:absolute; left:420px; top:0; right:0; bottom:0;">
                <el-scrollbar style="height:100%;">
                    <div v-if="tree.current" style="width:100%; padding:10px; box-sizing:border-box;">
                        <el-form label-width="86px" label-position="left">
                            <el-form-item style="margin-bottom:0;" :label="columns.name.name+':'">
                                <span style="cursor:not-allowed; font-weight:700; color:#333; font-weight:700;">{{columns.name.value}}</span>
                                <el-button type="text" style="padding:0; margin-left:10px;" @click="goToInstallationPackage">版本管理</el-button>
                                <el-button type="text" style="padding:0; margin-left:10px;" @click="goToInstallationPackageHistory">历史版本</el-button>
                            </el-form-item>
                            <el-form-item style="margin-bottom:0;" :label="columns.installationDirectory.name+':'">
                                <el-button class="column-settings" type="text" style="padding:0; margin:0;" @click="editColumn('installationDirectory', columns.installationDirectory)"><span class="feather-icon-edit"></span>{{columns.installationDirectory.value || '设置内容'}}</el-button>
                            </el-form-item>
                            <el-form-item style="margin-bottom:0;" :label="columns.logFile.name+':'">
                                <el-button class="column-settings" type="text" style="padding:0; margin:0;" @click="editColumn('logFile', columns.logFile)"><span class="feather-icon-edit"></span>{{columns.logFile.value || '设置内容'}}</el-button>
                            </el-form-item>
                            <el-form-item style="margin-bottom:0;" :label="columns.properties.name+':'">
                                <el-button class="column-settings" type="text" style="padding:0; margin:0;" @click="columns.properties.show=!columns.properties.show"><span class="feather-icon-edit"></span>{{columns.properties.show?'收起编辑':'展开编辑'}}</el-button>
                                <div v-if="columns.properties.show" style="width:100%;">
                                    <el-button type="primary" size="small" @click="handleCreateProperty"><span class="icon-plus" style="position:relative; right:1px; margin-bottom:10px;"></span>&nbsp;添加属性</el-button>
                                    <el-table
                                        :data="columns.properties.rows"
                                        style="width:100%">
                                        <el-table-column
                                                label="属性key"
                                                prop="propertyKey">
                                        </el-table-column>
                                        <el-table-column
                                                label="属性名称"
                                                prop="propertyName">
                                        </el-table-column>
                                        <el-table-column
                                                label="属性值类型"
                                                prop="valueTypeName">
                                        </el-table-column>
                                        <el-table-column
                                                label="默认值"
                                                prop="propertyDefaultValue">
                                        </el-table-column>
                                        <el-table-column
                                                label="操作"
                                                width="250">
                                            <template slot-scope="scope">
                                                <el-tooltip class="item" effect="dark" content="修改属性" placement="bottom-end">
                                                    <el-button type="text" icon="el-icon-edit" style="font-size:20px; padding:0; margin-left:20px;" @click="handleEditProperty(scope)"></el-button>
                                                </el-tooltip>
                                                <el-tooltip class="item" effect="dark" content="删除属性" placement="bottom-end">
                                                    <el-button type="text" icon="el-icon-delete" style="font-size:20px; padding:0; margin-left:20px;" @click="handleRemoveProperty(scope)"></el-button>
                                                </el-tooltip>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>
                            </el-form-item>
                        </el-form>
                        <div v-for="editor in editors" :class="'code-scope '+editor.name">
                            <el-form label-width="86px" label-position="left">
                                <el-form-item :label="columns[editor.name].name+':'">
                                    <el-button class="column-settings" type="text" style="padding:0; margin:0;" @click="editColumn(editor.name, columns[editor.name])"><span class="feather-icon-edit"></span>{{columns[editor.name].path || '设置内容'}}</el-button>
                                </el-form-item>
                            </el-form>
                            <div>
                                <div class="editor"></div>
                                <div class="action-bar">
                                    <span>
                                        <el-button class="action-show-code" type="text"><span class="el-icon-caret-bottom"></span>显示代码</el-button>
                                    </span>
                                    <span>
                                        <el-tooltip class="item" effect="dark" content="编辑代码" placement="right-end">
                                            <el-button class="action-edit-code" type="text" style="float:left; padding:10px; position:relative;"><span class="feather-icon-edit" style="font-size:17px;"></span></el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="保存代码" placement="right-end">
                                            <el-button class="action-save-code" type="text" style="float:left; padding:9px; margin:0; position:relative;"><span class="feather-icon-save" style="font-size:19px;"></span></el-button>
                                        </el-tooltip>
                                        <el-button class="action-hide-code" type="text"><span class="el-icon-caret-top"></span>隐藏代码</el-button>
                                        <el-tooltip class="item" effect="dark" content="展开代码" placement="left-end">
                                            <el-button class="action-slide-unit-length" type="text"  style="float:right; padding:10px; margin:0; position:relative;"><span class="feather-icon-chevrons-down" style="font-size:18px;"></span></el-button>
                                        </el-tooltip>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-scrollbar>
            </div>
        </el-card>

    </template>

    <template>
        <el-dialog
                :title="dialog.editColumn.column.name"
                :visible.sync="dialog.editColumn.visible"
                width="500px"
                :before-close="handleEditColumnClose">
            <el-form label-position="top">
                <el-form-item>
                    <el-input v-model="dialog.editColumn.column.value"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleEditColumnClose">取消</el-button>
                <el-button size="medium" type="primary" @click="handleEditColumnCommit">确定</el-button>
            </span>
        </el-dialog>
    </template>

    <template>
        <el-dialog
                title="添加属性"
                :visible.sync="dialog.addProperty.visible"
                width="500px"
                :before-close="handleCreatePropertyClose">

            <el-form label-width="80px">
                <el-form-item label="属性key">
                    <el-input v-model="dialog.addProperty.propertyKey"></el-input>
                </el-form-item>
                <el-form-item label="属性名称">
                    <el-input v-model="dialog.addProperty.propertyName"></el-input>
                </el-form-item>
                <el-form-item label="值类型">
                    <el-select v-model="dialog.addProperty.valueType" style="width:100%;">
                        <el-option v-for="item in propertyValueTypes" :label="item" :value="item" :key="item"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="默认值">
                    <el-input v-model="dialog.addProperty.propertyDefaultValue"></el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleCreatePropertyClose">取消</el-button>
                <el-button size="medium" type="primary" @click="handleCreatePropertySubmit">确定</el-button>
            </span>
        </el-dialog>
    </template>

    <template>
        <el-dialog
                title="修改属性"
                :visible.sync="dialog.editProperty.visible"
                width="500px"
                :before-close="handleEditPropertyClose">

            <el-form label-width="80px">
                <el-form-item label="属性key">
                    <el-input v-model="dialog.editProperty.propertyKey"></el-input>
                </el-form-item>
                <el-form-item label="属性名称">
                    <el-input v-model="dialog.editProperty.propertyName"></el-input>
                </el-form-item>
                <el-form-item label="值类型">
                    <el-select v-model="dialog.editProperty.valueType" style="width:100%;">
                        <el-option v-for="item in propertyValueTypes" :label="item" :value="item" :key="item"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="默认值">
                    <el-input v-model="dialog.editProperty.propertyDefaultValue"></el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleEditPropertyClose">取消</el-button>
                <el-button size="medium" type="primary" @click="handleEditPropertySubmit">确定</el-button>
            </span>
        </el-dialog>
    </template>

</mi-frame>