<mi-frame id="page-omms-software-service-type-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">服务类型</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>服务类型</el-breadcrumb-item>
    </template>

    <template>

        <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
            <div style="box-sizing:border-box; width:420px; position:absolute; left:0; top:0; bottom:0; padding:10px; border-right:1px solid #ebeef5;">
                <div style="width:100%; height:100%; position:relative">
                    <el-scrollbar style="height:100%;">
                        <el-tree
                                :props = "tree.props"
                                :data = "tree.data"
                                node-key="uuid"
                                :current-node-key="tree.current"
                                check-strictly
                                :expand-on-click-node="false"
                                default-expand-all
                                highlight-current
                                @current-change="currentTreeNodeChange">

                            <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;" slot-scope="{node, data}">
                                <span style="font-size:14px;">
                                     <span :class="data.icon"></span>
                                     <span>{{data.name}}</span>
                                </span>
                              </span>
                        </el-tree>
                    </el-scrollbar>
                    <el-tooltip class="item" effect="dark" content="一键创建" placement="right-end">
                        <el-button type="primary" size="medium" circle style="position:absolute; left:-15px; bottom:-15px; box-shadow:0 2px 12px 0 rgba(0,0,0,1);" @click="oneButtonCreate" icon="el-icon-plus" :loading="oneButtonCreateLoading"></el-button>
                    </el-tooltip>
                </div>
            </div>
            <div style="position:absolute; left:420px; top:0; right:0; bottom:0;">
                <el-scrollbar style="height:100%;">
                    <div v-if="tree.current" style="width:100%; padding:10px; box-sizing:border-box;">
                        <el-form label-width="86px" label-position="left">
                            <el-form-item style="margin-bottom:0;" :label="columns.name.name+':'"><span style="cursor:not-allowed; color:#d3dce6;">{{columns.name.value}}</span></el-form-item>
                            <el-form-item style="margin-bottom:0;" :label="columns.installationDirectory.name+':'">
                                <el-button class="column-settings" type="text" style="padding:0; margin:0;" @click="editColumn('installationDirectory', columns.installationDirectory)"><span class="feather-icon-edit"></span>{{columns.installationDirectory.value || '设置内容'}}</el-button>
                            </el-form-item>
                            <el-form-item style="margin-bottom:0;" :label="columns.logFile.name+':'">
                                <el-button class="column-settings" type="text" style="padding:0; margin:0;" @click="editColumn('logFile', columns.logFile)"><span class="feather-icon-edit"></span>{{columns.logFile.value || '设置内容'}}</el-button>
                            </el-form-item>
                        </el-form>
                        <div v-for="editor in editors" :class="'code-scope '+editor.name">
                            <el-form label-width="86px" label-position="left">
                                <el-form-item :label="columns[editor.name].name+':'">
                                    <el-button class="column-settings" type="text" style="padding:0; margin:0;" @click="editColumn(editor.name, columns[editor.name])"><span class="feather-icon-edit"></span>{{columns[editor.name].path || '设置内容'}}</el-button>
                                </el-form-item>
                            </el-form>
                            <div>
                                <div class="editor"></div>
                                <div class="action-bar">
                                    <span>
                                        <el-button class="action-show-code" type="text"><span class="el-icon-caret-bottom"></span>显示代码</el-button>
                                    </span>
                                    <span>
                                        <el-tooltip class="item" effect="dark" content="编辑代码" placement="right-end">
                                            <el-button class="action-edit-code" type="text" style="float:left; padding:10px; position:relative;"><span class="feather-icon-edit" style="font-size:18px;"></span></el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="保存代码" placement="right-end">
                                            <el-button class="action-save-code" type="text" style="float:left; padding:9px; margin:0; position:relative;"><span class="feather-icon-save" style="font-size:19px;"></span></el-button>
                                        </el-tooltip>
                                        <el-button class="action-hide-code" type="text"><span class="el-icon-caret-top"></span>隐藏代码</el-button>
                                        <el-tooltip class="item" effect="dark" content="展开代码" placement="left-end">
                                            <el-button class="action-slide-unit-length" type="text"  style="float:right; padding:10px; margin:0; position:relative;"><span class="feather-icon-chevrons-down" style="font-size:18px;"></span></el-button>
                                        </el-tooltip>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-scrollbar>
            </div>
        </el-card>

    </template>

    <template>
        <el-dialog
                :title="dialog.editColumn.column.name"
                :visible.sync="dialog.editColumn.visible"
                width="500px"
                :before-close="handleEditColumnClose">
            <el-form label-position="top">
                <el-form-item>
                    <el-input v-model="dialog.editColumn.column.value"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleEditColumnClose">取消</el-button>
                <el-button size="medium" type="primary" @click="handleEditColumnCommit">确定</el-button>
            </span>
        </el-dialog>
    </template>

</mi-frame>