<mi-frame ref="frame" id="page-media-txt-wrapper" :menus="menus" :user="user" :groups="groups" :active-id="activeId">

    <template slot="title">{{user.groupName}}（文本库）</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>文本仓库</el-breadcrumb-item>
    </template>

    <template>
        <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
            <div style="margin-bottom:10px;">
                <el-button type="primary" size="small" @click="dialog.addTxt.visible = true"><span class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;添加文本</el-button>
                <el-button type="warning" size="small" @click="dialog.createFolder.visible = true"><span class="icon-folder-open" style="position:relative; right:1px;"></span>&nbsp;新建文件夹</el-button>
                <!--<el-button-group style="margin-left:10px;">
                    <el-button size="small">下载</el-button>
                    <el-button size="small">删除</el-button>
                    <el-button size="small">重命名</el-button>
                    <el-button size="small">复制</el-button>
                    <el-button size="small">移动</el-button>
                </el-button-group>-->
                <el-input placeholder="搜索您的文件" size="small" suffix-icon="el-icon-search" style="float:right; width:300px; margin-right:10px;"></el-input>
            </div>
            <div style="margin-bottom:10px;">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item v-for="item in breadCrumb" :key="'breadcrumb-' + item.uuid">
                        <a :href="'#/page-media-txt/' + item.id" v-if="item.next">{{item.name}}</a>
                        <template v-else>{{item.name}}</template>
                    </el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div style="position:absolute; top:86px; bottom:0; left:0; right:0; padding:0 20px;">
                <el-scrollbar style="height:100%;">
                    <el-table
                            :data="table.rows"
                            @cell-mouse-enter="mouseEnter"
                            @cell-mouse-leave="mouseLeave"
                            tooltip-effect="dark"
                            style="width:100%">
                        <el-table-column type="selection" width="40"></el-table-column>
                        <el-table-column width="40">
                            <template slot-scope="scope">
                                <span :class="scope.row.icon" :style="scope.row.style"></span>
                            </template>
                        </el-table-column>
                        <el-table-column label="文件名">
                            <template slot-scope="scope">
                                <el-button v-if="scope.row.type==='FOLDER'" type="text" style="padding:0; color:inherit;"><a class="folder-link" :href="'#/page-media-txt/'+scope.row.id">{{scope.row.name}}</a></el-button>
                                <span v-else>{{scope.row.name}}</span>
                                <span :style="'float:right; position:relative;' + (scope.row.__hover__?'display:inline-block;':'display:none;')">
                                    <el-tooltip  v-if="scope.row.type!=='FOLDER'" class="item" effect="dark" content="下载" placement="bottom">
                                        <el-button size="small" type="text" style="padding:0; position:absolute; top:1px; right:87px;" @click="handleDownload(scope)">
                                            <span class="el-icon-download" style="font-size:20px; position:relative; top:1px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-tooltip v-if="scope.row.type!=='FOLDER'" class="item" effect="dark" content="预览" placement="bottom">
                                        <el-button size="small" type="text" style="padding:0; position:absolute; top:2px; right:57px;" @click="handlePreview(scope)">
                                            <span class="icon-eye-open" style="font-size:18px; position:relative; top:1px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="删除" placement="bottom">
                                        <el-button
                                                size="small"
                                                type="text"
                                                style="padding:0; position:absolute; right:30px; top:2px;"
                                                @click="handleRowRemove(scope)">
                                            <span class="el-icon-delete" style="font-size:18px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-dropdown trigger="click" style="position:absolute; right:0; top:2px;" @visible-change="table.tooltip=!table.tooltip" @command="tableOptionsCommand($event, scope)">
                                        <el-tooltip :disabled="table.tooltip" class="item" effect="dark" content="更多" placement="bottom">
                                            <el-button size="small" type="text" style="padding:0;"><span class="el-icon-more-outline" style="font-size:18px;"></span></el-button>
                                        </el-tooltip>
                                        <el-dropdown-menu slot="dropdown">
                                            <el-dropdown-item command="0" v-if="scope.row.type==='FOLDER'">重命名</el-dropdown-item>
                                            <el-dropdown-item command="1" v-if="scope.row.type==='TXT'">编辑</el-dropdown-item>
                                            <el-dropdown-item command="2">移动</el-dropdown-item>
                                            <el-dropdown-item command="3">复制</el-dropdown-item>
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="updateTime" label="创建时间" width="200"></el-table-column>
                    </el-table>
                </el-scrollbar>
            </div>

            <!--<div style="height:50px;">
                <el-pagination
                        style="float:right; margin-top:20px;"
                        background
                        :current-page="page.current"
                        :page-sizes="[100, 200, 300, 400]"
                        :page-size="100"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="400">
                </el-pagination>
            </div>-->
        </el-card>

        <!-- 新建文件夹 -->
        <el-dialog
                title="新建文件夹"
                width="500px"
                :visible.sync="dialog.createFolder.visible"
                @closed="addMediaTxtFolderDialogClosed">

            <el-input v-model="dialog.createFolder.folderName" placeholder="请输入文件夹名称"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.createFolder.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.createFolder.loading" @click="addMediaTxtFolder">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 修改文件夹名称 -->
        <el-dialog
                title="重命名"
                width="500px"
                :visible.sync="dialog.renameFolder.visible"
                @closed="renameMediaTxtFolderDialogClosed">

            <div v-if="dialog.renameFolder.row">
                <div style="margin-bottom:20px;">
                    <span :class="dialog.renameFolder.row.icon" :style="dialog.renameFolder.row.style"></span>
                    <span style="margin-left:5px;">{{dialog.renameFolder.row.name}}</span>
                </div>
                <el-input v-model="dialog.renameFolder.folderName" placeholder="请输入新文件夹名称"></el-input>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.renameFolder.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.renameFolder.loading" @click="renameMediaTxtFolder">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 移动文件夹 -->
        <mi-folder-dialog ref="moveMediaTxtFolderDialog" @selected-folder="moveMediaTxtFolder"></mi-folder-dialog>

        <!-- 复制文件夹 -->
        <mi-folder-dialog ref="copyMediaTxtFolderDialog" @selected-folder="copyMediaTxtFolder"></mi-folder-dialog>

        <!-- 添加文本媒资对话框 -->
        <el-dialog
                title="添加文本"
                :visible.sync="dialog.addTxt.visible"
                width="500px"
                :before-close="handleAddTxtClose">

            <div>
                <el-form ref="form" label-width="80px">
                    <el-form-item label="媒资名称">
                        <el-input v-model="dialog.addTxt.name"></el-input>
                    </el-form-item>
                    <el-form-item label="文本内容">
                        <el-input type="textarea" v-model="dialog.addTxt.content"></el-input>
                    </el-form-item>
                    <el-form-item label="贴标签">
                        <el-input v-model="dialog.addTxt.tags"></el-input>
                    </el-form-item>
                    <el-form-item label="关键字">
                        <el-input v-model="dialog.addTxt.keyWords"></el-input>
                    </el-form-item>
                    <el-form-item label="备注">
                        <el-input type="textarea" v-model="dialog.addTxt.remark"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.addTxt.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.addTxt.loading" @click="addMediaTxtTask">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 编辑文本媒资对话框 -->
        <el-dialog
                title="编辑文本"
                :visible.sync="dialog.editTxt.visible"
                width="500px"
                :before-close="handleEditTxtClose">

            <div>
                <el-form ref="form" label-width="80px">
                    <el-form-item label="媒资名称">
                        <el-input v-model="dialog.editTxt.name"></el-input>
                    </el-form-item>
                    <el-form-item label="文本内容">
                        <el-input type="textarea" v-model="dialog.editTxt.content"></el-input>
                    </el-form-item>
                    <el-form-item label="贴标签">
                        <el-input v-model="dialog.editTxt.tags"></el-input>
                    </el-form-item>
                    <el-form-item label="关键字">
                        <el-input v-model="dialog.editTxt.keyWords"></el-input>
                    </el-form-item>
                    <el-form-item label="备注">
                        <el-input type="textarea" v-model="dialog.editTxt.remark"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editTxt.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.editTxt.loading" @click="editMediaTxtTask">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 移动文件 -->
        <mi-folder-dialog ref="moveMediaTxtDialog" @selected-folder="moveMediaTxt"></mi-folder-dialog>

        <!-- 复制文件 -->
        <mi-folder-dialog ref="copyMediaTxtDialog" @selected-folder="copyMediaTxt"></mi-folder-dialog>

        <!-- 预览灯箱 -->
        <mi-lightbox ref="Lightbox" @on-txt-save="handleTxtSave"></mi-lightbox>

    </template>

</mi-frame>