#page-front-role-wrapper .mims-page-wrapper{width:100%; height:100%; position:relative;}
#page-front-role-wrapper .el-card,
#page-front-role-wrapper .el-card__body,
#page-front-role-wrapper .el-tabs,
#page-front-role-wrapper .el-tabs__content,
#page-front-role-wrapper .el-tab-pane{height:100%; box-sizing:border-box;}

#page-front-role-wrapper .el-tabs__header{height:auto;}
#page-front-role-wrapper .mims-left{width:550px; height:100%; border-right:1px solid #ebeef5;}
#page-front-role-wrapper .mims-right{position:absolute; left:560px; top:0; right:0; bottom:0;}

#page-front-role-wrapper .icon-folder-close{color:#ffd659; font-size:16px; position:relative; top:1px; margin-right:7px;}
#page-front-role-wrapper .node-text{font-size:14px;}

#page-front-role-wrapper .mims-page-button{height:32px;}
#page-front-role-wrapper .mims-page-table{position:absolute; left:0; top:32px; right:0; bottom:0;}
#page-front-role-wrapper .mims-page-foot{height:32px; position:absolute; bottom:0; width:100%;}

