<mi-frame id="page-front-role-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">权限管理</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>权限管理</el-breadcrumb-item>
    </template>

    <template>
        <div class="mims-page-wrapper">
            <el-card shadow="hover">
                <el-tabs tab-position="left">
                    <el-tab-pane label="角色管理">
                        <div class="mims-page-wrapper">
                            <div class="mims-left">
                                <div class="mims-page-wrapper">
                                    <div style="height:33px; width:100%;">
                                        <el-button size="small" type="primary" @click="handleRoleAdd"><span class="feather-icon-user-plus"></span> &nbsp;添加角色</el-button>
                                    </div>
                                    <div style="position:absolute; top:33px; left:0; right:0; bottom:0">
                                        <el-scrollbar style="height:100%;">
                                            <el-table
                                                    :highlight-current-row="table.role.currentHighlight"
                                                    @current-change="roleCurrentChange"
                                                    :data="table.role.rows"
                                                    :row-key="roleRowKey"
                                                    style="width:100%">
                                                <el-table-column
                                                        label="角色"
                                                        prop="name">
                                                </el-table-column>
                                                <el-table-column
                                                        label="操作"
                                                        width="150">
                                                    <template v-if="scope.row.removeable" slot-scope="scope">
                                                        <el-button size="small" type="text" style="padding:0; position:relative; top:1px;" @click="handleRoleEdit(scope)"><span class="feather-icon-edit-3" style="font-size:18px;"></span></el-button>
                                                        <el-button size="small" type="text" style="padding:0; position:relative; top:1px;" @click="handleRoleDelete(scope)"><span class="feather-icon-trash-2" style="font-size:18px;"></span></el-button>
                                                    </template>
                                                </el-table-column>
                                            </el-table>
                                        </el-scrollbar>
                                    </div>
                                </div>
                            </div>
                            <div class="mims-right">
                                <div class="mims-page-wrapper" v-if="table.user.visible">
                                    <div class="mims-page-button">
                                        <el-button size="small" type="warning" @click="handleUserBinding"><span class="feather-icon-user-check"></span> &nbsp;绑定用户</el-button>
                                    </div>
                                    <div class="mims-page-table">
                                        <el-scrollbar style="height:100%;">
                                            <el-table
                                                    :data="table.user.rows"
                                                    :row-key="userRowKey"
                                                    style="width:100%">
                                                <el-table-column
                                                        label="用户"
                                                        prop="name">
                                                </el-table-column>
                                                <el-table-column
                                                        label="操作"
                                                        width="100">
                                                    <template slot-scope="scope">
                                                        <el-button size="small" type="text" style="padding:0; position:relative; top:1px;" @click="handleUserUnbinding(scope)"><span class="feather-icon-trash-2" style="font-size:18px;"></span></el-button>
                                                    </template>
                                                </el-table-column>
                                            </el-table>
                                        </el-scrollbar>
                                    </div>
                                    <!--<div class="mims-page-foot">
                                        <el-pagination
                                                style="float:right;"
                                                background
                                                :current-page="table.user.currentPage"
                                                :page-size="table.user.pageSize"
                                                layout="prev, pager, next"
                                                :total="table.user.total"
                                                @current-change="handleUserCurrentChange">
                                        </el-pagination>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="目录授权">
                        <div class="mims-page-wrapper">
                            <div class="mims-left">
                                <el-scrollbar style="height:100%;">
                                    <el-tree
                                            ref="folderTree"
                                            :props = "tree.props"
                                            :data = "tree.data"
                                            check-strictly
                                            :render-content = "renderTree"
                                            :expand-on-click-node="false"
                                            @node-click="treeNodeClick"
                                            highlight-current>
                                    </el-tree>
                                </el-scrollbar>
                            </div>
                            <div class="mims-right">
                                <div class="mims-page-wrapper" v-if="table.permission.visible">
                                    <div class="mims-page-button">
                                        <el-button size="small" type="warning" @click="handlePermissionBinding"><span class="feather-icon-user-check"></span> &nbsp;角色授权</el-button>
                                    </div>
                                    <div class="mims-page-table">
                                        <el-table
                                                :data="table.permission.rows"
                                                :row-key="permissionRowKey"
                                                style="width:100%">
                                            <el-table-column
                                                    label="用户"
                                                    prop="name">
                                            </el-table-column>
                                            <el-table-column
                                                    label="操作"
                                                    width="100">
                                                <template slot-scope="scope">
                                                    <el-button size="small" type="text" style="padding:0; position:relative; top:1px;" @click="handlePermissionUnbinding(scope)"><span class="feather-icon-trash-2" style="font-size:18px;"></span></el-button>
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                    </div>
                                    <!--<div class="mims-page-foot">
                                        <el-pagination
                                                style="float:right;"
                                                background
                                                layout="prev, pager, next"
                                                :total="1000">
                                        </el-pagination>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-card>
        </div>

        <!-- 添加角色对话框 -->
        <el-dialog
                title="添加角色"
                :visible.sync="dialog.role.add.visible"
                width="30%"
                :before-close="handleRoleAddClose">

            <el-input v-model="dialog.role.add.name" placeholder="请输入角色名称"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.role.add.visible = false">取 消</el-button>
                <el-button type="primary" @click="handleRoleAddOk" :loading="dialog.role.add.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 修改角色对话框 -->
        <el-dialog
                title="修改角色"
                :visible.sync="dialog.role.edit.visible"
                width="30%"
                :before-close="handleRoleEditClose">

            <el-input v-model="dialog.role.edit.name" placeholder="请输入角色名称"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.role.edit.visible = false">取 消</el-button>
                <el-button type="primary" @click="handleRoleEditOk" :loading="dialog.role.edit.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 绑定用户对话框 -->
        <mi-user-dialog ref="userDialog" @on-dialog-close="userSelected"></mi-user-dialog>

        <!-- 授权对话框 -->
        <el-dialog
                title="授权"
                :visible.sync="dialog.permission.visible"
                width="30%"
                :before-close="handlePermissionClose">

            <div style="width:100%; height:300px; position:relative;">
                <div style="width:100%; height:360px; position:absolute; top:-30px; bottom:-30px;">
                    <el-table
                            :data="dialog.permission.rows"
                            :row-key="permissionRowKey"
                            @selection-change="handlePermissionChange"
                            height="100%"
                            style="width:100%">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                label="角色"
                                prop="name">
                        </el-table-column>
                    </el-table>
                </div>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.permission.visible = false">取 消</el-button>
                <el-button type="primary" @click="handlePermissionOk" :loading="dialog.permission.loading">确 定</el-button>
            </span>
        </el-dialog>


    </template>

</mi-frame>