<div class="bvc2-tree-source-list">
    <div class="bvc2-tree-source-list-search">
        <el-input placeholder="输入关键字过滤"  size="mini" clearable v-model="filterText">
            <span slot="prefix" class="el-input__icon el-icon-search"></span>
        </el-input>
    </div>
    <div class="bvc2-tree-source-list-data">
        <el-tree
                ref="tree"
                :data="data"

                node-key="key"
                :default-checked-keys="checked"
                :default-expand-all="defaultExpandAll"
                :props="defaultProps"

                :filter-node-method="filterNode"

                show-checkbox

                :render-content="renderContent"
                @node-expand="nodeExpand"
                @node-collapse="nodeCollapse"
                >
        </el-tree>
    </div>

</div>