.mi-system-role-dialog .feather-icon-user,
.mi-system-role-dialog .feather-icon-users{font-size:16px; position:relative; top:2px; margin-right:7px;}
.mi-system-role-dialog .el-dialog__body{padding:0 20px;}