<div>
    <div v-if="visible" class="article-layout-editor" @drop="dragEnd($event)" @dragover="allowDrop($event)">
        <div class="position-wrapper">
            <div class="left">
                <div class="templates">
                    <el-scrollbar style="height:100%;">
                        <template v-for="template, index in templates">
                            <div v-if="(index+1)%3===0" class="template last" draggable="true" @dragstart="templateDragstart(template, $event)">
                                <span>
                                    <span :class="template.icon" :style="template.style"></span>
                                    <br/>
                                    <span class="text">{{template.name}}</span>
                                </span>
                            </div>
                            <div v-else class="template" draggable="true" @dragstart="templateDragstart(template, $event)">
                                <span>
                                    <span :class="template.icon" :style="template.style"></span>
                                    <br/>
                                    <span class="text">{{template.name}}</span>
                                </span>
                            </div>
                        </template>
                        <hr style="clear:both; margin-bottom:30px;"/>
                    </el-scrollbar>
                </div>
            </div>
            <div class="middle" @drop="templateDrop($event)" @dragover="allowDrop($event)">
                <div class="position-wrapper article-modules">
                    <el-scrollbar style="height:100%;">
                        <template v-for="module, index in modules">
                            <div class="article-module" @dragover="moduleDragOver($event)" @mousemove="moduleMousemove(module, $event)" @mouseout="moduleMouseout(module, $event)">
                                <div class="article-module-render" v-html="module.render">{{module.render}}</div>
                                <div class="article-module-options" v-if="module.mousein">
                                    <el-button class="article-module-options-button" type="primary" size="mini" icon="el-icon-edit" @click="moduleEdit(module)"></el-button>
                                    <el-button class="article-module-options-button" type="danger" size="mini" icon="el-icon-delete" @click="moduleRemove(module)"></el-button>
                                </div>
                            </div>
                        </template>
                        <div v-if="drag.ongoing" class="drop-area">拖放此处</div>
                    </el-scrollbar>
                </div>
            </div>
            <div :class="'right ' + previewViewPort.status">
                <div style="width:100%; height:100%; position:relative;">
                    <div class="preview-container">
                        <div class="preview-layer0">
                            <div class="preview-layer1">
                                <div class="preview-layer2" :style="{width:previewViewPort.width, height:previewViewPort.height}">
                                    <div class="preview-viewport" v-html="doPreview()">{{doPreview()}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div :class="'editor-toolbar '+toolbar.status" @click.stop="editorToolbarShow">
                        <el-tooltip class="item" effect="dark" content="调节视图尺寸" placement="left">
                            <div class="button-scope"><button class="el-button el-button--default change-size" @click.stop="editViewportSize"><span class="feather-icon-airplay"></span></button></div>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="全屏" placement="left">
                            <div class="button-scope"><button class="el-button el-button--default change-max" @click.stop="previewViewportMax"><span class="feather-icon-maximize"></span></button></div>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="退出全屏" placement="left">
                            <div class="button-scope"><button class="el-button el-button--default change-mini" @click.stop="previewViewportMini"><span class="feather-icon-minimize"></span></button></div>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="最小化菜单" placement="left">
                            <div class="button-scope"><button class="el-button el-button--default toolbar-exit" @click.stop="editorToolbarHide"><span class="feather-icon-log-out"></span></button></div>
                        </el-tooltip>
                    </div>
                </div>
            </div>
            <div class="toolbar">
                <div class="button-scope">
                    <el-tooltip class="item" effect="dark" content="退出" placement="left">
                        <el-button size="medium" style="width:40px; height:40px; padding:0;" @click="hide"><span class="feather-icon-log-out" style="font-size:22px; position:relative; left:2px; bottom:1px;"></span></el-button>
                    </el-tooltip>
                </div>
                <div class="button-scope">
                    <el-tooltip class="item" effect="dark" content="保存" placement="left">
                        <el-button size="medium" style="font-size:22px; width:40px; height:40px; padding:0;" @click="save" :loading="loading.save"><span v-if="!loading.save" class="feather-icon-save" style="font-size:22px; position:relative; left:1px; bottom:1px;"></span></el-button>
                    </el-tooltip>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑内容对话框 -->
    <el-dialog
            :title="editContentTitle()"
            :visible.sync="dialog.editContent.visible"
            width="500px"
            :close-on-click-modal="false"
            :before-close="handleEditContentClose">

        <div style="max-height:300px; overflow-y:auto;">
            <el-form label-width="80px">
                <el-form-item v-for="variable in dialog.editContent.variables" :key="variable.key" :label="variable.comment">
                    <template v-if="variable.editor === 'INPUT'">
                        <el-input v-model="variable.value"></el-input>
                    </template>
                    <template v-if="variable.editor === 'TIME'">
                        <el-date-picker
                                style="width:100%;"
                                v-model="variable.value"
                                type="datetime"
                                placeholder="选择日期时间"
                                align="right"
                                :picker-options="editors.time"
                                value-format="yyyy-MM-dd HH:mm:ss">
                        </el-date-picker>
                    </template>
                    <template v-if="variable.editor === 'PARAGRAPH'">
                        <div :class="variable.__hover?'variable-editor hover':'variable-editor'" @mousemove="variableEditorMousemove(variable)" @mouseout="variableEditorMouseout(variable)">
                            <el-input type="textarea" v-model="variable.value" rows="8"></el-input>
                            <el-button class="variable-edit-button" type="primary" size="mini" icon="el-icon-edit" @click="selectTxt(variable)"></el-button>
                        </div>
                    </template>
                    <template v-if="variable.editor === 'IMAGE'">
                        <table>
                            <tr>
                                <td style="width:100px; vertical-align:middle; border:1px solid #eaeaea;">
                                    <img style="width:100px; height:100px; float:left;" :src="variable.value" />
                                </td>
                                <td style="width:100px; vertical-align:middle;">
                                    <el-button type="primary" style="padding:0; margin:0; width:100px; height:100px; line-height:100px; border-radius:0;" @click="selectImage(variable)">
                                        <span class="el-icon-edit" style="font-size:40px; position:relative; top:7px;"></span>
                                    </el-button>
                                </td>
                            </tr>
                        </table>
                    </template>
                    <template v-if="variable.editor === 'VIDEO'">
                        <div :class="variable.__hover?'variable-editor hover':'variable-editor'" @mousemove="variableEditorMousemove(variable)" @mouseout="variableEditorMouseout(variable)" style="min-height:36px;">
                            {{variable.value}}
                            <el-button class="variable-edit-button" type="primary" size="mini" icon="el-icon-edit" @click="selectVideo(variable)"></el-button>
                        </div>
                    </template>
                    <template v-if="variable.editor === 'AUDIO'">
                        <div :class="variable.__hover?'variable-editor hover':'variable-editor'" @mousemove="variableEditorMousemove(variable)" @mouseout="variableEditorMouseout(variable)" style="min-height:36px;">
                            {{variable.value}}
                            <el-button class="variable-edit-button" type="primary" size="mini" icon="el-icon-edit" @click="selectAudio(variable)"></el-button>
                        </div>
                    </template>
                    <template v-if="variable.editor === 'ARRAY_SIMPLE'">
                        <el-tag
                                :key="simple"
                                v-for="simple in variable.value"
                                closable
                                :disable-transitions="false"
                                @close="handleArraySimpleRemove(variable.value, simple)">
                            {{simple}}
                        </el-tag>
                        <el-input
                                class="input-new-tag"
                                v-if="editors.arraySimple.visible"
                                v-model="editors.arraySimple.value"
                                ref="arraySimpleAddInput"
                                size="small"
                                @keyup.enter.native="handleArraySimpleAdd(variable.value)"
                                @blur="handleArraySimpleAdd(variable.value)">
                        </el-input>
                        <el-button v-else class="button-new-tag" size="small" @click="handleArraySimpleEdit">+ 添加值</el-button>
                    </template>

                </el-form-item>
            </el-form>
        </div>

        <span slot="footer" class="dialog-footer">
            <el-button size="medium" @click="dialog.editContent.visible = false">取 消</el-button>
            <el-button size="medium" type="primary" @click="handleEditContentCommit">确 定</el-button>
        </span>

    </el-dialog>

    <!-- 选择图片对话框 -->
    <mi-image-dialog ref="selectImage" @selected-image="selectedImage"></mi-image-dialog>

    <!-- 选择文本对话框 -->
    <mi-txt-dialog ref="selectTxt" @selected-txt="selectedTxt"></mi-txt-dialog>

    <!-- 选择视频对话框 -->
    <mi-video-dialog ref="selectVideo" @selected-video="selectedVideo"></mi-video-dialog>

    <!-- 选择音频对话框 -->
    <mi-audio-dialog ref="selectAudio" @selected-audio="selectedAudio"></mi-audio-dialog>

    <!-- 预览窗口尺寸调整 -->
    <el-dialog
            title="预览窗口尺寸"
            :visible.sync="dialog.viewportSize.visible"
            width="550px"
            :before-close="handleViewportSizeClose">

        <el-button-group style="margin-bottom:22px;">
            <el-button style="line-height:35px; height:35px; width:35px; text-align:center; padding:0;" size="small" @click="handleViewportMaximize"><span style="font-size:14px; position:relative; top:2px;" class="feather-icon-maximize"></span></el-button>
            <el-button style="line-height:35px; height:35px; width:35px; text-align:center; padding:0;" size="small" @click="handleViewportSD">SD</el-button>
            <el-button style="line-height:35px; height:35px; width:35px; text-align:center; padding:0;" size="small" @click="handleViewportHD">HD</el-button>
            <el-button style="line-height:35px; height:35px; width:35px; text-align:center; padding:0;" size="small" @click="handleViewportPhone"><span style="font-size:20px; position:relative; top:3px;" class="icon-mobile-phone"></span></el-button>
        </el-button-group>

        <el-form ref="form" label-width="20px">
            <el-form-item label="宽">
                <el-input v-model="dialog.viewportSize.width"></el-input>
            </el-form-item>
            <el-form-item label="高">
                <el-input v-model="dialog.viewportSize.height"></el-input>
            </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button size="medium" @click="dialog.viewportSize.visible = false">取 消</el-button>
            <el-button size="medium" type="primary" @click="handleViewportSizeCommit">确 定</el-button>
        </span>

    </el-dialog>

</div>