/* reset */
.bvc2-preview-layout,
.bvc2-preview-layout div,
.bvc2-preview-layout span,
.bvc2-preview-layout a{box-sizing:border-box;}
.bvc2-preview-layout a{text-decoration:none;}

.bvc2-preview-layout{width:100%; height:100%; position:relative;}
.bvc2-preview-layout-wrapper{position:absolute; left:0; top:60px; right:0; bottom:0px;}
.bvc2-preview-layout-container{position:relative; width:100%; height:100%; background-color:#16191E;}
.bvc2-preview-layout-tool-bar{width:100%; height:60px; position:absolute; left:0; top:0; background-color:#24292D;}
.bvc2-preview-layout-tool-bar-wrapper{width:100%; height:100%; position:relative;}
.bvc2-preview-layout .tool-bar-item{display:inline-block; height:32px; width:150px; position:absolute; top:14px;}
.bvc2-preview-layout .tool-bar-item:first-child{right:10px; width:80px;}
.bvc2-preview-layout .tool-bar-item-times{position:absolute; top:16px; left:88px; font-size:20px; color:#666664;}
.bvc2-preview-layout .tool-bar-item:nth-child(3){left:110px; width:70px;}
.bvc2-preview-layout .tool-bar-item:last-child{right:10px;}
.tool-bar-title{line-height:60px; color:#fff; font-size:14px;}
.bvc2-preview-layout .tool-bar-item .el-select input{background:transparent; border-radius:2px; border-color:#5C676D;}
.bvc2-preview-layout-buttons{width:100%; height:60px; position:absolute; left:0; bottom:0; border:1px solid #E3E8EB;}
.bvc2-preview-layout-buttons>table{width:100%; height:100%; border-collapse:collapse;}
.bvc2-preview-layout-buttons>table td{border:1px solid #E3E8EB; border-bottom:0; border-top:0; text-align:center; vertical-align:middle; font-size:14px; cursor:pointer;}
.bvc2-preview-layout-buttons>table td:first-child{border-left:0;}
.bvc2-preview-layout-buttons>table td:last-child{border-right:0;}
.bvc2-preview-layout-buttons>table td .el-button{color:#606266}
.bvc2-preview-layout-buttons>table td:hover .el-button{color:#409eff;}
.bvc2-preview-layout-buttons>table td:active .el-button{color:#3A8EE6;}
.bvc2-preview-layout-buttons>table td.disabled:hover .el-button,
.bvc2-preview-layout-buttons>table td.disabled:active .el-button{color:#606266}
.bvc2-preview-layout-buttons>table td span.button-icon{margin-right:5px;}

/* 自由分屏屏内小部件样式 */
.bvc2-preview-layout-polling-button{color:#fff; font-size:14px; cursor:pointer;}
.bvc2-preview-layout-polling-button>.el-icon-edit{margin-right:5px;}
.bvc2-preview-layout-polling-button:hover{color:#409eff;}
.screen-config-polling-switch{position:absolute; bottom:5px; right:5px;}
.screen-config-polling-status-switch{position:absolute; left:5px; bottom:5px; display:none;}
.screen-config-empty{position:absolute; top:5px; right:5px; padding:0; color:#fff;}
.screen-config-empty>span{font-size:18px;}

/** 样式覆盖 */
.bvc2-preview-layout .screen-config-polling-switch .el-checkbox__input.is-checked+.el-checkbox__label{color:#fff;}
.bvc2-preview-layout .el-input__inner{border-radius:0; background-color:#24292D; border-color:#606266; color:#fff;}
.bvc2-preview-layout .el-input__inner:focus{border-color:#fff;}
.bvc2-preview-layout .el-switch__label.is-active{color:#fff;}
.bvc2-preview-layout .el-switch__label{color:#606266;}
.bvc2-preview-layout .el-checkbox__label{color:#fff;}