/* reset */
.bvc2-monitor-forword * {
  box-sizing: border-box !important;
}

.bvc2-monitor-forword .el-scrollbar__wrap {
  overflow-x: hidden;
}

.domain-item {
  padding: 10px;
  border: solid 1px #eee;
  border-radius: 5px;
  margin-bottom: 20px;
}

.title {
  padding: 12px 12px;
}

.el-tree {
  position: relative !important;
}

.col {
  width: 40%;
  flex: 1;
  padding: 10px;
  border: solid 1px #eee;
  border-radius: 5px;
  float: left;
  min-height: 700px;
  margin-right: 30px;
  max-height: 780px;
  overflow: auto;
  background-color: #fff;
}

.col+.col {
  margin-left: 10px;
}

.item {
  padding: 3px 6px;
  margin: 0px 10px 0px 10px;
  /* border: solid 1px #eee; */
  /* background-color: #f1f1f1; */
  /* margin-top: 6px; */
}

.item:hover {
  background-color: #fdfdfd;
  cursor: move;
}

.item+.item {
  border-top: none;
}

.icon {
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}