<div class="bvc2-monitor-forword " style="background-color:#fff; ">
  <div class="clearfix">
    <div class="col">
      <div class="title">编码器</div>
      <div class="custom-tree-container">
        <div>
          <el-tree ref="tree" :data="encodetree" default-expand-all node-key="id" highlight-current
            :expand-on-click-node="false" :props="defaultProps" @node-click="handleNodeClick">
            <div class="custom-tree-node" slot-scope="{ node, data }">
              <span v-if="data.type == 'FOLDER'">{{data.name}}</span>
              <draggable v-else element="span" :options="{group:{name: 'site',pull:'clone', put: false},sort: true}"
                :bundleId="data.id" bundleType="recode" animation="300" @start="onStart" @end="onEnd">
                <span class="item">{{data.name}}</span>
              </draggable>
            </div>
          </el-tree>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="title">解码器</div>
      <div class="custom-tree-container">
        <div>
          <el-tree ref="tree" :data="recodetree" default-expand-all node-key="id" highlight-current
            :expand-on-click-node="false" :props="defaultProps" @node-click="handleNodeClick">
            <div class="custom-tree-node" slot-scope="{ node, data }">
              <span v-if="data.type == 'FOLDER'">{{data.name}}</span>
              <draggable :bundleId="data.id" bundleType="decode" v-else element="span"
                :options="{group:{name: 'site',pull:'clone'},sort: true}" @start="onStart" @end="onEnd" animation="300">
                <span class="item">{{data.name}}</span>
              </draggable>
            </div>
          </el-tree>
        </div>
      </div>
    </div>
  </div>
</div>