<div class="bvc2-monitor-forword " style="background-color:#fff; ">
  <el-tabs v-model="activeName" @tab-click="handleClick"  >
    <template v-for="item in stationList">    
    <el-tab-pane  :label="item.stationName" :name="item.identity" :key="item.identity" v-if="item.originType == 'INNER'">
    </el-tab-pane>
    </template>
  </el-tabs>
  <!-- <el-button size='small' type='primary' :autofocus='true' plain @click="isExterior = 'false'">本域转发</el-button>
  <el-button size='small' type='primary' plain @click="isExterior = 'true'">外域转发</el-button> -->
  <div class="clearfix">
    <div class="col">
      <div class="title">编码器</div>
      <div class="custom-tree-container">
        <div>
          <el-tree ref="tree" :data="encodetree" default-expand-all node-key="id" highlight-current
            :expand-on-click-node="false" :props="defaultProps" @node-click="handleNodeClick"
            :filter-node-method="handleFilterNode">
            <div class="custom-tree-node" slot-scope="{ node, data }">
              <span v-if="data.type == 'FOLDER'">{{data.name}}</span>
              <draggable v-else element="span" :options="{group:{name: 'site',pull:'clone', put: false},sort: true}"
                animation="300" @start="onStart" @end="onEnd">
                <span :bundleId="data.id" bundleType="encode" class="item">{{data.name}}</span>
              </draggable>
            </div>
          </el-tree>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="title">{{decodeTitle}}</div>
      <div class="custom-tree-container">
        <div>
          <el-tree ref="tree2" :data="recodetree" default-expand-all node-key="id" highlight-current
            :expand-on-click-node="false" :props="defaultProps" @node-click="handleNodeClick"
            :filter-node-method="filterNode">
            <div class="custom-tree-node" slot-scope="{ node, data }">
              <span v-if="data.type == 'FOLDER'">{{data.name}}</span>
              <draggable v-else element="span" :options="{group:{name: 'site',pull:'clone'},sort: true}"
                @start="onStart" @end="onEnd" animation="300">
                <span :bundleId="data.id" bundleType="recode" class="item">{{data.name}}</span>
              </draggable>
            </div>
          </el-tree>
        </div>
      </div>
    </div>
  </div>
</div>