.collapse-in-form .el-collapse-item__arrow{line-height:40px;}
.collapse-in-form .el-collapse-item__header{height:40px; line-height:40px;}
.constraint-dialog .el-dialog__body{padding:0;}
.constraint-dialog .el-dialog__header{padding:0;}
.constraint-dialog .el-tabs__nav{border-radius:0!important;}
.constraint-dialog .el-dialog__headerbtn{z-index:1;}
.constraint-dialog .el-tabs__item{height:54px; line-height:54px; padding:0 10px !important;}
.constraint-dialog .el-tabs__nav{border-top:0 !important; border-left:0 !important;}
.form-with-top-style .el-form-item__label{line-height:1em !important;}