.program-scree .content{height:340px; position:relative;}
.program-scree .content-wrapper{width:600px; height:400px; position:absolute; top:-30px; left:0;}
.program-scree .tree-wrapper{height:348px; margin-top: 20px; overflow: auto;}
.program-scree .footer{height:32px;}

/*移除表格底部的横条*/
.el-table::before {
    height: 0;
}

/*移除input加减按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}

.screen{
    border: 1px solid #ebeef5;
    transition: .3s;
    border-radius: 4px;
    overflow: hidden;
    background-color:#777;
    /*padding-top: 20px;*/
    /*padding-left: 20px;*/
    position: absolute;
    display: inline-block;
}

.screen:hover{
    box-shadow: inset 0 2px 12px 0 rgba(1, 1, 1, 1);
}

.screen.choosed{
    background-color:#408294;
}

.chooseFile{
    margin-top: 20px;
    margin-left: 20px;
}

.demo-date-picker {
    margin: 8px;
}