<div id="right-bar" class="right-bar">
  <div class="tabBar">
    <!--第一部分的菜单-->
    <div class="secondMenu" v-show="switchStatus1">
      <div>
        <!--树形菜单-->
        <div class="commandTable"
          style="position:absolute; left:15px; top:5px; width:290px;height: 310px; bottom:50px;overflow: hidden">
          <div style="width:100%; height:100%; position:relative;" v-loading="group.loading">
            <el-scrollbar style="height:90%;">
              <el-tree ref="commandUserTree" :filter-node-method="filterCommandUserNode" :data="group.tree"
                node-key="id" :props="props">
                <span class="headline" slot-scope="scope">
                  <span :class="scope.data.type==='USER'?'handDown el-icon-tickets':''"
                    style="font-size: 20px;margin: 5px;color: #00ceff"
                    @click="handleContextMenuShow($event, scope.data,null,'观看')"></span>
                  <el-checkbox v-if="scope.data.type==='USER'" v-model="scope.data.checked"
                    @change="onCommandUserCheckChange(scope.data)">
                    <span :class="scope.data.icon" :style="scope.data.style+' position:relative; top:1px;'"></span>
                    <span class="headFonts">{{scope.data.name}}</span>
                    <el-popover placement="top" width="200" trigger="click" :content="scope.data.name">
                      <span class="el-icon-arrow-down" style="font-size: 14px;color: #00ceff" slot="reference"></span>
                    </el-popover>
                  </el-checkbox>
                  <span v-else>
                    <span :class="scope.data.icon" :style="scope.data.style"></span>
                    <span class="sheadFont">{{scope.data.name}}</span>
                    <el-popover placement="top" width="200" trigger="click" :content="scope.data.name">
                      <span class="icon-double-angle-down" style="font-size: 14px;color: #00ceff"
                        slot="reference"></span>
                    </el-popover>
                  </span>
                </span>
              </el-tree>
            </el-scrollbar>
          </div>
        </div>

        <!--底部按钮 -->
        <div class="btnContainer">
          <div :class="'option-button '+(buttons.addMember?'':'disable')" title="添加成员" @click="addCommandMember">
            <img v-if="buttons.addMember" :src="baseUrl+'images/zk-leader/able/addMember.png'" />
            <img v-else :src="baseUrl+'images/zk-leader/disable/addMember.png'" />
          </div>
          <div :class="'option-button '+(buttons.removeMember?'':'disable')" title="强退成员" @click="removeCommandMember">
            <img v-if="buttons.removeMember" :src="baseUrl+'images/zk-leader/able/removeMember.png'" />
            <img v-else :src="baseUrl+'images/zk-leader/disable/removeMember.png'" />
          </div>
          <div :class="'option-button '+(buttons.cooperativeCommand?'':'disable')" title="会议协同"
            @click="cooperativeCommand">
            <img v-if="buttons.cooperativeCommand" :src="baseUrl+'images/zk-leader/able/cooperativeCommand.png'" />
            <img v-else :src="baseUrl+'images/zk-leader/disable/cooperativeCommand.png'" />
          </div>
          <div :class="'option-button '+(buttons.cancelCooperative?'':'disable')" title="取消协同"
            @click="cancelCooperativeCommand">
            <i class=" icon-globe" style="position: absolute;top:6px;left: 13px;font-size: 36px;color: #fff"></i>
            <span style="position: absolute;bottom: 1px;color: #fff;font-size: 10px;left: 10px">取消协同</span>
          </div>
          <div :class="'option-button '+(buttons.commandForward?'':'disable')" title="会议转发" @click="commandForward">
            <img v-if="buttons.commandForward" :src="baseUrl+'images/zk-leader/able/commandForward.png'" />
            <img v-else :src="baseUrl+'images/zk-leader/disable/commandForward.png'" />
          </div>
          <div :class="'option-button '+(buttons.silenceUp?'':'disable')"
            :title="buttons.silenceUp && buttons.silenceUpStart?'开启对上静默':'关闭对上静默'" @click="silenceUp">
            <img v-if="buttons.silenceUp && buttons.silenceUpStart"
              :src="baseUrl+'images/zk-leader/able/silenceUpStart.png'" />
            <img v-if="buttons.silenceUp && !buttons.silenceUpStart"
              :src="baseUrl+'images/zk-leader/able/silenceUpStop.png'" />
            <img v-if="!buttons.silenceUp" :src="baseUrl+'images/zk-leader/disable/silenceUp.png'" />
          </div>
          <div :class="'option-button '+(buttons.cooperativeCommand?'':'disable')" title="会议成员" @click="commandMembers">
            <img v-if="buttons.cooperativeCommand" :src="baseUrl+'images/zk-leader/able/memberList.png'" />
            <img v-else :src="baseUrl+'images/zk-leader/able/memberList.png'" />
          </div>
          <div :class="'option-button '+(buttons.sendMessage?'':'disable')" title="发送通知" @click="sendMessage">
            <img v-if="buttons.sendMessage" :src="baseUrl+'images/zk-leader/able/sendMessage.png'" />
            <img v-else :src="baseUrl+'images/zk-leader/disable/sendMessage.png'" />
          </div>
          <div :class="'option-button '+(buttons.commandReminder?'':'disable')"
            :title="buttons.isRemind?'关闭会议提醒':'开启会议提醒'" @click="commandRemind">
            <img v-if="buttons.commandReminder && !buttons.isRemind"
              :src="baseUrl+'images/zk-leader/able/commandReminder.png'" />
            <img v-if="buttons.commandReminder && buttons.isRemind"
              :src="baseUrl+'images/zk-leader/able/commandReminderPause.png'" />
            <img v-if="!buttons.commandReminder" :src="baseUrl+'images/zk-leader/disable/commandReminder.png'" />
          </div>
          <div :class="'option-button '+(buttons.commandRestart?'':'disable')" :title="!buttons.isPause?'开始会议':'恢复会议'"
            @click="startCommand">
            <img v-if="buttons.commandRestart" :src="baseUrl+'images/zk-leader/able/commandRestart.png'" />
            <img v-else :src="baseUrl+'images/zk-leader/disable/commandRestart.png'" />
          </div>
          <div :class="'option-button '+(buttons.commandPause?'':'disable')" title="暂停会议" @click="pauseCommand">
            <img v-if="buttons.commandPause" :src="baseUrl+'images/zk-leader/able/commandPause.png'" />
            <img v-else :src="baseUrl+'images/zk-leader/disable/commandPause.png'" />
          </div>
          <div :class="'option-button '+(buttons.exitCommand?'':'disable')" title="退出会议" @click="exitCommand">
            <img v-if="buttons.exitCommand" :src="baseUrl+'images/zk-leader/able/exitCommand.png'" />
            <img v-else :src="baseUrl+'images/zk-leader/disable/exitCommand.png'" />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>