<mi-frame id="page-omms-software-service-backup-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">备份列表管理</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item><a href="#/page-omms-hardware-server">{{deploymentName}}</a></el-breadcrumb-item>
        <el-breadcrumb-item>备份列表管理</el-breadcrumb-item>
    </template>

    <template>
        <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
            <el-button type="primary" size="small" @click="handleCreate"><span class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;备份</el-button>
            <div style="position:absolute; top:60px; bottom:50px; left:0; right:0; padding:0 20px;">
                <el-scrollbar style="height:100%;">
                    <el-table
                            :data="rows"
                            :row-key="rowKey"
                            style="width:100%">
                        <el-table-column
                                label="服务器"
                                prop="serverName">
                        </el-table-column>
                        <el-table-column
                                label="IP"
                                prop="serverIp">
                        </el-table-column>
                        <el-table-column
                                label="服务"
                                prop="deploymentName">
                        </el-table-column>
                        <el-table-column
                                label="版本"
                                prop="version">
                        </el-table-column>
                        <el-table-column
                                label="备份时间"
                                prop="backupTime">
                        </el-table-column>
                        <el-table-column
                                label="备注"
                                prop="notes">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="220">
                            <template slot-scope="scope">
                                <el-tooltip class="item" effect="dark" content="删除备份" placement="bottom-end">
                                    <el-button type="text" icon="el-icon-delete" style="font-size:20px; padding:0; margin-left:3px;" @click="handleRowDelete(scope)"></el-button>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-scrollbar>
            </div>
        </el-card>
    </template>

    <template>
        <el-dialog
                title="添加备份"
                :visible.sync="dialog.addBackupVisible"
                width="600px"
                :before-close="handleAddBackupClose">
            <el-form label-width="80px">
                <el-form-item>
                    <el-switch
                            v-model="dialog.value"
                            active-text="备份数据库"
                            inactive-text="不备份数据库">
                    </el-switch>
                </el-form-item>
                <el-form-item label="添加备注">
                    <el-input
                            type="textarea"
                            :rows="2"
                            placeholder="请输入内容"
                            v-model="dialog.notes">
                    </el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleAddBackupClose">取消</el-button>
                <el-button size="medium" type="primary" @click="handleAddBackupSubmit">确定</el-button>
            </span>
        </el-dialog>
    </template>
</mi-frame>