<mi-frame id="page-media-picture-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">媒资库-图片</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>图片媒资</el-breadcrumb-item>
    </template>

    <template>
        <div style="margin-bottom:10px;">
            <el-button type="primary" size="small" @click="handleAdd"><span class="feather-icon-plus" style="position:relative; right:1px;"></span>&nbsp;新建</el-button>
            <el-button type="warning" size="small" @click="dialog.createFolder.visible = true"><span class="feather-icon-folder-plus" style="position:relative; right:1px;"></span>&nbsp;新建文件夹</el-button>
            <!--<el-button-group style="margin-left:10px;">
                <el-button size="small">下载</el-button>
                <el-button size="small">删除</el-button>
                <el-button size="small">重命名</el-button>
                <el-button size="small">复制</el-button>
                <el-button size="small">移动</el-button>
            </el-button-group>-->
            <el-tooltip class="item" effect="dark" content="展示任务列表" placement="bottom-end">
                <el-button size="small" style="float:right; width:32px; height:32px; padding:0; text-align:center; line-height:32px;" @click="taskViewShow"><span class="icon-tasks"></span></el-button>
            </el-tooltip>
            <el-input placeholder="搜索您的文件" size="small" suffix-icon="el-icon-search" style="float:right; width:300px; margin-right:10px;"></el-input>
        </div>
        <div style="margin-bottom:10px;">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item v-for="item in breadCrumb" :key="'breadcrumb-' + item.uuid">
                    <a :href="'#/page-material/' + item.id" v-if="item.next">{{item.name}}</a>
                    <template v-else>{{item.name}}</template>
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div style="position:absolute; top:86px; bottom:0; left:0; right:0; padding:0 20px;">
            <el-scrollbar style="height:100%;">
                <el-table
                        :data="table.rows"
                        @cell-mouse-enter="mouseEnter"
                        @cell-mouse-leave="mouseLeave"
                        tooltip-effect="dark"
                        style="width:100%">
                    <el-table-column type="selection" width="40"></el-table-column>
                    <el-table-column width="40">
                        <template slot-scope="scope">
                            <span :class="scope.row.icon" :style="scope.row.style"></span>
                        </template>
                    </el-table-column>
                    <el-table-column label="文件名">
                        <template slot-scope="scope">
                            <el-button v-if="scope.row.type==='FOLDER'" type="text" style="padding:0; color:inherit;"><a class="folder-link" :href="'#/page-material/'+scope.row.id">{{scope.row.name}}</a></el-button>
                            <span v-else>{{scope.row.name}}</span>
                                <span :style="'float:right; position:relative;' + (scope.row.__hover__?'display:inline-block;':'display:none;')">
                                    <el-tooltip  v-if="scope.row.type!=='FOLDER'" class="item" effect="dark" content="下载" placement="bottom">
                                        <el-button size="small" type="text" style="padding:0; position:absolute; top:1px; right:87px;" @click="handleDownload(scope)">
                                            <span class="el-icon-download" style="font-size:20px; position:relative; top:1px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-tooltip v-if="scope.row.type!=='FOLDER'" class="item" effect="dark" content="预览" placement="bottom">
                                        <el-button size="small" type="text" style="padding:0; position:absolute; top:2px; right:57px;" @click="handlePreview(scope)">
                                            <span class="icon-eye-open" style="font-size:18px; position:relative; top:1px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="删除" placement="bottom">
                                        <el-button
                                                size="small"
                                                type="text"
                                                style="padding:0; position:absolute; right:30px; top:2px;"
                                                @click="handleRowRemove(scope)">
                                            <span class="el-icon-delete" style="font-size:18px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-dropdown trigger="click" style="position:absolute; right:0; top:2px;" @visible-change="table.tooltip=!table.tooltip" @command="tableOptionsCommand($event, scope)">
                                        <el-tooltip :disabled="table.tooltip" class="item" effect="dark" content="更多" placement="bottom">
                                            <el-button size="small" type="text" style="padding:0;"><span class="el-icon-more-outline" style="font-size:18px;"></span></el-button>
                                        </el-tooltip>
                                        <el-dropdown-menu slot="dropdown">
                                            <el-dropdown-item command="0" v-if="scope.row.type==='FOLDER'">重命名</el-dropdown-item>
                                            <el-dropdown-item command="1">移动</el-dropdown-item>
                                            <el-dropdown-item command="2">复制</el-dropdown-item>
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </span>
                        </template>
                    </el-table-column>
                    <el-table-column label="大小" width="200">
                        <template slot-scope="scope">{{formatSize(scope.row.size)}}</template>
                    </el-table-column>
                    <el-table-column prop="updateTime" label="创建时间" width="200"></el-table-column>
                </el-table>
            </el-scrollbar>
        </div>

    </template>
</mi-frame>