/* reset */
html, body {
    overflow: hidden;
}

.zk-settings,
.zk-settings * {
    box-sizing: border-box !important;
}

.zk-settings {
    background-color: #0F2A4D;
    color: white;
    border:1px solid #123e80;
}
.win-header {
    height: 40px;
    background-color: #3668a9;
    border-radius: 4px 4px 0 0;
}

.win-header .win-header-title {
    float: left;
    color: #fff;
    line-height: 40px;
    padding: 0 10px;
}

.win-header .win-header-close {
    float: right;
    color: #fff;
    line-height: 40px;
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
}
.content {
    position: absolute;
    top: 65px;
    left: 55px;
    height: 485px;
    width: 870px;
}
.el-tabs__content {
    overflow: hidden;
    position: relative;
    background: #001B3D;
    bottom: 50px;
    top: 0;
    height: 100%;
}

.zk-settings .el-scrollbar__wrap {
    overflow-x: hidden;
}

.el-tabs__item {
    color: #fff;
    font-size: 18px;
}

.zk-settings .el-radio__inner {
    width: 20px;
    height: 20px;
}

.zk-settings .el-radio {
    color: #d2ced2;
    font-size: 18px;
}

.zk-settings .el-radio__inner::after {
    width: 6px;
    height: 6px;
}

.zk-settings .el-radio__label {
    font-size: 16px;
    position: relative;
    top: 1px;
}

.zk-settings .el-radio + .el-radio {
    margin-left: 80px;
}

.el-form-item__label{
    color:#d2ced2;
    font-size: 18px;
}
.el-input__inner{
    background-color: #0B2D5A;
    border: 1px solid #123e80;
    width: 350px;
}


/*转发关系*/
.el-table, .el-table__expanded-cell,.el-table th, .el-table tr{
    background-color: transparent;
}

.el-table {
    border-radius: 13px 13px 0 0;
}

.el-table th>.cell{
    font-size: 16px;
    color: #6dc3ff;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: #061f3e;
}
.el-table td{
    color: #fff;
    border-bottom: 1px solid #3c3f44;
}
.el-button--primary {
    background-color: #2562F7;
    border: none;
    border-radius: 33px;
    color: #fff;
    padding: 9px 20px;
}

.el-button--primary:focus, .el-button--primary:hover {
    background-color: #2562F7;
    border: none;
}
.el-button--default {
    background-color: #204A6B;
    border: none;
    border-radius: 33px;
    color: #fff;
    padding: 9px 20px;
}
.el-button--default:focus, .el-button--default:hover {
    background-color: #204A6B;
    border: none;
}