<mi-frame id="page-development-basic-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">基本配置</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>基本配置</el-breadcrumb-item>
    </template>

    <template>

        <div style="width:100%; height:100%; position:relative;">
            <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">

                <p style="font-size:20px; margin-top:0;">接口调用配置</p>

                <el-form label-width="126px" label-position="left">
                    <el-form-item label="开发者id(appId)">
                        <p style="margin:0;">{{appId}}</p>
                        <p style="margin:0; color:#9a9a9a;">配合开发者密码调用平台接口。</p>
                    </el-form-item>
                    <el-form-item label="开发者密码(appSecret)">
                        <p style="margin:0;"><el-button type="text" @click="resetAppSecret">重置</el-button></p>
                        <p style="margin:0; color:#9a9a9a;">平台不再提供开发者密码查询，如果遗忘，请重置。</p>
                    </el-form-item>
                </el-form>

                <hr style="border:1px solid #ebeef5; border-bottom:0;"/>

            </el-card>
        </div>

        <el-dialog
                title="修改开发者密码"
                :visible.sync="dialog.resetAppSecret.visible"
                width="450px"
                :before-close="handleResetAppSecretClose">

            <el-form label-width="90px" label-position="left">
                <el-form-item label="开发者密码">
                    <el-input v-model="dialog.resetAppSecret.appSecret"></el-input>
                </el-form-item>
                <el-form-item label="用户密码">
                    <el-input type="password" v-model="dialog.resetAppSecret.password"></el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.resetAppSecret.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleResetAppSecretCommit" :loading="dialog.resetAppSecret.loading">确 定</el-button>
            </span>
        </el-dialog>


    </template>
</mi-frame>