/* 属性面板 */
.bpmn-editor-wrapper{width:100%; height:100%; position:relative;}
.editor-prop-panel{width:300px; position:absolute; z-index:100; right:10px; top:10px; bottom:10px; background-color:#fff;
                      border:1px solid #ebeef5; transition:box-shadow .1s ease-in; border-radius:2px;}
.editor-prop-panel-wrapper{width:100%; height:100%; position:relative;}
.editor-prop-panel:hover{box-shadow:0 2px 12px 0 rgba(0,0,0,.1); border-color:#fafafa;}
.prop-panel-tabs{height:30px;}
.prop-panel-tab{line-height:28px; padding:0 10px; font-size:14px; float:left; position:relative; top:1px; z-index:1; box-sizing:border-box; cursor:pointer;}
.prop-panel-tab.is-active{border-bottom:1px solid #fff; border-top:1px solid transparent; color:#000; border-right:1px solid #ebeef5; top:0;}
.editor-prop-panel:hover .prop-panel-tab.is-active{border-top:1px solid #ebeef5;}
.prop-panel-tab:not(:first-child).is-active{border-left:1px solid #ebeef5;}
.prop-panel-tab-separator{border:1px solid #ebeef5; clear:both; border-bottom:0; margin:0; position:relative; bottom:1px; z-index:0;}
.prop-panel-content-separator{border:1px solid #ebeef5; border-bottom:0; margin:0;}
.prop-panel-contents{position:absolute; left:0; top:30px; bottom:0; right:0;}
.prop-panel-content{width:100%; height:100%; display:none; padding:22px 10px; box-sizing:border-box; position:relative;}
.prop-process-id{margin-bottom:22px; font-size:14px; word-wrap:break-word;}
.prop-panel-content-var-action,
.prop-binding-action{line-height:40px;}
.prop-panel-content-var{position:absolute; top:105px; top:75px; left:0px; right:0; bottom:0; overflow-y:auto; padding:0 10px;}
.prop-expression-variable-table,
.prop-panel-content-var table,
.prop-user-binding table,
.prop-role-binding table,
.prop-variable-show-binding table,
.prop-variable-set-binding table{width:100%; font-size:14px; border-collapse:collapse;}
.prop-expression-variable-table td,
.prop-expression-variable-table th,
.prop-panel-content-var table td,
.prop-panel-content-var table th,
.prop-user-binding table td,
.prop-user-binding table th,
.prop-role-binding table td,
.prop-role-binding table th,
.prop-variable-show-binding table td,
.prop-variable-show-binding table tr,
.prop-variable-set-binding table td,
.prop-variable-set-binding table tr{text-align:left; line-height:40px; border-bottom:1px solid #ebeef5;}
.prop-expression-variable-table th,
.prop-panel-content-var table th,
.prop-user-binding table th,
.prop-role-binding table th,
.prop-variable-show-binding table th,
.prop-variable-set-binding table th{color:#909399;}
.prop-expression-variable-table tr.highlight td{background-color:#f0f7ff;}
.prop-expression-variable-table tbody tr:hover td{background-color:#f5f7fa; cursor:pointer;}
.prop-expression-variable-table td{transition:background-color .25s ease;}
.prop-panel-variable-delete,
.prop-user-binding-delete,
.prop-role-binding-delete,
.prop-variable-show-binding-edit,
.prop-variable-show-binding-delete,
.prop-variable-set-binding-edit,
.prop-variable-set-binding-delete{padding:0; font-size:18px;}
.prop-scope{display:none;}
.prop-bindings{position:absolute; top:124px; left:0; right:0; bottom:0; overflow-y:auto;}
.prop-user-binding{box-sizing:border-box; padding:0 10px;}
.prop-role-binding{box-sizing:border-box; padding:0 10px; margin-top:20px;}
.prop-variable-show-binding{box-sizing:border-box; padding:0 10px; margin-top:20px;}
.prop-variable-set-binding{box-sizing:border-box; padding:0 10px; margin-top:20px;}
.sequence-flow-expression-label{font-size:14px; max-width:120px; word-wrap:break-word;}
.prop-expression-actions{line-height:40px;}

/* 功能按钮 */
.editor-tools{position:absolute; top:10px; left:250px; z-index:100; background-color:#fff; min-width:200px; height:48px;
                border:1px solid #ebeef5; transition:box-shadow .1s ease-in; border-radius:2px;}
.editor-tools:hover{box-shadow:0 2px 12px 0 rgba(0,0,0,.1); border-color:#fafafa;}
.editor-tools .entry{width:48px; text-align:center; float:left; line-height:48px;}
.editor-tools .entry>span{font-size:24px; position:relative;}
.editor-tools .entry>span:not(.disabled):hover{color:rgb(255, 116, 0);}
.editor-tools .entry>span.disabled{opacity:.2; cursor:not-allowed;}
.editor-tools .separator{float:left; display:inline-block; height:34px; border-left:1px solid #ebeef5; position:relative; top:7px;}

/*  调色板样式 */
.djs-palette{width:auto !important; max-width:350px; max-height:560px; overflow-y:auto; border-color:#ebeef5 !important; display:none; box-sizing:border-box; transition:box-shadow .1s ease-in; background-color:#fff;}
.djs-palette:hover{box-shadow:0 2px 12px 0 rgba(0,0,0,.1); border-color:#fafafa;}
.djs-palette .group-header{height:30px; line-height:30px; padding:0 10px; border-top:1px solid #ebeef5;}
.djs-palette .group-header.is-active{border-bottom:1px solid #ebeef5;}
.djs-palette .group:first-child .group-header{border-top:0;}
.djs-palette .group-header .header-text{font-size:14px; font-weight:700;}
.djs-palette .group-header .feather-icon-chevron-right{float:right; font-size:16px; position:relative; top:7px; left:5px; transition:transform .3s;}
.djs-palette .group-header.is-active .feather-icon-chevron-right{transform:rotate(90deg); top:8px;}
.djs-palette .group-entries{display:none;}
.djs-palette .entry, .djs-palette .djs-palette-toggle{width:auto!important; height:30px !important; line-height:30px !important;
                                                             padding:0 20px !important; text-align:left; font-size:18px !important; float:none;
                                                             overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.djs-palette .entry .entry-text{font-size:14px !important; margin-left:5px !important;}
.djs-palette .entry.feather-icon-user:before,
.djs-palette .entry.feather-icon-settings:before{font-size:16px; position:relative;}
.djs-palette .entry.feather-icon-user:before{bottom:2px;}
.djs-palette .entry.feather-icon-settings:before{bottom:1px;}

/* context-pad 样式 */
.djs-context-pad .entry.feather-icon-user:before,
.djs-context-pad .entry.feather-icon-settings:before{position:relative;}
.djs-context-pad .entry.feather-icon-user:before{font-size:22px;}
.djs-context-pad .entry.feather-icon-settings:before{font-size:20px;}
.djs-context-pad .entry.feather-icon-user:before{bottom:3px;}
.djs-context-pad .entry.feather-icon-settings:before{bottom:1px;}

/* 弹出菜单样式 */
.djs-popup{width:auto !important; max-width:200px; border-color:#ebeef5 !important; display:none; box-sizing:border-box; transition:box-shadow .1s ease-in;}
.djs-popup:hover{box-shadow:0 2px 12px 0 rgba(0,0,0,.1); border-color:#fafafa;}
.djs-popup .group-header{height:30px; line-height:30px; padding:0 10px; border-top:1px solid #ebeef5;}
.djs-popup .group-header.is-active{border-bottom:1px solid #ebeef5;}
.djs-popup .group:first-child .group-header{border-top:0;}
.djs-popup .group-header .header-text{font-size:14px; font-weight:700;}
.djs-popup .group-header .feather-icon-chevron-right{float:right; font-size:16px; position:relative; top:7px; left:5px; transition:transform .3s;}
.djs-popup .group-header.is-active .feather-icon-chevron-right{transform:rotate(90deg); top:8px;}
.djs-popup .group-entries{display:none;}
.djs-popup .entry{width:auto!important; height:30px !important; line-height:30px !important;
                    padding:0 20px !important; text-align:left; font-size:18px !important; float:none;
                    overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.djs-popup .entry>span{font-size:14px !important; margin-left:5px !important; position:relative; bottom:5px;}
.djs-popup .entry.feather-icon-settings:before{font-size:16px; position:relative;}
.djs-popup .entry.feather-icon-settings:before{bottom:5px;}