<mi-frame id="page-liangwu-user-batch-wrapper" :menus="menus" :user="user" :groups="groups" :active-id="activeId">

  <template slot="title">{{i18n.title}}</template>

  <template slot="links">
    <el-breadcrumb-item><a href="#/page-home">{{i18n.homePage}}</a></el-breadcrumb-item>
    <el-breadcrumb-item>{{i18n.currentPage}}</el-breadcrumb-item>
  </template>

  <template>
    <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">

      <el-button type="primary" size="small" @click="handleCreate"><span
          class="icon-plus sp_title"></span>&nbsp;{{i18n.handleCreate}}</el-button>
      <!-- <el-button type="warning" size="small" @click="handelDelete"><span class="icon-trash sp_title"></span>&nbsp;删除用户</el-button> -->

      <el-button v-if="importInfo.status" size="small" disabled><span class="feather-icon-download-cloud"
          style="position:relative; right:1px;"></span>&nbsp;{{i18n.handleExportDisabled}}</el-button>
      <el-button v-else size="small" @click="handleExport"><span class="feather-icon-download-cloud"
          style="position:relative; right:1px;"></span>&nbsp;{{i18n.handleExport}}</el-button>

      <el-button v-if="importInfo.status" size="small" disabled><span class="feather-icon-upload-cloud"
          style="position:relative; right:1px;"></span>&nbsp;{{i18n.handleImportDisabled0}}{{importInfo.currentUser}}{{i18n.handleImportDisabled1}}{{importInfo.totalUsers}}
      </el-button>
      <el-button v-else size="small" @click="handleImport"><span class="feather-icon-upload-cloud"
          style="position:relative; right:1px;"></span>&nbsp;{{i18n.handleImport0}}{{importInfo.importTimes}}{{i18n.handleImport1}}
      </el-button>
      <div class="condition-item">
        <el-input v-model="table.condition.nickname" :placeholder="i18n.placeholderConditionNickname" clearable
          size="small"></el-input>
      </div>
      <el-button type="primary" size="small" @click="batchLogin">&nbsp;批量登录</el-button>
      <!-- <div class="condition-item">
        <el-input v-model="table.condition.userno" :placeholder="i18n.placeholderConditionUserno" clearable
          size="small"></el-input>
      </div> -->
      <el-button type="primary" size="small" style="margin-left:10px;" @click="load(1)">{{i18n.load}}</el-button>

      <div class="div_user_list">
        <el-scrollbar style="height:100%;">
          <el-table :data="table.rows" :row-key="rowKey" style="width:100%">
            <!-- <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column> -->
            <el-table-column :label="i18n.tableColumnNickname" prop="nickname">
            </el-table-column>
            <el-table-column :label="i18n.tableColumnUsername" prop="username">
            </el-table-column>
            <!-- <el-table-column :label="i18n.tableColumnUserno" prop="userno">
            </el-table-column> -->
            <!-- <el-table-column
                                label="状态"
                                prop="status">
                        </el-table-column> -->
            <!-- <el-table-column :label="i18n.tableColumnMobile" prop="mobile">
            </el-table-column>
            <el-table-column :label="i18n.tableColumnMail" prop="mail">
            </el-table-column> -->


            <el-table-column :label="i18n.labelCreateUserRemark" prop="remark">
            </el-table-column>

            <el-table-column :label="i18n.labelCreateUserLastLoginTime" prop="lastLoginTime" width="250">
            </el-table-column>

            <el-table-column :label="i18n.labelCreateUserBindIp" prop="loginIp">
            </el-table-column>
            <!-- <el-table-column :label="i18n.tableColumnLevel">
              <template slot-scope="scope">{{scope.row.level?scope.row.level:1}}</template>
            </el-table-column>
            <el-table-column :label="i18n.tableColumnLock">
              <template slot-scope="scope">
                <el-switch v-model="scope.row.locked" active-color="#ff4949"
                  @change="handelUserLockStatusChange(scope)">
                </el-switch>
              </template>
            </el-table-column> -->
            <el-table-column :label="i18n.tableColumnOperation" width="250">
              <template slot-scope="scope">
                <el-tooltip class="item" effect="dark" :content="i18n.tipHandleRowEdit" placement="bottom-end">
                  <el-button v-if="scope.row.classify==='LDAP'" type="text" icon="el-icon-edit" class="bt_list_handle"
                    disabled></el-button>
                  <el-button v-else type="text" icon="el-icon-edit" class="bt_list_handle"
                    @click="handleRowEdit(scope)"></el-button>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" :content="i18n.tipGotoBindBusinessRole" placement="bottom-end">
                  <el-button type="text" icon="feather-icon-lock" class="bt_list_handle bt_list_center_handle"
                    @click="gotoBindBusinessRole(scope)"></el-button>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" :content="i18n.tipHandleRowDelete" placement="bottom-end">
                  <el-button v-if="scope.row.classify==='LDAP'" type="text" icon="el-icon-delete"
                    class="bt_list_handle bt_list_center_handle" disabled></el-button>
                  <el-button v-else type="text" icon="el-icon-delete" class="bt_list_handle bt_list_center_handle"
                    @click="handleRowDelete(scope)"></el-button>
                </el-tooltip>
              </template>
            </el-table-column>
          </el-table>
        </el-scrollbar>
      </div>

      <div class="div_table_foot">
        <el-pagination style="float:right;" background @size-change="handleSizeChange"
          @current-change="handleCurrentChange" :current-page="table.currentPage" :page-sizes="table.pageSizes"
          :page-size="table.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="table.total">
        </el-pagination>
      </div>
    </el-card>

    <el-dialog title="批量登录" :visible.sync="dialog.batchLogin.visible" width="700px">
      <el-form label-width="120px" size="mini">
        <el-form-item label="账号前缀">
          <el-input v-model="dialog.batchLogin.userName"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="dialog.batchLogin.password"></el-input>
        </el-form-item>
        <el-form-item label="登录开始序号">
          <el-input v-model="dialog.batchLogin.beginNumber"></el-input>
        </el-form-item>
        <el-form-item label="登录结束序号">
          <el-input v-model="dialog.batchLogin.endNumber"></el-input>
        </el-form-item>
      </el-form>

      <form action="/do/password/login" method="POST" style="margin-top: 20px;" target="_blank">
        <el-input name="username" class="border-radius-2px" placeholder="账号/邮箱/手机号" v-model="username"
          style="display: none;">
          <span slot="prefix" class="feather-icon-user" style="font-size:20px; position:relative; top:9px;"></span>
        </el-input>
        <el-input type="password" v-model="passwordInput" class="border-radius-2px" placeholder="密码"
          style="margin-top:20px;display: none;">
          <span slot="prefix" class="feather-icon-lock" style="font-size:20px; position:relative; top:9px;"></span>
        </el-input>
        <input name="password" type="hidden" v-model="passwordEncode"></input>
        <button type="submit" style="display:none" class="login-submit-button"></button>
        </div>
        <el-button class="el-button el-button--primary" style="margin-top: 20px; width: 100%; border-radius: 2px;"
          @click="loginSubmit">登录</el-button>
        <!--  -->
      </form>
      <!-- <iframe name="form" id="form"></iframe> -->
      <!-- <el-button type="primary" size="small" @click="handlebatchLoginSubmit"><span class="icon-plus"
          style="position:relative; right:1px;"></span>&nbsp;确定</el-button> -->
    </el-dialog>

    <el-dialog :title="i18n.dialogCreateUserTitle" :visible.sync="dialog.createUser.visible" width="700px"
      :before-close="handleCreateUserClose">
      <div class="div_create">
        <!-- <el-scrollbar style="height:100%;"> -->
        <el-form label-width="120px" size="mini">
          <el-form-item :label="i18n.labelCreateUserNickname">
            <el-input v-model="dialog.createUser.nickname"></el-input>
          </el-form-item>
          <el-form-item :label="i18n.labelCreateUserUsername">
            <el-input v-model="dialog.createUser.username"></el-input>
          </el-form-item>
          <el-form-item v-show="false" :label="i18n.labelCreateUserUserno">
            <el-input v-model="dialog.createUser.userno"></el-input>
          </el-form-item>
          <el-form-item :label="i18n.labelCreateUserPassword">
            <el-input type="password" v-model="dialog.createUser.password"></el-input>
          </el-form-item>
          <el-form-item :label="i18n.labelCreateUserRepeat">
            <el-input type="password" v-model="dialog.createUser.repeat"
              :placeholder="i18n.placeholderCreateUserRepeat"></el-input>
          </el-form-item>
          <!-- 备注 -->
          <el-form-item :label="i18n.labelCreateUserRemark">
            <el-input v-model="dialog.createUser.remark"></el-input>
          </el-form-item>
          <!-- 绑定ip -->
          <el-form-item :label="i18n.labelCreateUserBindIp">
            <el-col :span="13">
              <el-input :disabled="isLoginIpDisabled" v-model="dialog.createUser.loginIp"></el-input>
            </el-col>
            <el-col :span="5" :offset="2">
              <el-checkbox v-model="dialog.createUser.isLoginIp" @change="isLoginIpChange">是否首次登录记录IP</el-checkbox>
            </el-col>
          </el-form-item>


          <!-- 绑定角色 -->
          <el-form-item :label="i18n.labelCreateUserBindRole">
            <el-input v-model="dialog.createUser.bindrole" @click.native="handleChangeFolder"></el-input>
          </el-form-item>

          <!-- 绑定接入层 -->
          <el-form-item :label="i18n.labelCreateUserBindAccessNodeUid">
            <el-input v-model="bindAccessNodeUidName" @click.native="handleChangeNodeUid"></el-input>
          </el-form-item>

          <el-form-item label="创建用户数">
            <el-input v-model="createNumber"></el-input>
          </el-form-item>
        </el-form>
        <!-- </el-scrollbar> -->
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="dialog.createUser.visible = false">{{i18n.handleCreateUserCancel}}</el-button>
        <el-button size="medium" type="primary" @click="handleCreateUserSubmit" :loading="dialog.createUser.loading">
          批量创建</el-button>
      </span>

    </el-dialog>


    <!-- 绑定角色对话框 -->
    <el-dialog title="绑定角色" :visible.sync="dialogBindRole.bindRoleDialogTableVisible">

      <el-table ref="roleTable" :data="roleOption" @selection-change="handleSelectionChange" :row-key="roleOption.id"
        width="100%">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column prop="name" label="名称" width="200"></el-table-column>
      </el-table>
      <el-button type="primary" size="small" @click="handleBindRoleSubmit"><span class="icon-plus"
          style="position:relative; right:1px;"></span>&nbsp;确定</el-button>

      <!-- <div>弹框</div> -->
    </el-dialog>

    <!-- 绑定接入层 -->
    <el-dialog title="绑定接入层" :visible.sync="bindAccessNodeUidVisable" width="500px">
      <el-table ref="accessNodeTable" :data="accessNodeTable" :row-key="roleOption.id" width="100%" height="400"
        @current-change="currentRowChange" highlight-current-row>
        <!-- <el-table-column type="selection" width="55"></el-table-column> -->
        <el-table-column prop="name" label="名称" width="200"></el-table-column>
        <el-table-column prop="ip" label="ip" width="200"></el-table-column>
      </el-table>
      <el-button type="primary" size="small" @click="handleBindAccessNodeUidSubmit" style="margin-top:15px"><span
          class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;确定</el-button>

      <!-- <div>弹框</div> -->
    </el-dialog>
    <!-- 修改流程对话框 -->
    <el-dialog :title="i18n.dialogEditUserTitle" :visible.sync="dialog.editUser.visible" width="500px"
      :before-close="handleEditUserClose">

      <div>
        <el-form label-width="110px">
          <el-form-item :label="i18n.labelEditUserNickname">
            <el-input v-model="dialog.editUser.nickname"></el-input>
          </el-form-item>

          <!-- 备注 -->
          <el-form-item :label="i18n.labelCreateUserRemark">
            <el-input v-model="dialog.editUser.remark"></el-input>
          </el-form-item>
          <!-- 绑定ip -->
          <!-- <el-form-item :label="i18n.labelCreateUserBindIp">
            <el-input v-model="dialog.editUser.loginIp"></el-input>
          </el-form-item> -->


          <!-- 绑定角色 -->

          <el-form-item :label="i18n.labelCreateUserBindRole">
            <el-input v-model="dialog.editUser.bindrole" @click.native="handleChangeFolder"></el-input>
          </el-form-item>
          <!-- 绑定接入层 -->
          <el-form-item :label="i18n.labelCreateUserBindAccessNodeUid">
            <el-input v-model="dialog.editUser.bindAccessNodeUidName" @click.native="handleChangeNodeUid"></el-input>
          </el-form-item>
          <div class="div_change_pw">
            <el-button class="bt_change_pw" type="text"
              @click="dialog.editUser.editPassword=!dialog.editUser.editPassword">
              {{i18n.labelEditUserEditPassword}}
              <span v-if="dialog.editUser.editPassword" class="el-icon-arrow-up"></span>
              <span v-else class="el-icon-arrow-down"></span>
            </el-button>
          </div>
          <el-form-item v-if="dialog.editUser.editPassword" :label="i18n.labelEditUserOldPassword">
            <el-input type="password" v-model="dialog.editUser.oldPassword"></el-input>
          </el-form-item>
          <el-form-item v-if="dialog.editUser.editPassword" :label="i18n.labelEditUserNewPassword">
            <el-input type="password" v-model="dialog.editUser.newPassword"></el-input>
          </el-form-item>
          <el-form-item v-if="dialog.editUser.editPassword" :label="i18n.labelEditUserRepeat">
            <el-input type="password" v-model="dialog.editUser.repeat" :placeholder="i18n.placeholderEditUserRepeat">
            </el-input>
          </el-form-item>
        </el-form>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="dialog.editUser.visible = false">{{i18n.handleEditUserCancel}}</el-button>
        <el-button size="medium" type="primary" @click="handleEditUserSubmit" :loading="dialog.editUser.loading">
          {{i18n.handleEditUserSubmit}}</el-button>
      </span>

    </el-dialog>

  </template>

  <template>
    <a id="page-business-user-export"></a>
    <mi-upload-dialog ref="miUploadDialog" :require-type="dialog.import.requireType" :multiple="dialog.import.multiple"
      @file-selected="fileSelected"></mi-upload-dialog>
  </template>

</mi-frame>