<div class="bvc2-monitor-record-liangwu"
  style="width:100%; height:100%; padding-left:10px; padding-right:10px; box-sizing:border-box; background-color:#fff;">
  <div style="width:100%; height:100%; position:relative;">
    <div style="width:100%; padding-top:10px; box-sizing:border-box;">
      <el-button size="small" @click="handleAddRecord" type="primary">添加录制</el-button>
      <!--<el-button size="small" type="danger">停止录制</el-button>-->
      <el-select size="small" v-model="condition.mode" placeholder="切换录制模式" style="width:150px; margin-left:10px;">
        <el-option key="ALL" label="全部" value="ALL"></el-option>
        <el-option key="MANUAL" label="手动录制" value="MANUAL"></el-option>
        <el-option key="SCHEDULING" label="定时录制" value="SCHEDULING"></el-option>
        <el-option key="TIMESEGMENT" label="排期录制" value="TIMESEGMENT"></el-option>
        <el-option key="CYCLE" label="循环录制" value="CYCLE"></el-option>
      </el-select>
      <el-select size="small" v-model="condition.status" placeholder="任务状态" style="width:150px; margin-left:10px;">
        <el-option key="" label="全部" value=""></el-option>
        <el-option key="WAITING" label="等待" value="WAITING"></el-option>
        <el-option key="RUN" label="进行中" value="RUN"></el-option>
        <el-option key="STOP" label="已完成" value="STOP"></el-option>
        <el-option key="WAITINGTORESTART" label="等待重新开始" value="WAITINGTORESTART"></el-option>
      </el-select>
      <el-input size="small" placeholder="筛选设备" v-model="condition.deviceName" :readonly="true"
        style="width:150px; margin-left:10px;" @click.native="handleSelectDevice"></el-input>
      <el-date-picker size="small" v-model="condition.timeScope" type="datetimerange" start-placeholder="开始日期"
        end-placeholder="结束日期" :default-time="['12:00:00']" style="margin-left:10px;">
      </el-date-picker>
      <el-button type="primary" size="small" @click="handleTotalSizeMb">设置磁盘大小</el-button>
      <el-tag type="success" style="margin-left: 10px;">当前设置磁盘大小：{{totalSizeMb?totalSizeMb:'未设置'}}/GB</el-tag>
      <el-tag type="danger" style="margin-left: 10px;">当前录制数：{{totleRecord}}/20</el-tag>
    </div>
    <div style="width:100%;  left:0; bottom:52px; background-color:#fff;overflow: auto;">
      <el-table height="100%" :data="table.data" stripe style="width: 100%; min-height: 700px;">
        <!--<el-table-column
                        type="selection"
                        width="55">
                </el-table-column>-->
        <el-table-column fixed prop="fileName" label="录制任务名">
        </el-table-column>
        <el-table-column prop="mode" label="录制模式" width="100">
        </el-table-column>
        <el-table-column prop="videoSource" label="录制设备">
        </el-table-column>
        <el-table-column prop="startTime" label="开始时间" width="200">
        </el-table-column>
        <el-table-column prop="endTime" label="结束时间" width="200">
        </el-table-column>
        <el-table-column prop="status" label="任务状态" width="200">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="150">
          <template slot-scope="scope">
            <el-tooltip v-if="scope.row.status != '已完成'" class="item" effect="dark" content="停止任务" placement="bottom">
              <el-button type="text" icon="el-icon-circle-close-outline"
                style="padding:0; font-size:20px; position:relative; top:1px;" @click="rowDelete(scope)"></el-button>
            </el-tooltip>
            <el-tooltip v-if="scope.row.mode == '排期'" class="item" effect="dark" content="导出" placement="bottom">
              <el-button type="text" icon="el-icon-download"
                style="padding:0; font-size:20px; position:relative; top:1px;" @click="openDownload(scope)"></el-button>
            </el-tooltip>
            <el-tooltip v-else class="item" effect="dark" content="导出" placement="bottom">
              <el-button type="text" icon="el-icon-download"
                style="padding:0; font-size:20px; position:relative; top:1px;" @click="handleDownload(scope.row)">
              </el-button>
            </el-tooltip>
            <el-tooltip v-if="scope.row.mode == '排期'" class="item" effect="dark" content="详情" placement="bottom">
              <el-button type="text" icon="el-icon-tickets"
                style="padding:0; font-size:20px; position:relative; top:1px;" @click="handleDetail(scope.row)">
              </el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div style="width:100%; height:52px; position:absolute; left:0; bottom:0; box-sizing:border-box; padding-top:10px;">
      <el-pagination style="float:right;" background @size-change="handleSizeChange"
        @current-change="handleCurrentChange" :current-page="table.page.currentPage"
        :page-sizes="[20, 50, 100, 500, 1000]" :page-size="table.page.pageSize"
        layout="total, sizes, prev, pager, next, jumper" :total="table.page.total">
      </el-pagination>
    </div>
  </div>
  <template>
    <el-dialog title="添加录制任务" :visible.sync="dialog.addRecord.visible" width="872px"
      :before-close="handleAddRecordClose">
      <div style="width:100%; height:400px; position:relative;">
        <div style="position:absolute; top:-30px; bottom:-30px; left:-20px; right:-20px;">
          <div class="monitor92-padding-top10"
            style="width:100%; height:100%; box-sizing:border-box; padding-left:10px; padding-right:10px; position:relative;">
            <div style="width:400px;height:100%; border:1px solid #ebebeb;">
              <el-scrollbar style="height:100%;">
                <el-tree :data="dialog.addRecord.tree.data" :props="dialog.addRecord.tree.props">
                  <span class="custom-tree-node" slot-scope="{node, data}">
                    <el-radio v-if="data.type==='BUNDLE'&&data.type !== 'USER'" v-model="dialog.addRecord.bundleId"
                      :label="data.id">
                      <span :class="data.icon" :style="data.style"></span>
                      <span>{{node.label}}</span>
                    </el-radio>
                    <span v-else-if="data.type!=='BUNDLE'&&data.type!=='USER'">
                      <span :class="data.icon" :style="data.style"></span>
                      <span>{{node.label}}</span>
                    </span>
                  </span>
                </el-tree>
              </el-scrollbar>
            </div>
            <div class="monitor92-top10"
              style="position:absolute; left:420px; right:10px; top:0; bottom:0; border:1px solid #ebebeb;">
              <div style="width:100%; height:100%; position:relative; padding:10px 15px;">
                <el-form label-width="0" ref="addRecordForm">
                  <el-form-item style="margin-bottom:10px;">
                    <el-select size="medium" v-model="dialog.addRecord.mode" placeholder="切换录制模式"
                      @change="addRecordModeChange" style="width:400px;">
                      <el-option key="MANUAL" label="手动录制" value="MANUAL"></el-option>
                      <el-option key="SCHEDULING" label="定时录制" value="SCHEDULING"></el-option>
                      <el-option key="TIMESEGMENT" label="排期录制" value="TIMESEGMENT"></el-option>
                      <el-option key="CYCLE" label="循环录制" value="CYCLE"></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item style="margin-bottom:10px;width: 400px;" prop="fileName">
                    <el-input size="medium" v-model="dialog.addRecord.fileName" placeholder="请输入任务名称"></el-input>
                  </el-form-item>

                  <el-form-item v-if="dialog.addRecord.mode==='SCHEDULING'" style="margin-bottom:10px;width:320px">
                    <el-date-picker size="medium" v-model="dialog.addRecord.timeScope" type="datetimerange"
                      start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['12:00:00']">
                    </el-date-picker>
                  </el-form-item>
                  <div v-if="dialog.addRecord.mode==='TIMESEGMENT'">
                    <el-form-item>
                      <el-input :disabled="dialog.addRecord.startTimeDisabled"
                        v-model="dialog.addRecord.timeSegmentmodeStartDay" style="width: 230px;">
                        <el-select slot="prepend" size="medium" v-model="dialog.addRecord.timeSegmentmode"
                          @change="timeModeChange" style="width:100px;" placeholder="时间段">
                          <el-option key="month" label="每月" value="month"></el-option>
                          <el-option key="year" label="每周" value="week"></el-option>
                          <el-option key="day" label="每日" value="day"></el-option>
                        </el-select>
                        <el-button slot="append">{{dialog.addRecord.timeModeChangeText}}</el-button>
                      </el-input>
                      <el-time-picker style="width: 180px;" v-model="dialog.addRecord.timeSegmentmodeStartTime"
                        placeholder="任意时间点" value-format="HH:mm:ss">
                      </el-time-picker>
                    </el-form-item>
                    <el-form-item>
                      <el-input :disabled="dialog.addRecord.startTimeDisabled"
                        v-model="dialog.addRecord.timeSegmentmodeEndDay" style="width: 230px;">
                        <el-button slot="prepend" style="width:100px;">至</el-button>
                        <el-button slot="append">{{dialog.addRecord.timeModeChangeText}}</el-button>
                      </el-input>
                      <el-time-picker style="width: 180px;" v-model="dialog.addRecord.timeSegmentmodeEndTime"
                        placeholder="任意时间点" value-format="HH:mm:ss">
                      </el-time-picker>
                    </el-form-item>
                  </div>
                </el-form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="handleAddRecordClose">取消</el-button>
        <el-button size="medium" type="primary" @click="handleAddRecordCommit" :loading="dialog.addRecord.loading">确定
        </el-button>
      </span>
    </el-dialog>

    <el-dialog title="筛选设备" :visible.sync="dialog.selectDevice.visible" width="380px"
      :before-close="handleSelectDeviceClose">

      <div style="width:100%; height:400px; position:relative;">
        <div class="monitor92-padding-top10"
          style="position:absolute; top:-30px; bottom:-30px; left:-20px; right:-20px; padding-left:10px; padding-right:10px;">
          <div style="width:100%; height:100%; box-sizing:border-box; position:relative; border:1px solid #ebebeb;">
            <el-scrollbar style="height:100%;">
              <el-tree :data="dialog.selectDevice.tree.data" :props="dialog.selectDevice.tree.props">
                <span class="custom-tree-node" slot-scope="{node, data}">
                  <el-radio v-if="data.type==='BUNDLE'" v-model="dialog.selectDevice.tree.currentDevice"
                    :label="data.param">
                    <span :class="data.icon" :style="data.style"></span>
                    <span>{{node.label}}</span>
                  </el-radio>
                  <span v-else>
                    <span :class="data.icon"></span>
                    <span>{{node.label}}</span>
                  </span>
                </span>
              </el-tree>
            </el-scrollbar>
          </div>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="handleSelectDeviceClose">取消</el-button>
        <el-button size="medium" type="primary" @click="handleSelectDeviceCommit"
          :loading="dialog.selectDevice.loading">确定</el-button>
      </span>
    </el-dialog>

    <el-dialog title="导出列表" :visible.sync="dialog.download.visible" width="872px" :before-close="handleDownloadClose">
      <el-table height="100%" :data="downloadTable.data" stripe style="width: 100%">

        <el-table-column prop="fileName" label="任务名" width="200">
        </el-table-column>
        <el-table-column prop="startTime" label="开始时间" width="200">
        </el-table-column>
        <el-table-column prop="endTime" label="结束时间" width="200">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="100">
          <template slot-scope="scope">
            <el-tooltip class="item" effect="dark" content="下载" placement="bottom">
              <el-button type="text" icon="el-icon-download"
                style="padding:0; font-size:20px; position:relative; top:1px;" @click="handleDownload(scope.row)">
              </el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>

      <div style="width:100%; height:52px;  left:0; bottom:0; box-sizing:border-box; padding-top:10px;">
        <el-pagination style="float:right;" background @size-change="handleSizeChangeByDownloadTable"
          @current-change="handleCurrentChangeByDownloadTable" :current-page="downloadTable.page.currentPage"
          :page-sizes="[20, 50, 100, 500, 1000]" :page-size="downloadTable.page.pageSize"
          layout="total, sizes, prev, pager, next, jumper" :total="downloadTable.page.total">
        </el-pagination>
      </div>
    </el-dialog>


    <el-dialog title="详情" :visible.sync="dialog.detail.visible" width="700px" class="dialog-detail">
      <el-form label-width="100px" class="demo-ruleForm" v-model="dialog.detail.form">
        <el-form-item label="任务名 :">
          <el-input v-model="dialog.detail.form.fileName" readonly></el-input>
        </el-form-item>
        <el-form-item label="录制模式 :">
          <el-input v-model="dialog.detail.form.mode" readonly></el-input>
        </el-form-item>
        <el-form-item label="录制设备 :">
          <el-input v-model="dialog.detail.form.bundle" readonly></el-input>
        </el-form-item>
        <el-form-item label="排期周期 :">
          <el-input v-model="dialog.detail.form.timeSegmentMode" readonly></el-input>
        </el-form-item>
        <el-form-item label="起始时间 :">
          <el-input v-model="dialog.detail.form.timeSegmentStartDay" readonly></el-input>
        </el-form-item>
        <el-form-item label="结束时间 :">
          <el-input v-model="dialog.detail.form.timeSegmentEndDay" readonly></el-input>
        </el-form-item>
      </el-form>
    </el-dialog>
  </template>
</div>