/* reset */
.bvc2-monitor-record * {
  box-sizing: border-box !important;
}

.bvc2-monitor-record .el-scrollbar__wrap {
  overflow-x: hidden;
}

.dialog-detail .el-input__inner {
  border: none !important;
}