<div class="zk-settings" style="width:100%; height:100%; position:relative;">
    <div class="title">系统设置</div>
   <div class="content">
       <el-tabs tab-position="left" style="height:100%;">
           <el-tab-pane label="呼叫设置">
               <div style="padding-left:20px;">
                   <div style="margin-bottom:40px;">
                       <div style="font-size:20px; margin-bottom:20px;">呼叫应答方式</div>
                       <div>
                           <el-radio-group v-model="callResponseMode" @change="handleCallResponseModeChange">
                               <el-radio label="0">手动</el-radio>
                               <el-radio label="1">自动</el-radio>
                           </el-radio-group>
                       </div>
                   </div>
               </div>
           </el-tab-pane>
           <el-tab-pane label="视频转发">
               <div style="padding-left:20px;">
                   <div style="margin-bottom:40px;">
                       <div style="font-size:20px; margin-bottom:20px;">视频转发应答方式</div>
                       <div>
                           <el-radio-group v-model="videoSendAnswerMode" @change="handleVideoSendAnswerModeChange">
                               <el-radio label="0">手动</el-radio>
                               <el-radio label="1">自动</el-radio>
                           </el-radio-group>
                       </div>
                   </div>
               </div>
           </el-tab-pane>
       </el-tabs>
   </div>
    <div class="close" @click="closeMask">
        <img src="../../../../../images/zk-leader/close.png" alt="">
    </div>
</div>