<div class="bvc2-monitor-currenttask "
  style="width: 100%; height: 100%; padding-left: 10px; padding-right: 10px; box-sizing: border-box; background-color: rgb(255, 255, 255);">

  <div class="curTask">
    <el-tabs v-model="activeName">
      <el-tab-pane label="任务列表" name="0">
        <p>当前任务：{{curTask}}</p>
        <el-table :data="tableData" :row-class-name="tableRowClass">
          <el-table-column prop="name" label="任务名称" width="180"></el-table-column>
          <el-table-column prop="date" label="开始时间" width="180"></el-table-column>
          <!-- <el-table-column prop="address" label="地址"></el-table-column> -->
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="text" @click="setCur(scope.row)" v-if="scope.row.id!=curId">设为当前任务</el-button>
              <el-tag type="success" v-else>这条数据是当前任务</el-tag>
              <el-button @click="handleEdit(scope.row)" type="text" size="small">修改</el-button>
              <el-button type="text" size="small" @click="deleteRow(scope.row)" v-show="scope.row.id!=curId">删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="添加任务" name="1">
        <el-form label-width="120px" :model="formLabelAlign">
          <el-form-item label="任务名称">
            <el-input v-model="formLabelAlign.name"></el-input>
          </el-form-item>
          <el-form-item label="开始时间">
            <el-date-picker v-model="formLabelAlign.time" type="datetime" placeholder="选择日期时间">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="是否设为当前">
            <el-switch v-model="formLabelAlign.isCurrent" active-color="#13ce66" inactive-color="#ff4949">
            </el-switch>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="createTask" v-show="showBtn">创建任务</el-button>
            <el-button type="primary" @click="createTask" v-show="!showBtn">修改任务</el-button>
            <el-button @click="cancel">取消创建</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </div>

</div>