<mi-frame id="page-access-point-wrapper" :menus="menus" :user="user" :groups="groups" :active-id="activeId">

    <template slot="title">服务接入点</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item><a :href="gotoService()">{{serviceName}}</a></el-breadcrumb-item>
        <el-breadcrumb-item>接入点</el-breadcrumb-item>
    </template>

    <template>
        <el-card class="box-card" shadow="hover" style="width:100%; height:100%; position:relative; overflow:visible;">

            <div style="position:absolute; left:0; top:0; right:500px; bottom:0;">
                <div style="width:100%; height:100%; position:relative; border-right:1px solid rgb(235, 238, 245);">

                    <div style="padding:10px;">
                        <el-button type="primary" size="small" @click="handleCreate"><span class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;添加接入点</el-button>
                        <el-button type="warning" size="small" @click="handleDelete"><span class="icon-trash" style="position:relative; right:1px;"></span>&nbsp;删除接入点</el-button>
                    </div>

                    <div style="position:absolute; top:52px; bottom:50px; left:0; right:0; padding:0 10px;">
                        <el-scrollbar style="height:100%;">
                            <el-table
                                    :data="table.rows"
                                    :row-key="rowKey"
                                    style="width:100%"
                                    highlight-current-row
                                    @current-change="handleCurrentRowChange">
                                <el-table-column
                                        type="selection"
                                        width="55">
                                </el-table-column>
                                <el-table-column
                                        label="名称"
                                        prop="name">
                                </el-table-column>
                                <el-table-column
                                        label="类型"
                                        prop="type">
                                </el-table-column>
                                <el-table-column
                                        label="方法"
                                        prop="method">
                                </el-table-column>
                                <el-table-column
                                        label="备注"
                                        prop="remarks"
                                        width="300">
                                </el-table-column>
                                <el-table-column
                                        label="操作"
                                        width="220">
                                    <template slot-scope="scope">
                                        <el-tooltip class="item" effect="dark" content="编辑接入点信息" placement="bottom-start">
                                            <el-button type="text" icon="el-icon-edit" style="font-size:20px; padding:0;" @click="handleRowEdit(scope)"></el-button>
                                        </el-tooltip>
                                       <!-- <el-tooltip class="item" effect="dark" content="编辑参数" placement="bottom">
                                            <el-button type="text" icon="el-icon-tickets" style="font-size:20px; padding:0; margin-left:20px;" @click="handleSubParams(scope)"></el-button>
                                        </el-tooltip>-->
                                        <el-tooltip class="item" effect="dark" content="编辑约束" placement="bottom">
                                            <el-button type="text" icon="el-icon-share" style="font-size:20px; padding:0; margin-left:20px;" @click="handleSubConstraints(scope)"></el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="删除接入点" placement="bottom-end">
                                            <el-button type="text" icon="el-icon-delete" style="font-size:20px; padding:0; margin-left:20px;" @click="handleRowDelete(scope)"></el-button>
                                        </el-tooltip>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-scrollbar>
                    </div>

                    <div style="height:50px; width:100%; position:absolute; left:0; bottom:0; box-sizing:border-box; padding-right:20px;">
                        <el-pagination
                                style="float:right;"
                                background
                                @current-change="handleCurrentChange"
                                :current-page="table.currentPage"
                                :page-size="table.pageSize"
                                layout="total, prev, pager, next, jumper"
                                :total="table.total">
                        </el-pagination>
                    </div>

                </div>
            </div>

            <div v-if="table.current" style="width:500px; position:absolute; right:0; top:0; bottom:0;">
                <div style="width:100%; height:100%;">
                    <div style="width:100%; height:50%; box-sizing:border-box; position:relative; border-bottom:1px solid rgb(235, 238, 245);">
                        <div style="height:30px; line-height:30px; padding-left:10px; font-size:14px; font-weight:700;">参数</div>
                        <div style="position:absolute; top:30px; left:0; right:0; bottom:0; padding-left:10px; padding-right:10px; padding-bottom:10px;">
                            <el-scrollbar style="height:100%;">
                                <el-tree
                                        v-loading="tree.pValue.loading"
                                        ref="pValueTree"
                                        :props = "tree.pValue.props"
                                        :data = "tree.pValue.data"
                                        node-key="uuid"
                                        check-strictly
                                        :expand-on-click-node="false"
                                        default-expand-all>

                                    <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;" slot-scope="{node, data}">
                                        <span style="font-size:14px;">
                                            <span v-if="data.type==='基本类型'" class="icon-bold" style="margin-right:3px; position:relative; left:1px;"></span>
                                            <span v-if="data.type==='枚举'" class="icon-th-large" style="margin-right:1px; position:relative; left:1px;"></span>
                                            <span v-if="data.type==='数组'" class="icon-list-ol"></span>
                                            <span v-if="data.type==='复杂类型'" class="icon-list-ul"></span>
                                            <span>{{data.name}}</span>
                                        </span>
                                        <span>
                                            <!--  || (data.type==='数组' && (!data.sub || data.sub.length<=0)) -->
                                            <el-button v-if="(data.type!=='基本类型' && data.type!=='枚举' && data.type!=='数组')" type="text" size="mini" style="padding:0;" @click.stop="handleCreateAccessPointParam('pValue', data, node)">
                                                <span style="font-size:18px;" class="icon-plus"></span>
                                            </el-button>
                                            <el-button type="text" size="mini" style="padding:0; margin-left:5px;" @click.stop="handleDeleteAccessPointParam(data, node, 'pValue')">
                                                <span style="font-size:18px;" class="icon-trash"></span>
                                            </el-button>
                                        </span>
                                    </span>

                                </el-tree>
                            </el-scrollbar>
                        </div>
                        <el-button type="primary" size="medium" circle style="position:absolute; right:-5px; bottom:-15px; box-shadow:0 2px 12px 0 rgba(0,0,0,1); z-index:1;" icon="el-icon-plus" @click="handleCreateAccessPointParam('pValue')"></el-button>
                    </div>
                    <div style="width:100%; height:50%; box-sizing:border-box; position:relative;">
                        <div style="height:30px; line-height:30px; padding-left:10px; font-size:14px; font-weight:700;">
                            返回值
                        </div>
                        <div style="position:absolute; top:30px; left:0; right:0; bottom:0; padding-left:10px; padding-right:10px; padding-bottom:10px;">
                            <el-scrollbar style="height:100%;">
                                <el-tree
                                        v-loading="tree.rValue.loading"
                                        ref="rValueTree"
                                        :props = "tree.rValue.props"
                                        :data = "tree.rValue.data"
                                        node-key="uuid"
                                        check-strictly
                                        :expand-on-click-node="false"
                                        default-expand-all>

                                    <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;" slot-scope="{node, data}">
                                        <span style="font-size:14px;">
                                            <span v-if="data.type==='基本类型'" class="icon-bold" style="margin-right:3px; position:relative; left:1px;"></span>
                                            <span v-if="data.type==='枚举'" class="icon-th-large" style="margin-right:1px; position:relative; left:1px;"></span>
                                            <span v-if="data.type==='数组'" class="icon-list-ol"></span>
                                            <span v-if="data.type==='复杂类型'" class="icon-list-ul"></span>
                                            <span>{{data.name}}</span>
                                        </span>
                                        <span>
                                            <!--  || (data.type==='数组' && (!data.sub || data.sub.length<=0)) -->
                                            <el-button v-if="(data.type!=='基本类型' && data.type!=='枚举' && data.type!=='数组')" type="text" size="mini" style="padding:0;" @click.stop="handleCreateAccessPointParam('rValue', data, node)">
                                                <span style="font-size:18px;" class="icon-plus"></span>
                                            </el-button>
                                            <el-button type="text" size="mini" style="padding:0; margin-left:5px;" @click.stop="handleDeleteAccessPointParam(data, node, 'rValue')">
                                                <span style="font-size:18px;" class="icon-trash"></span>
                                            </el-button>
                                        </span>
                                    </span>

                                </el-tree>
                            </el-scrollbar>
                        </div>
                        <el-button type="primary" size="medium" circle style="position:absolute; right:-5px; bottom:-15px; box-shadow:0 2px 12px 0 rgba(0,0,0,1); z-index:1;" icon="el-icon-plus" @click="handleCreateAccessPointParam('rValue')"></el-button>
                    </div>
                </div>
            </div>

        </el-card>

        <!-- 新建服务接入点对话框 -->
        <el-dialog
                title="新建接入点"
                :visible.sync="dialog.createAccessPoint.visible"
                width="500px"
                :before-close="handleCreateAccessPointClose">

            <div>
                <el-form label-width="90px">
                    <el-form-item label="接入点名称:">
                        <el-input v-model="dialog.createAccessPoint.name"></el-input>
                    </el-form-item>
                    <el-form-item label="接入点类型:">
                        <el-select v-model="dialog.createAccessPoint.type" style="width:100%;">
                            <el-option
                                    v-for="accessPointType in accessPointTypes"
                                    :key="accessPointType"
                                    :label="accessPointType"
                                    :value="accessPointType">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="方法:">
                        <el-input v-model="dialog.createAccessPoint.method"></el-input>
                    </el-form-item>
                    <el-form-item label="备注说明">
                        <el-input type="textarea" v-model="dialog.createAccessPoint.remarks"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.createService.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleCreateAccessPointSubmit" :loading="dialog.createAccessPoint.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 编辑服务接入点对话框 -->
        <el-dialog
                title="编辑接入点"
                :visible.sync="dialog.editAccessPoint.visible"
                width="500px"
                :before-close="handleEditAccessPointClose">

            <div>
                <el-form label-width="90px">
                    <el-form-item label="接入点名称:">
                        <el-input v-model="dialog.editAccessPoint.name"></el-input>
                    </el-form-item>
                    <el-form-item label="接入点类型:">
                        <el-select v-model="dialog.editAccessPoint.type" style="width:100%;">
                            <el-option
                                    v-for="accessPointType in accessPointTypes"
                                    :key="accessPointType"
                                    :label="accessPointType"
                                    :value="accessPointType">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="方法:">
                        <el-input v-model="dialog.editAccessPoint.method"></el-input>
                    </el-form-item>
                    <el-form-item label="备注说明">
                        <el-input type="textarea" v-model="dialog.editAccessPoint.remarks"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editAccessPoint.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleEditAccessPointSubmit" :loading="dialog.editAccessPoint.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 新建参数对话框 -->
        <el-dialog
                title="新建参数"
                :visible.sync="dialog.createAccessPointParam.visible"
                width="500px"
                :before-close="handleCreateAccessPointParamClose">

            <el-dialog
                    class="constraint-dialog"
                    width="600px"
                    :visible.sync="dialog.editParamConstraint.visible"
                    append-to-body
                    :before-close="handleEditParamConstraintClose">

                <el-tabs v-if="dialog.editParamConstraint.contentShow" :value="dialog.editParamConstraint.activeTab" type="card" @tab-click="handleEditParamConstraintTabClick">
                    <el-tab-pane label="自定义" name="custom">
                        <div style="padding:30px 20px;">
                            <el-button-group  style="margin-bottom:22px;">
                                <el-button size="mini" @click="handleEditParamConstraintInsertPrimaryKey">插入变量</el-button>
                            </el-button-group>
                            <div style="float:right; color:#606266; line-height:28px;">带测值引用：#{{dialog.createAccessPointParam.parentKeyPath + dialog.createAccessPointParam.primaryKey}}</div>
                            <el-input type="textarea" ref="customParamConstraint" v-model="dialog.editParamConstraint.constraint.content" style="margin-bottom:22px;"></el-input>
                            <div style="height:200px;">
                                <el-scrollbar style="height:100%;">
                                    <h4 style="margin:0;">调用静态类：</h4>
                                    <ul style="margin-top:5px; margin-bottom:20px;">
                                        <li>T(java.util.Arrays).asList({'aa', 'bb', 'cc', 'dd'}).contains(#{{dialog.createAccessPointParam.parentKeyPath + dialog.createAccessPointParam.primaryKey}})，请注意数组内数据类型</li>
                                    </ul>
                                    <h4 style="margin:0;">判断类型：</h4>
                                    <ul style="margin-top:5px; margin-bottom:20px;">
                                        <li>#{{dialog.createAccessPointParam.parentKeyPath + dialog.createAccessPointParam.primaryKey}} instanceof T(java.lang.String)</li>
                                    </ul>
                                    <h4 style="margin:0;">操作符：</h4>
                                    <ul style="margin-top:5px; margin-bottom:20px;">
                                        <li>关系操作符, 包括: eq(==), ne(!=), lt()<, le(<=), gt(>), ge(>=)</li>
                                        <li>逻辑运算符, 包括: and(&&), or(||), not(!)</li>
                                        <li>数学操作符, 包括: 加(+), 减(-), 乘(*), 除(/), 取模(%), 幂指数(^)</li>
                                        <li>三元操作符, 包括: ?:</li>
                                    </ul>
                                    <h4 style="margin:0;">正则表达式：</h4>
                                    <ul style="margin-top:5px; margin-bottom:20px;">
                                        <li>#{{dialog.createAccessPointParam.parentKeyPath + dialog.createAccessPointParam.primaryKey}} matches '^-?\\d+(\\.\\d{2})+$'</li>
                                    </ul>
                                    <h4 style="margin:0;">内部约束调用：</h4>
                                </el-scrollbar>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="内部约束" name="internal">
                        <div style="padding:30px 20px; height:300px;">
                            <el-scrollbar style="height:100%;">
                                <el-collapse :value="'1'" style="width:540px; margin-bottom:22px;">
                                    <el-collapse-item title="约束列表" name="1">
                                        <el-table
                                                :data="internalConstraints"
                                                style="width:100%;"
                                                height="250"
                                                highlight-current-row
                                                row-key=""
                                                @current-change="handleEditParamConstraintCurrentChange">
                                            <el-table-column
                                                    prop="name"
                                                    label="约束名称"></el-table-column>
                                            <el-table-column
                                                    prop="remarks"
                                                    label="约束说明"></el-table-column>
                                        </el-table>
                                    </el-collapse-item>
                                </el-collapse>
                                <div v-if="dialog.editParamConstraint.constraint.current" style="margin-bottom:22px;">
                                    当前约束：<span>{{constraintRemarksTemplate(dialog.editParamConstraint.constraint.current)}}</span>
                                    <br/>
                                    <br/>
                                    <span style="margin-left:5em;">{{constraintValueTemplate(dialog.editParamConstraint.constraint.current)}}</span>
                                </div>
                                <el-form v-if="dialog.editParamConstraint.constraint.current && dialog.editParamConstraint.constraint.current.params && dialog.editParamConstraint.constraint.current.params.length>0"
                                         class="form-with-top-style" style="width:540px;" label-position="top">
                                    <el-form-item :key="'constraint-param-' + param.key" v-for="param in dialog.editParamConstraint.constraint.current.params" :label="param.name + ':'">
                                        <el-input v-if="param.paramType === 'TARGET'" v-model="param.value" :placeholder="param.remarks" :disabled="true"></el-input>
                                        <el-select v-else-if="param.paramType === 'BOOLEAN'" v-model="param.value" :placeholder="param.remarks" style="width:100%;">
                                            <el-option
                                                    key="boolean-true"
                                                    :label="'true'"
                                                    :value="true">
                                            </el-option>
                                            <el-option
                                                    key="boolean-false"
                                                    :label="'false'"
                                                    :value="false">
                                            </el-option>
                                        </el-select>
                                        <el-input v-else v-model="param.value" :placeholder="param.remarks" ></el-input>
                                    </el-form-item>
                                </el-form>
                            </el-scrollbar>
                        </div>
                    </el-tab-pane>
                </el-tabs>

                <span slot="footer" class="dialog-footer">
                    <el-button size="medium" @click="dialog.editParamConstraint.visible = false">取 消</el-button>
                    <el-button size="medium" type="primary" @click="handleEditParamConstraintSubmit">确 定</el-button>
                </span>

            </el-dialog>

            <div style="height:400px; position:relative;">
                <el-scrollbar style="height:100%">
                    <div style="box-sizing:border-box; padding-right:30px;">
                        <el-form label-width="72px">
                            <el-form-item label="参数名称:">
                                <el-input v-model="dialog.createAccessPointParam.name"></el-input>
                            </el-form-item>
                            <el-form-item label="流程主键:">
                                <el-input v-model="dialog.createAccessPointParam.keySuffix">
                                    <template slot="prepend">{{dialog.createAccessPointParam.keyPrefix}}</template>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="参数主键:">
                                <el-input v-model="dialog.createAccessPointParam.referenceKey"></el-input>
                            </el-form-item>
                            <el-form-item label="参数类型:">
                                <el-select v-model="dialog.createAccessPointParam.type" style="width:100%;" @change="handleCreateAccessPointParamTypeChange">
                                    <el-option
                                            v-for="paramType in paramTypes"
                                            :key="paramType"
                                            :label="paramType"
                                            :value="paramType">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item v-if="dialog.createAccessPointParam.type === '枚举'" label="枚举值:">
                                <div>
                                    <el-tag
                                            style="margin-right:10px"
                                            :key="value"
                                            v-for="(value, index) in dialog.createAccessPointParam.values"
                                            closable
                                            :disable-transitions="false"
                                            @close="handleRemoveValue(value, index)">
                                        {{value}}
                                    </el-tag>
                                    <el-input
                                            style="width:90px; vertical-align:bottom; position:relative; bottom:1px;"
                                            ref="enumInput"
                                            v-if="dialog.createAccessPointParam.enum.inputVisible"
                                            v-model="dialog.createAccessPointParam.enum.inputValue"
                                            size="small"
                                            @keyup.enter.native="handleEnumInputConfirm"
                                            @blur="handleEnumInputConfirm">
                                    </el-input>
                                    <el-button
                                            style="height:32px; line-height:30px; padding-top:0; padding-bottom:0; position:relative; bottom:1px;"
                                            v-else size="small"
                                            @click="handleEnumShowInput">+ 添加值</el-button>
                                </div>
                            </el-form-item>
                            <el-form-item v-if="dialog.createAccessPointParam.type === '基本类型'" label="默认值:">
                                <el-input v-model="dialog.createAccessPointParam.defaultValue"></el-input>
                            </el-form-item>
                            <el-form-item v-if="dialog.createAccessPointParam.primaryKey && (dialog.createAccessPointParam.type === '基本类型' || dialog.createAccessPointParam.type === '枚举')" label="约束:">
                                <div style="position:relative;">
                                    <el-button size="mini" style="position:absolute; left:0; top:6px;" @click="handleAddConstraint"><span class="icon-plus" style="position: relative; right: 1px;"></span>添加</el-button>
                                    <el-collapse class="collapse-in-form" :value="'1'">
                                        <el-collapse-item name="1">
                                            <div v-for="(constraint, index) in dialog.createAccessPointParam.constraint" style="border-bottom:1px solid #ebeef5;">
                                                <table style="width:358px; table-layout:fixed;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:30px; color:#606266; text-align:center; vertical-align:middle;">{{index+1}}</td>
                                                        <td style="width:294px; line-height:48px; color:#606266; word-wrap:break-word;">
                                                            {{constraint.type==='custom'?constraint.content:constraintValueTemplate(constraint.current)}}
                                                        </td>
                                                        <td style="width:30px; vertical-align:middle; text-align:center;">
                                                            <el-button v-if="constraint.origin!=='paramType'" style="padding:0; margin:0; font-size:18px;" type="text" icon="el-icon-delete" @click="handleCreateAccessPointParamConstraintRemove(constraint)"></el-button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </el-collapse-item>
                                    </el-collapse>
                                </div>
                            </el-form-item>
                            <!--<el-form-item label="描述:">
                                <el-select v-model="dialog.createAccessPointParam.direction" style="width:100%;">
                                    <el-option
                                            v-for="paramDirection in paramDirections"
                                            :key="paramDirection"
                                            :label="paramDirection"
                                            :value="paramDirection">
                                    </el-option>
                                </el-select>
                            </el-form-item>-->
                            <el-form-item label="参数顺序:">
                                <el-input-number v-model="dialog.createAccessPointParam.serial" :precision="0" controls-position="right" :min="0" :max="1000"></el-input-number>
                            </el-form-item>
                            <el-form-item label="备注说明:">
                                <el-input type="textarea" v-model="dialog.createAccessPointParam.remarks"></el-input>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-scrollbar>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.createAccessPointParam.visible = false">取消</el-button>
                <el-button size="medium" type="primary" @click="handleCreateAccessPointParamSubmit" :loading="dialog.createAccessPointParam.loading">确定</el-button>
            </span>
        </el-dialog>

    </template>

</mi-frame>