<mi-frame id="page-access-point-wrapper" :menus="menus" :user="user" :groups="groups" :active-id="activeId">

    <template slot="title">服务接入点</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item><a :href="gotoService()">{{serviceName}}</a></el-breadcrumb-item>
        <el-breadcrumb-item>接入点</el-breadcrumb-item>
    </template>

    <template>
        <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">

            <el-button type="primary" size="small" @click="handleCreate"><span class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;添加接入点</el-button>
            <el-button type="warning" size="small" @click="handleDelete"><span class="icon-trash" style="position:relative; right:1px;"></span>&nbsp;删除接入点</el-button>

            <div style="position:absolute; top:86px; bottom:50px; left:0; right:0; padding:0 20px;">
                <el-scrollbar style="height:100%;">
                    <el-table
                            :data="table.rows"
                            :row-key="rowKey"
                            style="width:100%">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                label="名称"
                                prop="name">
                        </el-table-column>
                        <el-table-column
                                label="类型"
                                prop="type">
                        </el-table-column>
                        <el-table-column
                                label="方法"
                                prop="method">
                        </el-table-column>
                        <el-table-column
                                label="备注"
                                prop="remarks"
                                width="300">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="220">
                            <template slot-scope="scope">
                                <el-tooltip class="item" effect="dark" content="编辑接入点信息" placement="bottom-start">
                                    <el-button type="text" icon="el-icon-edit" style="font-size:20px; padding:0;" @click="handleRowEdit(scope)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="编辑参数" placement="bottom">
                                    <el-button type="text" icon="el-icon-tickets" style="font-size:20px; padding:0; margin-left:20px;" @click="handleSubParams(scope)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="编辑约束" placement="bottom">
                                    <el-button type="text" icon="el-icon-share" style="font-size:20px; padding:0; margin-left:20px;" @click="handleSubConstraints(scope)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="删除接入点" placement="bottom-end">
                                    <el-button type="text" icon="el-icon-delete" style="font-size:20px; padding:0; margin-left:20px;" @click="handleRowDelete(scope)"></el-button>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-scrollbar>
            </div>

            <div style="height:50px; width:100%; position:absolute; left:0; bottom:0; box-sizing:border-box; padding-right:20px;">
                <el-pagination
                        style="float:right;"
                        background
                        @current-change="handleCurrentChange"
                        :current-page="table.currentPage"
                        :page-size="table.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="table.total">
                </el-pagination>
            </div>

        </el-card>

        <!-- 新建服务接入点对话框 -->
        <el-dialog
                title="新建接入点"
                :visible.sync="dialog.createAccessPoint.visible"
                width="500px"
                :before-close="handleCreateAccessPointClose">

            <div>
                <el-form label-width="90px">
                    <el-form-item label="接入点名称:">
                        <el-input v-model="dialog.createAccessPoint.name"></el-input>
                    </el-form-item>
                    <el-form-item label="接入点类型:">
                        <el-select v-model="dialog.createAccessPoint.type" style="width:100%;">
                            <el-option
                                    v-for="accessPointType in accessPointTypes"
                                    :key="accessPointType"
                                    :label="accessPointType"
                                    :value="accessPointType">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="方法:">
                        <el-input v-model="dialog.createAccessPoint.method"></el-input>
                    </el-form-item>
                    <el-form-item label="备注说明">
                        <el-input type="textarea" v-model="dialog.createAccessPoint.remarks"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.createService.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleCreateAccessPointSubmit" :loading="dialog.createAccessPoint.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 编辑服务接入点对话框 -->
        <el-dialog
                title="编辑接入点"
                :visible.sync="dialog.editAccessPoint.visible"
                width="500px"
                :before-close="handleEditAccessPointClose">

            <div>
                <el-form label-width="90px">
                    <el-form-item label="接入点名称:">
                        <el-input v-model="dialog.editAccessPoint.name"></el-input>
                    </el-form-item>
                    <el-form-item label="接入点类型:">
                        <el-select v-model="dialog.editAccessPoint.type" style="width:100%;">
                            <el-option
                                    v-for="accessPointType in accessPointTypes"
                                    :key="accessPointType"
                                    :label="accessPointType"
                                    :value="accessPointType">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="方法:">
                        <el-input v-model="dialog.editAccessPoint.method"></el-input>
                    </el-form-item>
                    <el-form-item label="备注说明">
                        <el-input type="textarea" v-model="dialog.editAccessPoint.remarks"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editAccessPoint.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleEditAccessPointSubmit" :loading="dialog.editAccessPoint.loading">确 定</el-button>
            </span>
        </el-dialog>

    </template>

</mi-frame>