html, body {
    background-color: transparent;
}

.message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

.screenCtrl {
    position: absolute;
    padding-left: 21px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: #204ea285 url(../../../../../images/zk-leader/splitScreen.png) no-repeat center;
    background-size: 100% 100%;
}

.screenCtrl div {
    float: left;
    width: 26px;
    height: 22px;
    margin: 8px;
}

.msgBg {
    position: absolute;
    top: 0;
    left: 27%;
    width: 100px;
    height: 30px;
}

.msgContent {
    position: absolute;
    top: 0;
    left: 34%;
    right: 110px;
    height: 70px;
    font-size: 16px;
    color: #eaeaec;
    background: #13a9d691 url(../../../../../images/zk-leader/msgContent.png) no-repeat center;
    overflow: hidden;
}

.msgContent p {
    margin: 0;
    padding: 0 5px;
    line-height: 23px;
    word-break: break-all;
    word-wrap: break-word;
}

/*修改消息界面和 整体的默认的滚动条样式*/
::-webkit-scrollbar { /*滚动条整体样式*/
    width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

.note {
    line-height: 20px;
}

.btn {
    position: absolute;
    top: 54%;
    left: 0;
    height: 32px;
}

.btn div {
    float: left;
    font-size:12px;
    margin: 1px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.forward {
    position: absolute;
    top: 5px;
    right: 0;
    border: 1px solid #f8a036;
    border-radius: 13px;
    background-color: #f8a036;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    /*禁止图片拖拽*/
    -webkit-user-drag: none;
}

div.change{
   width: 80px;
    height: 22px;
    cursor: pointer;
}
.el-button {
    position: absolute;
    padding: 13px;
    top: 5px;
    right: 0;
    background: #204a6b;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #00e9ff;
}

.el-button:active, .el-button:hover, .el-button:focus {
    color: #00e9ff;
    background-color: #204a6b;
    outline: 0;
}

.sendMsg {
    position: absolute;
    left: 34%;
    right: 110px;
    top: 69px;
    height: 40px;
    box-sizing: border-box;
    background-color: #2d4e6885;
    box-sizing: border-box;
}

.sendMsgContent {
    width: 100%;
    height: 100%;
    float: left;
    border: 0;
    background-color: #2d4e6800;
    color: #fff;
    font-size: 16px;
    text-indent: 10px;
    box-sizing: border-box;
}

.sendMsgContent:focus {
    outline: 0;
}

.sendMsgContent::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.sendMsgContent:-moz-placeholder, body {
    color: #fff;
    font-size: 16px;
}

.sendMsgContent::-moz-placeholder {
    color: #fff;
    font-size: 16px;
}

.sendMsgContent:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.sendMsgBtn {
    position:absolute;
    right:0;
    margin: 0;
    padding: 3px 15px;
    display: inline-block;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    float: left;
    cursor: pointer;
    border: 0;
    background-color: #2562f7;
    font-size: 14px;
    margin-top:4px;
    margin-right:4px;
}

@media screen and(max-width: 1680px) {
    .screenCtrl div {
        margin: 4px;
    }
    .btn {
        width: 29%;
    }
}

@media screen and(max-width: 1600px) {
    .btn {
        width: 33%;
    }

    .screenCtrl div {
        margin: 3px;
    }
}

@media screen and(max-width: 1400px) {
    .btn {
        top: 45%;
        width: 32%;
    }

    .screenCtrl div {
        margin: 3px;
    }
}

@media screen and (max-width: 1366px) {
    .message {
        width: 90%;
    }

    .msgContent, .sendMsg {
        left: 34%;
    }

    .sendMsgContent {
        width: 74%;
    }

    .screenCtrl div {
        margin: 1px 3px;
    }
}

@media screen and (max-width: 1100px) {
    .message {
        width: 90%;
    }

    .msgContent, .sendMsg {
        left: 40%;
    }

    .sendMsgContent {
        width: 74%;
    }
}

@media screen and (max-width: 800px) {
    .message {
        width: 86%;
    }

    .msgContent, .sendMsg {
        left: 44%;
    }

    .sendMsgContent {
        width: 66%;
    }
}

@media screen and (max-width: 600px) {
    .message {
        width: 84%;
    }

    .msgContent, .sendMsg {
        left: 48%;
    }

    .sendMsgContent {
        width: 66%;
    }
}

