<div class="container">
    <div class="message">
        <!--切分屏按钮-->
        <div class="screenCtrl">
            <div title="1屏" @click="layoutChange(0)">
                <img v-if="!buttons.one" :src="baseUrl+'images/zk-leader/btns/one.png'"/>
                <img v-else :src="baseUrl+'images/zk-leader/btns/oneActive.png'"/>
            </div>
            <div title="2屏" @click="layoutChange(5)">
                <img v-if="!buttons.two" :src="baseUrl+'images/zk-leader/btns/two.png'"/>
                <img v-else :src="baseUrl+'images/zk-leader/btns/twoActive.png'"/>
            </div>
            <div title="4屏" @click="layoutChange(1)">
                <img v-if="!buttons.four" :src="baseUrl+'images/zk-leader/btns/four.png'"/>
                <img v-else :src="baseUrl+'images/zk-leader/btns/fourActive.png'"/>
            </div>
            <div title="6屏" @click="layoutChange(2)">
                <img v-if="!buttons.six" :src="baseUrl+'images/zk-leader/btns/six.png'"/>
                <img v-else :src="baseUrl+'images/zk-leader/btns/sixActive.png'"/>
            </div>
            <div title="9屏" @click="layoutChange(3)">
                <img v-if="!buttons.nine" :src="baseUrl+'images/zk-leader/btns/nine.png'"/>
                <img v-else :src="baseUrl+'images/zk-leader/btns/nineActive.png'"/>
            </div>
            <div title="16屏" @click="layoutChange(4)">
                <img v-if="!buttons.sixteen" :src="baseUrl+'images/zk-leader/btns/sixteen.png'"/>
                <img v-else :src="baseUrl+'images/zk-leader/btns/sixteenActive.png'"/>
            </div>
        </div>
        <!--历史消息-->
        <div class="msgBg">
            <img src="../../../../../images/zk-leader/msg.png" alt="">
        </div>

        <div class="subtitle" title="字幕管理" @click="subtitleOpen">字幕管理</div>

        <div class="btn">
            <!--查看历史消息-->
            <div class="tagMessage" @click="showMessagePanel">历史消息</div>
            <!--录制任务管理-->
            <div class="record" @click="recManage">录制任务</div>
            <!--下载任务-->
            <div class="download" @click="download">下载任务</div>
            <!--换一批-->
            <div class="change" @click="replace">
                <span class="icon-step-forward"></span>
                <span>下一页</span>
            </div>
        </div>

        <!--滚动消息-->
        <div class="msgContent" ref="msgContent">
            <div id="message-container"
                 style="position:absolute;bottom:0;width:100%;height:100%;background-color: rgba(0,0,0,0); cursor:pointer;font-size:inherit;overflow-y:auto">
                <p class="container" v-for="item in callBoard">{{item}}</p>
            </div>
        </div>
        <div class="sendMsg">
            <input type="text" placeholder="发送内容" class="sendMsgContent" v-model="instantMessage" @keyup="keyCodeSend"/>
            <button class="sendMsgBtn" @click="sendInstantMessage">发送</button>
        </div>
    </div>
    <!--底部折叠按钮-->
    <el-button @click="showOrHide">》折叠列表</el-button>
</div>