<mi-frame id="page-menu-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">菜单管理</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
    </template>

    <template>

        <div style="width:100%; height:100%; position:relative;">
            <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
                <div style="box-sizing:border-box; width:420px; position:absolute; left:0; top:0; bottom:0; padding:10px; border-right:1px solid #ebeef5;">
                    <div style="width:100%; height:100%; position:relative">
                        <el-scrollbar style="height:100%;">
                            <el-tree
                                    v-loading="loading.menu"
                                    ref="menuTree"
                                    :props = "tree.props"
                                    :data = "tree.data"
                                    node-key="uuid"
                                    :current-node-key="tree.current"
                                    check-strictly
                                    :expand-on-click-node="false"
                                    default-expand-all
                                    highlight-current
                                    @current-change="currentTreeNodeChange">

                            <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;" slot-scope="{node, data}">
                                <span style="font-size:14px;">
                                     <span :class="data.icon"></span>
                                     <span>{{data.title}}</span>
                                </span>
                                <span>
                                    <el-button type="text" size="mini" style="padding:0;" @click.stop="treeNodeAppend(node, data)">
                                        <span style="font-size:16px;" class="icon-plus"></span>
                                    </el-button>
                                    <el-button v-if="!data.autoGeneration" type="text" size="mini" style="padding:0; margin-left:5px;" @click.stop="treeNodeDelete(node, data)">
                                        <span style="font-size:16px;" class="icon-trash"></span>
                                    </el-button>
                                </span>
                              </span>

                            </el-tree>
                        </el-scrollbar>
                        <el-button type="primary" size="medium" circle style="position:absolute; left:-15px; bottom:-15px; box-shadow:0 2px 12px 0 rgba(0,0,0,1);" @click="addRootTreeNode" :loading="loading.addRoot" icon="el-icon-plus"></el-button>
                    </div>
                </div>
                <div v-if="tree.current" style="box-sizing:border-box; position:absolute; left:420px; top:0; right:0; bottom:0; padding:10px;">
                    <el-scrollbar style="height:100%;">
                        <div style="width:100%; border-bottom:1px solid #ebeef5; margin-bottom:10px;">
                            <div style="margin-bottom:22px; text-align:left;">
                                <h4 style="float:right; margin:0; position:relative; top:5px;">当前节点: {{tree.current.title}}</h4>
                                <el-button type="warning" size="small" @click="treeNodeEdit" :disabled="form.menu.editable">修改</el-button>
                                <el-button v-if="form.menu.editable" type="danger" size="small" @click="treeNodeCancel">取消</el-button>
                                <el-button type="primary" size="small" @click="treeNodeSave" :disabled="!form.menu.editable">保存</el-button>
                            </div>
                            <div style="width:300px; float:left;">
                                <el-form ref="form" label-width="80px">
                                    <el-form-item label="菜单id">
                                        <el-input v-model="form.menu.id" :disabled="true"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div style="width:300px; float:left;">
                                <el-form ref="form" label-width="80px">
                                    <el-form-item label="菜单名称">
                                        <el-input v-model="form.menu.title" :disabled="tree.current.autoGeneration?true:!form.menu.editable"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div style="width:300px; float:left;">
                                <el-form ref="form" label-width="80px">
                                    <el-form-item label="菜单链接">
                                        <el-input v-model="form.menu.link" :disabled="tree.current.isGroup?true:!form.menu.editable"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div style="width:300px; float:left;">
                                <el-form ref="form" label-width="80px">
                                    <el-form-item label="菜单图标">
                                        <el-input v-model="form.menu.icon" :disabled="!form.menu.editable"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div style="width:300px; float:left;">
                                <el-form ref="form" label-width="80px">
                                    <el-form-item label="图标样式">
                                        <el-input v-model="form.menu.style" :disabled="!form.menu.editable"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div style="width:300px; float:left;">
                                <el-form ref="form" label-width="80px">
                                    <el-form-item label="菜单类型">
                                        <el-select v-model="form.menu.isGroup" :disabled="true">
                                            <el-option label="父级菜单" value="true"></el-option>
                                            <el-option label="叶子菜单" value="false"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div style="width:300px; float:left;">
                                <el-form ref="form" label-width="80px">
                                    <el-form-item label="父菜单">
                                        <el-input v-model="form.menu.parentId" :disabled="true"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div style="width:300px; float:left;">
                                <el-form ref="form" label-width="80px">
                                    <el-form-item label="显示顺序">
                                        <el-input v-model="form.menu.serial" :disabled="!form.menu.editable"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <hr style="clear:both; margin:0; border:0;"/>
                        </div>
                        <div v-if="!tree.current.isGroup" style="width:100%;" v-loading="loading.table">
                            <div style="margin-bottom:22px;">
                                <el-button type="warning" size="small" @click="bindingSystemRole">绑定系统角色</el-button>
                            </div>
                            <div>
                                <el-table
                                        :data="table.data"
                                        style="width:100%">
                                    <el-table-column
                                            prop="roleName"
                                            label="角色">
                                    </el-table-column>
                                    <el-table-column
                                            label="操作"
                                            width="180">
                                        <template slot-scope="scope">
                                            <el-button v-if="!scope.row.autoGeneration" type="text" icon="el-icon-delete" style="margin:0; font-size:18px; padding:0;" @click="removePermission(scope)"></el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div style="height:48px; width:100%;">
                                    <el-pagination
                                            style="float:right; margin-top:10px;"
                                            background
                                            layout="total, prev, pager, next, jumper"
                                            :total="table.total">
                                    </el-pagination>
                                </div>
                            </div>
                        </div>
                    </el-scrollbar>
                </div>
            </el-card>
        </div>

        <!-- 系统角色对话框 -->
        <mi-system-role-dialog ref="systemRoleDialog" @selected-roles="selectedRoles"></mi-system-role-dialog>

    </template>

</mi-frame>