<mi-frame id="page-system-role-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">系统角色</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>系统角色</el-breadcrumb-item>
    </template>

    <template>
        <div style="width:100%; height:100%; position:relative;">
            <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
                <div style="box-sizing:border-box; width:420px; position:absolute; left:0; top:0; bottom:0; padding:10px; border-right:1px solid #ebeef5;">
                    <div style="width:100%; height:100%; position:relative">
                        <el-scrollbar style="height:100%;">
                            <el-tree
                                    v-loading="loading.roleGroup"
                                    ref="roleGroupTree"
                                    :props = "tree.props"
                                    :data = "tree.data"
                                    node-key="uuid"
                                    :current-node-key="tree.current"
                                    check-strictly
                                    :expand-on-click-node="false"
                                    default-expand-all
                                    highlight-current
                                    @current-change="currentTreeNodeChange">

                                <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px; position:relative; bottom:1px; padding-right:8px;" slot-scope="{node, data}">
                                    <span style="font-size:14px;">
                                         <span class="feather-icon-folder"></span>
                                         <span>{{data.name}}</span>
                                    </span>
                                    <span>
                                        <el-button v-if="!data.autoGeneration" type="text" size="mini" style="padding:0;" @click.stop="handleEditSystemRoleGroup(node, data)">
                                            <span style="font-size:16px;" class="el-icon-edit"></span>
                                        </el-button>
                                        <el-button v-if="!data.autoGeneration" type="text" size="mini" style="padding:0; margin-left:5px;" @click.stop="handleDeleteSystemRoleGroup(node, data)">
                                            <span style="font-size:16px;" class="el-icon-delete"></span>
                                        </el-button>
                                    </span>
                                </span>

                            </el-tree>
                        </el-scrollbar>
                        <el-button type="primary" size="medium" circle style="position:absolute; left:-15px; bottom:-15px; box-shadow:0 2px 12px 0 rgba(0,0,0,1);" @click="handleCreateSystemRoleGroup" icon="el-icon-plus"></el-button>
                    </div>
                </div>
                <div v-if="tree.current" style="box-sizing:border-box; position:absolute; left:420px; top:0; bottom:0; right:0; padding:10px;">
                    <div style="width:100%; height:100%; position:relative;">

                        <el-button type="primary" size="small" @click="handleCreateSystemRole"><span class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;添加角色</el-button>
                        <el-button type="warning" size="small" @click="handleDeleteSystemRole"><span class="icon-trash" style="position:relative; right:1px;"></span>&nbsp;删除角色</el-button>

                        <div style="position:absolute; top:86px; left:0; bottom:0; right:0;">
                            <el-scrollbar style="height:100%;">
                                <el-table
                                        :data="table.rows"
                                        :row-key="rowKey"
                                        style="width:100%">
                                    <el-table-column
                                            type="selection"
                                            width="55">
                                    </el-table-column>
                                    <el-table-column
                                            label="角色"
                                            prop="name">
                                    </el-table-column>
                                    <el-table-column
                                            label="操作"
                                            width="250">
                                        <template slot-scope="scope">
                                            <el-tooltip class="item" effect="dark" content="修改角色" placement="bottom-end">
                                                <el-button type="text" icon="el-icon-edit" style="font-size:20px; padding:0;" @click="handleRowEdit(scope)"></el-button>
                                            </el-tooltip>
                                            <el-tooltip class="item" effect="dark" content="授权用户" placement="bottom-end">
                                                <el-button type="text" icon="feather-icon-user" style="font-size:20px; padding:0; position:relative; top:1px; left:1px; margin-left:20px;" @click="gotoBindUser(scope)"></el-button>
                                            </el-tooltip>
                                            <el-tooltip class="item" effect="dark" content="删除角色" placement="bottom-end">
                                                <el-button type="text" icon="el-icon-delete" style="font-size:20px; padding:0; margin-left:20px;" @click="handleRowDelete(scope)"></el-button>
                                            </el-tooltip>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div style="height:48px; width:100%;">
                                    <el-pagination
                                            style="float:right; margin-top:10px;"
                                            @current-change="handleCurrentChange"
                                            background
                                            layout="total, prev, pager, next, jumper"
                                            :total="table.total">
                                    </el-pagination>
                                </div>
                            </el-scrollbar>
                        </div>
                    </div>

                </div>
            </el-card>
        </div>

        <!-- 添加系统角色组对话框 -->
        <el-dialog
                title="新建系统角色组"
                :visible.sync="dialog.createSystemRoleGroup.visible"
                width="500px"
                :before-close="handleCreateSystemRoleGroupClose">

            <el-input v-model="dialog.createSystemRoleGroup.name" placeholder="起个名吧！"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.createSystemRoleGroup.visible = false">取消</el-button>
                <el-button size="medium" type="primary" @click="handleCreateSystemRoleGroupSubmit" :loading="dialog.createSystemRoleGroup.loading">确定</el-button>
            </span>

        </el-dialog>

        <!-- 修改系统角色组对话框 -->
        <el-dialog
                title="编辑系统角色组"
                :visible.sync="dialog.editSystemRoleGroup.visible"
                width="500px"
                :before-close="handleEditSystemRoleGroupClose">

            <el-input v-model="dialog.editSystemRoleGroup.name" placeholder="改个名吧！"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editSystemRoleGroup.visible = false">取消</el-button>
                <el-button size="medium" type="primary" @click="handleEditSystemRoleGroupSubmit" :loading="dialog.editSystemRoleGroup.loading">确定</el-button>
            </span>

        </el-dialog>

        <!-- 添加系统角色 -->
        <el-dialog
                title="新建系统角色"
                :visible.sync="dialog.createSystemRole.visible"
                width="500px"
                :before-close="handleCreateSystemRoleClose">

            <el-input v-model="dialog.createSystemRole.name" placeholder="起个名吧！"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.createSystemRole.visible = false">取消</el-button>
                <el-button size="medium" type="primary" @click="handleCreateSystemRoleSubmit" :loading="dialog.createSystemRole.loading">确定</el-button>
            </span>

        </el-dialog>

        <!-- 修改系统角色 -->
        <el-dialog
                title="编辑系统角色"
                :visible.sync="dialog.editSystemRole.visible"
                width="500px"
                :before-close="handleEditSystemRoleClose">

            <el-input v-model="dialog.editSystemRole.name" placeholder="改个名吧！"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editSystemRole.visible = false">取消</el-button>
                <el-button size="medium" type="primary" @click="handleEditSystemRoleSubmit" :loading="dialog.editSystemRole.loading">确定</el-button>
            </span>

        </el-dialog>

    </template>

</mi-frame>