<mi-frame id="page-joint-constraint-expression-wrapper" :menus="menus" :user="user" :groups="groups" :active-id="activeId">

    <template slot="title">联合约束</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item><a :href="gotoService()">{{serviceName}}</a></el-breadcrumb-item>
        <el-breadcrumb-item><a :href="gotoAccessPoint()">{{accessPointName}}</a></el-breadcrumb-item>
        <el-breadcrumb-item>联合约束</el-breadcrumb-item>
    </template>

    <template>
        <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">

            <el-button type="primary" size="small" @click="handleCreate"><span class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;添加约束</el-button>
            <el-button type="warning" size="small" @click="handleDelete"><span class="icon-trash" style="position:relative; right:1px;"></span>&nbsp;删除约束</el-button>

            <div style="position:absolute; top:86px; bottom:50px; left:0; right:0; padding:0 20px;">
                <el-scrollbar style="height:100%;">
                    <el-table
                            :data="table.rows"
                            :row-key="rowKey"
                            style="width:100%">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                label="名称"
                                prop="name">
                        </el-table-column>
                        <el-table-column
                                label="约束"
                                prop="expression">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="100">
                            <template slot-scope="scope">
                                <el-tooltip class="item" effect="dark" content="删除参数" placement="bottom-end">
                                    <el-button type="text" icon="el-icon-delete" style="font-size:20px; padding:0;" @click="handleRowDelete(scope)"></el-button>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-scrollbar>
            </div>

            <div style="height:50px; width:100%; position:absolute; left:0; bottom:0; box-sizing:border-box; padding-right:20px;">
                <el-pagination
                        style="float:right;"
                        background
                        @current-change="handleCurrentChange"
                        :current-page="table.currentPage"
                        :page-size="table.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="table.total">
                </el-pagination>
            </div>
        </el-card>

        <!-- 新建约束对话框 -->
        <el-dialog
                title="新建约束"
                :visible.sync="dialog.createConstraint.visible"
                width="500px"
                :before-close="handleCreateConstraintClose">

            <el-dialog
                    title="选择参数"
                    width="600px"
                    :visible.sync="dialog.selectParam.visible"
                    append-to-body
                    :before-close="handleSelectParamClose">

                <el-table
                        :data="dialog.selectParam.rows"
                        height="250"
                        highlight-current-row
                        @current-change="handleSelectParamCurrentChange"
                        style="width: 100%">
                    <el-table-column
                            prop="name"
                            label="参数名称">
                    </el-table-column>
                </el-table>

                <span slot="footer" class="dialog-footer">
                    <el-button size="medium" @click="dialog.selectParam.visible = false">取消</el-button>
                    <el-button size="medium" type="primary" @click="handleSelectParamSubmit">确定</el-button>
                </span>

            </el-dialog>

            <div>
                <el-button size="mini" style="margin-bottom:22px;" @click="handleInsertParam">插入变量</el-button>
                <el-input placeholder="约束别名" v-model="dialog.createConstraint.name" style="margin-bottom:22px;"></el-input>
                <el-input ref="constraintTextArea" v-model="dialog.createConstraint.expression" type="textarea" placeholder="约束表达式" style="margin-bottom:22px;"></el-input>
                <div style="height:150px;">
                    <el-scrollbar style="height:100%;">
                        <h4 style="margin:0;">调用静态类：</h4>
                        <ul style="margin-top:5px; margin-bottom:20px;">
                            <li>T(java.util.Arrays).asList({'aa', 'bb', 'cc', 'dd'}).contains(#参数主键)，请注意数组内数据类型</li>
                        </ul>
                        <h4 style="margin:0;">判断类型：</h4>
                        <ul style="margin-top:5px; margin-bottom:20px;">
                            <li>#参数主键 instanceof T(java.lang.String)</li>
                        </ul>
                        <h4 style="margin:0;">操作符：</h4>
                        <ul style="margin-top:5px; margin-bottom:20px;">
                            <li>关系操作符, 包括: eq(==), ne(!=), lt()<, le(<=), gt(>), ge(>=)</li>
                            <li>逻辑运算符, 包括: and(&&), or(||), not(!)</li>
                            <li>数学操作符, 包括: 加(+), 减(-), 乘(*), 除(/), 取模(%), 幂指数(^)</li>
                            <li>三元操作符, 包括: ?:</li>
                        </ul>
                        <h4 style="margin:0;">正则表达式：</h4>
                        <ul style="margin-top:5px; margin-bottom:20px;">
                            <li>#参数主键 matches '^-?\\d+(\\.\\d{2})+$'</li>
                        </ul>
                        <h4 style="margin:0;">内部约束调用：</h4>
                    </el-scrollbar>
                </div>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.createConstraint.visible = false">取消</el-button>
                <el-button size="medium" type="primary" @click="handleCreateConstraintSubmit" :loading="dialog.createConstraint.loading">确定</el-button>
            </span>

        </el-dialog>

    </template>

</mi-frame>