<mi-frame id="page-service-rest-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">rest服务接入</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>rest服务接入</el-breadcrumb-item>
    </template>

    <template>
        <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">

            <el-button type="primary" size="small" @click="handleCreate"><span class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;添加服务</el-button>
            <el-button type="warning" size="small" @click="handleDelete"><span class="icon-trash" style="position:relative; right:1px;"></span>&nbsp;删除服务</el-button>

            <div style="position:absolute; top:86px; bottom:50px; left:0; right:0; padding:0 20px;">
                <el-scrollbar style="height:100%;">
                    <el-table
                            :data="table.rows"
                            :row-key="rowKey"
                            style="width:100%">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                label="名称"
                                prop="name">
                        </el-table-column>
                        <el-table-column
                                label="域名/ip"
                                prop="host">
                        </el-table-column>
                        <el-table-column
                                label="端口"
                                prop="port">
                        </el-table-column>
                        <el-table-column
                                label="context-path"
                                prop="contextPath">
                        </el-table-column>
                        <el-table-column
                                label="备注"
                                prop="remarks"
                                width="300">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="150">
                            <template slot-scope="scope">
                                <el-tooltip class="item" effect="dark" content="编辑服务信息" placement="bottom-start">
                                    <el-button type="text" icon="el-icon-edit" style="font-size:20px; padding:0;" @click="handleRowEdit(scope)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="编辑接入点" placement="bottom">
                                    <el-button type="text" icon="el-icon-tickets" style="font-size:20px; padding:0; margin-left:20px;" @click="handleSubRows(scope)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="删除服务" placement="bottom-end">
                                    <el-button type="text" icon="el-icon-delete" style="font-size:20px; padding:0; margin-left:20px;" @click="handleRowDelete(scope)"></el-button>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-scrollbar>
            </div>

            <div style="height:50px; width:100%; position:absolute; left:0; bottom:0; box-sizing:border-box; padding-right:20px;">
                <el-pagination
                        style="float:right;"
                        background
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="table.currentPage"
                        :page-sizes="table.pageSizes"
                        :page-size="table.pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="table.total">
                </el-pagination>
            </div>

        </el-card>

        <!-- 新建rest服务对话框 -->
        <el-dialog
                title="新建rest服务"
                :visible.sync="dialog.createService.visible"
                width="500px"
                :before-close="handleCreateServiceClose">

            <div>
                <el-form label-width="120px">
                    <el-form-item label="服务名称:">
                        <el-input v-model="dialog.createService.name"></el-input>
                    </el-form-item>
                    <el-form-item label="服务域名/ip地址:">
                        <el-input v-model="dialog.createService.host"></el-input>
                    </el-form-item>
                    <el-form-item label="端口号:">
                        <el-input v-model="dialog.createService.port"></el-input>
                    </el-form-item>
                    <el-form-item label="context-path:">
                        <el-input v-model="dialog.createService.contextPath"></el-input>
                    </el-form-item>
                    <el-form-item label="备注说明">
                        <el-input type="textarea" v-model="dialog.createService.remarks"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.createService.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleCreateServiceSubmit" :loading="dialog.createService.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 编辑rest服务对话框 -->
        <el-dialog
                title="编辑rest服务"
                :visible.sync="dialog.editService.visible"
                width="500px"
                :before-close="handleEditServiceClose">

            <div>
                <el-form label-width="120px">
                    <el-form-item label="服务名称:">
                        <el-input v-model="dialog.editService.name"></el-input>
                    </el-form-item>
                    <el-form-item label="服务域名/ip地址:">
                        <el-input v-model="dialog.editService.host"></el-input>
                    </el-form-item>
                    <el-form-item label="端口号:">
                        <el-input v-model="dialog.editService.port"></el-input>
                    </el-form-item>
                    <el-form-item label="context-path:">
                        <el-input v-model="dialog.editService.contextPath"></el-input>
                    </el-form-item>
                    <el-form-item label="备注说明">
                        <el-input type="textarea" v-model="dialog.editService.remarks"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editService.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleEditServiceSubmit" :loading="dialog.editService.loading">确 定</el-button>
            </span>
        </el-dialog>

    </template>

</mi-frame>