.mi-process-variable-set-dialog .el-tag + .mi-process-variable-set-dialog.el-tag {margin-left:10px;}
.mi-process-variable-set-dialog .button-new-tag {margin-left:10px; height:32px; line-height:30px; padding-top:0; padding-bottom:0;}
.mi-process-variable-set-dialog .input-new-tag {width:90px; margin-left:10px; vertical-align:bottom;}