body{
    background-color:transparent;
}
.recordFile{
    width:100%;
    height:100%;
    position:relative;
    background-color: #0F1537;
    border:1px solid #2c5282;
    box-sizing:border-box;
    border-radius:4px;
}

.recordFile .win-header{
    height:40px;
    background-color:#3668a9;
    border-radius:4px 4px 0 0;
}

.recordFile .win-header .win-header-title{
    float:left;
    color:#fff;
    line-height:40px;
    padding:0 10px;
}

.recordFile .win-header .win-header-close{
    float:right;
    color:#fff;
    line-height:40px;
    padding:0 10px;
    font-size:20px;
    cursor:pointer;
}

.recordFile .win-body{
    position:absolute;
    left:0;
    top:40px;
    padding:10px;
    right:0;
    bottom:0;
    background-color:#0f2a4d;
    border-radius:0 0 4px 4px;
}

.btn-select-ok,
.btn-handle-record,
.btn-filter,
.btn-dialog-cancel,
.btn-dialog-submit,
.btn-dialog-edit{
    line-height:normal;
    color:#fff;
    background-color:#2562f7;
    padding:5px 14px;
    border-radius:13px;
    cursor:pointer;
    display:inline-block;
    font-size:12px;
}

.btn-dialog-cancel,
.btn-dialog-submit,
.btn-dialog-edit{
    padding:7px 18px;
    float:right;
}

.btn-dialog-cancel{
    margin-left:14px;
    background-color:#204a6b;
}

.left,.right{
    float: left;
    width: 59%;
    height: 100%;
    box-sizing: border-box;
    overflow:hidden;
}
.right{
    padding-left:10px;
}
.left{
    width: 40%;
    border-right: 1px solid #11366b;
}
.title{
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.btn{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
    line-height: 50px;
}

.el-tree {
    background-color: transparent;
    color: #fff;
}
.el-input__inner{
    background-color: #0b2d5a;
    border:1px solid #17407e;
    color: #fff;
}
.el-range-editor .el-range-input {
    background-color: #0d6079;
}

.el-tree-node__content:hover {
    background-color: #001f7533;
}

.el-tree-node:focus>.el-tree-node__content{
    background-color: #001f7533;
}

/*重置table的样式*/
.el-table,
.el-table__expanded-cell {
    background-color: transparent;
    color:#d8dae0;
}

.el-table th,
.el-table tr {
    background-color: transparent;
}

.recordFile .el-table td,
.recordFile .el-table th.is-leaf{
    border-bottom: 1px solid #11366b;
}

.recordFile .el-table--border::after,
.recordFile .el-table--group::after,
.recordFile .el-table::before{
    background-color: #11366b;
}

.el-table--enable-row-hover .el-table__body tr:hover td{
    background-color:#061f3e;
}

.layer .el-table--enable-row-hover .el-table__body tr:hover {
    border:1px solid #0595b9;
}

.recordFile .el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: #2562f7;
}

.recordFile .el-pagination.is-background .btn-next,
.recordFile .el-pagination.is-background .btn-prev,
.recordFile .el-pagination.is-background .el-pager li{
    background-color:#ffffff00;
}

.recordFile .el-button--text{
    color:#72b7fb;
}

.el-radio {
    color: #bcedfd;
}

.el-date-editor .el-range-input{
    color: #bcc2ce;
}

.el-table__body-wrapper{
    height: 100%;
    overflow: hidden;
}
.el-scrollbar__wrap{
    overflow-x: hidden;
}

.table .el-radio__label{
    display: none;
}

.el-pagination__total,.el-pagination__jump{
    color: #afafaf;
}

