<div class="recordFile">
    <div class="left">
        <div class="title">设备列表</div>
        <div style="height: 700px">
            <span style="color: yellow">请先选择设备或用户</span>
            <el-button type="primary" size="mini" @click="confirm">确定选择</el-button>
            <el-scrollbar style="height:100%">
                <el-tree :data="record.data" :props="props" node-key="id">
                     <span style="display:inline-block; width:100%;" slot-scope="{node,data}">
                            <el-radio v-if="data.type==='USER' || data.type==='BUNDLE'" v-model="record.select" :label="data">
                                <span :class="data.icon"
                                      :style="data.style+' position:relative; top:1px;'"></span>
                                <span style="position:relative; top:1px;">{{data.name}}</span>
                            </el-radio>
                            <span v-else>
                                <span :class="data.icon" :style="data.style"></span>
                                <span style="font-size:14px;">{{data.name}}</span>
                            </span>
                     </span>
                </el-tree>
            </el-scrollbar>
        </div>

    </div>
    <div class="right">
        <div class="title">文件列表</div>
        <div>
            <el-date-picker
                    v-model="date"
                    type="datetimerange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
            </el-date-picker>
            <el-button type="primary" size="mini" @click="filtrate">筛选</el-button>
        </div>
        <div style="height: 565px;">
            <el-table
                    :data="pageData"
                    style="width: 100%"
                    height="100%">
                <el-table-column label="选择" width="50" center>
                　　　　　　<template slot-scope="scope">
                    　　　　　　　　<el-radio
                        　　　　　　　　　　class="radio"
                        　　　　　　　　　　v-model="fileSelect"
                        　　　　　　　　　　:label="scope.row">
                    　　　　　　　　</el-radio>
                    　　　　　　</template>
                </el-table-column>
                <el-table-column
                        prop="fileName"
                        label="文件名">
                </el-table-column>
                <el-table-column
                        prop="previewUrl"
                        label="预览地址">
                    <template></template>
                </el-table-column>
                <el-table-column
                        prop="startTime"
                        label="开始时间">
                </el-table-column>
                <el-table-column
                        prop="endTime"
                        label="结束时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        width="150">
                    <template slot-scope="scope">
                        <el-tooltip class="item" effect="dark" content="删除任务" placement="bottom">
                        <el-button type="text" style="padding:0; font-size:20px; margin-left:30px;color: #ffbb1c" @click="deleteFile(scope.row.id)">
                        <span class="icon-trash"></span></el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="下载任务" placement="bottom">
                            <el-button type="text" style="padding:0; font-size:20px; margin-left:30px;color: #ffbb1c" @click="downLoadFile(scope.row)">
                                <span class="icon-arrow-down"></span></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination background @current-change="currentChange" :current-page="currentPage"
                           :page-size="3" :pager-count="5" layout="total, prev, pager, next, jumper"
                           :total="files.length">
            </el-pagination>
        </div>
    </div>

    <div class="btn">
        <el-button type="primary" @click="confirmSubmit">确定播放</el-button>
        <el-button type="warning" @click="close">关闭页面</el-button>
    </div>
</div>