<mi-frame  ref="frame" id="page-media-audio-wrapper" :menus="menus" :user="user" :groups="groups" @task-show="exitTaskViewMinimizeState" :active-id="activeId">

    <template slot="title">{{user.groupName}}（音频库）</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>音频仓库</el-breadcrumb-item>
    </template>

    <template>
        <el-card v-loading="refreshloading" class="box-card" shadow="hover" style="width:100%; height:100%;">
            <div style="margin-bottom:10px;">
                <el-button type="primary" size="small" @click="dialog.addAudio.visible = true" :disabled="!current.id"><span class="el-icon-upload" style="position:relative; right:1px;"></span>&nbsp;上传</el-button>
                <el-button type="warning" size="small" @click="dialog.createFolder.visible = true" :disabled="!current.id"><span class="icon-folder-open" style="position:relative; right:1px;"></span>&nbsp;新建文件夹</el-button>
                <el-button type="primary" size="small" @click="dialog.batchUpload.visible = true" :disabled="!current.id">
                    <span class="icon-set" style="position:relative; right:1px;">
                    </span>&nbsp;关联媒资</el-button>
                <el-upload
                        action="/media/audio/import"
                        ref="upload"
                        :on-change="handleChange"
                        :show-file-list="false"
                        :headers="myHeaders"
                        style="display:inline-block"
                        :on-success="handleUploadSuccess"
                        :limit="1"
                        >
                    <el-button size="small" type="primary"  style="margin-left: 10px;">上传标签</el-button>
                </el-upload>
                <!--<el-button-group style="margin-left:10px;">
                    <el-button size="small">下载</el-button>
                    <el-button size="small">删除</el-button>
                    <el-button size="small">重命名</el-button>
                    <el-button size="small">复制</el-button>
                    <el-button size="small">移动</el-button>
                </el-button-group>-->
                <el-tooltip class="item" effect="dark" content="展示任务列表" placement="bottom-end">
                    <el-button size="small" style="float:right; width:32px; height:32px; padding:0; text-align:center; line-height:32px;" @click="taskViewShow"><span class="icon-tasks"></span></el-button>
                </el-tooltip>
                <el-autocomplete placeholder="搜索您的文件" size="small" suffix-icon="el-icon-search" style="float:right; width:300px; margin-right:10px;" :fetch-suggestions="handleQuerySearch"></el-autocomplete>
            </div>
            <div style="margin-bottom:10px;">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item v-for="item in breadCrumb" :key="'breadcrumb-' + item.uuid">
                        <a :href="'#/page-media-audio/' + item.id" v-if="item.next">{{item.name}}</a>
                        <template v-else>{{item.name}}</template>
                    </el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div style="position:absolute; top:86px; bottom:0; left:0; right:0; padding:0 20px;">
                <el-scrollbar style="height:100%;">
                    <el-table
                            :data="table.rows"
                            @cell-mouse-enter="mouseEnter"
                            @cell-mouse-leave="mouseLeave"
                            tooltip-effect="dark"
                            :default-sort="{prop:'downloadCount',order:'ascending'}"
                            style="width:100%">
                        <el-table-column type="selection" width="42"></el-table-column>
                        <el-table-column width="40">
                            <template slot-scope="scope">
                                <span :class="scope.row.icon" :style="scope.row.style"></span>
                            </template>
                        </el-table-column>
                        <el-table-column label="文件名" prop="name" sortable>
                            <template slot-scope="scope">
                                <el-button v-if="scope.row.type==='FOLDER'" type="text" style="padding:0; color:inherit;"><a class="folder-link" :href="'#/page-media-audio/'+scope.row.id">{{scope.row.name}}</a></el-button>
                                <span v-else>{{scope.row.name}}</span>
                                <span :style="'float:right; position:relative;' + (scope.row.__hover__?'display:inline-block;':'display:none;')">
                                    
                                    <el-tooltip  v-if="scope.row.type!=='FOLDER'" class="item" effect="dark" content="刷源" placement="bottom">
                                        <el-button size="small" type="text"  style="padding:0; position:absolute; top:1px; right:110px;" @click="handleRefresh(scope)">
                                            <span class="el-icon-refresh" style="font-size:20px; position:relative; top:1px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-tooltip  v-if="scope.row.type!=='FOLDER'&&!scope.row.reviewStatus||scope.row.reviewStatus==='修改审核拒绝'||scope.row.reviewStatus==='删除审核拒绝'" class="item" effect="dark" content="下载" placement="bottom">
                                        <el-button size="small" type="text" style="padding:0; position:absolute; top:1px; right:87px;" @click="handleDownload(scope)">
                                            <span class="el-icon-download" style="font-size:20px; position:relative; top:1px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-tooltip v-if="scope.row.type!=='FOLDER'" class="item" effect="dark" content="预览" placement="bottom">
                                        <el-button size="small" type="text" style="padding:0; position:absolute; top:2px; right:57px;" @click="handlePreview(scope)">
                                            <span class="icon-eye-open" style="font-size:18px; position:relative; top:1px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-tooltip v-if="scope.row.removeable && (scope.row.type==='FOLDER'||!scope.row.reviewStatus||scope.row.reviewStatus.indexOf('拒绝')>=0)" class="item" effect="dark" content="删除" placement="bottom">
                                        <el-button
                                                size="small"
                                                type="text"
                                                style="padding:0; position:absolute; right:30px; top:2px;"
                                                @click="handleRowRemove(scope)">
                                            <span class="el-icon-delete" style="font-size:18px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-dropdown v-if="(scope.row.removeable&&scope.row.type==='FOLDER')||!scope.row.reviewStatus||scope.row.reviewStatus==='修改审核拒绝'||scope.row.reviewStatus==='删除审核拒绝'" trigger="click" style="position:absolute; right:0; top:2px;" @visible-change="table.tooltip=!table.tooltip" @command="tableOptionsCommand($event, scope)">
                                        <el-tooltip :disabled="table.tooltip" class="item" effect="dark" content="更多" placement="bottom">
                                            <el-button size="small" type="text" style="padding:0;"><span class="el-icon-more-outline" style="font-size:18px;"></span></el-button>
                                        </el-tooltip>
                                        <el-dropdown-menu slot="dropdown">
                                            <el-dropdown-item command="0" v-if="scope.row.type==='FOLDER'">重命名</el-dropdown-item>
                                            <el-dropdown-item command="1" v-if="scope.row.type==='AUDIO'">编辑</el-dropdown-item>
                                            <el-dropdown-item command="4" v-if="scope.row.type==='AUDIO' && (scope.row.isTop==0 || scope.row.isTop==null)">置顶</el-dropdown-item>
                                            <el-dropdown-item command="5" v-if="scope.row.type==='AUDIO' && scope.row.isTop==1">取消置顶</el-dropdown-item>
                                            <!--<el-dropdown-item command="2">移动</el-dropdown-item>
                                            <el-dropdown-item command="3">复制</el-dropdown-item>-->
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column label="标签" width="150">
                            <template slot-scope="scope">{{scope.row.tagString}}</template>
                        </el-table-column>
                        <el-table-column label="是否置顶" width="80">
                            <template slot-scope="scope">{{scope.row.isTop==1?'已置顶':'否'}}</template>
                        </el-table-column>
                        <el-table-column label="时长" width="80" prop="duration"sortable>
                            <template slot-scope="scope">{{scope.row.duration}}</template>
                        </el-table-column>
                        <el-table-column label="编码" width="80">
                            <template slot-scope="scope">{{scope.row.codec}}</template>
                        </el-table-column>
                        <el-table-column label="声道数" width="100">
                            <template slot-scope="scope">{{scope.row.channelNum}}</template>
                        </el-table-column>
                        <el-table-column label="采样率" width="100">
                            <template slot-scope="scope">{{scope.row.sample}}</template>
                        </el-table-column>
                        <el-table-column label="码率" width="80">
                            <template slot-scope="scope">{{scope.row.bitrate}}</template>
                        </el-table-column>
                        <el-table-column label="大小" width="100" prop="size" sortable>
                            <template slot-scope="scope">{{formatSize(scope.row.size)}}</template>
                        </el-table-column>
                        <el-table-column label="下载量" width="100" prop="downloadCount" sortable>
                            <template slot-scope="scope">{{scope.row.downloadCount}}</template>
                        </el-table-column>
                        <el-table-column prop="updateTime" label="创建时间" width="180" sortable></el-table-column>
                        <el-table-column label="审核状态" width="180">
                            <template slot-scope="scope">
                                <el-button v-if="scope.row.processInstanceId" type="text" style="padding:0;" @click="doProcessPreview(scope)">{{scope.row.reviewStatus}}</el-button>
                                <span v-else>{{scope.row.reviewStatus}}</span>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-scrollbar>
            </div>

            <!--<div style="height:50px;">
                <el-pagination
                        style="float:right; margin-top:20px;"
                        background
                        :current-page="page.current"
                        :page-sizes="[100, 200, 300, 400]"
                        :page-size="100"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="400">
                </el-pagination>
            </div>-->
        </el-card>

        <!-- 新建文件夹 -->
        <el-dialog
                title="新建文件夹"
                width="500px"
                :visible.sync="dialog.createFolder.visible"
                @closed="addMediaAudioFolderDialogClosed">

            <el-input v-model="dialog.createFolder.folderName" placeholder="请输入文件夹名称"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.createFolder.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.createFolder.loading" @click="addMediaAudioFolder">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 修改文件夹名称 -->
        <el-dialog
                title="重命名"
                width="500px"
                :visible.sync="dialog.renameFolder.visible"
                @closed="renameMediaAudioFolderDialogClosed">

            <div v-if="dialog.renameFolder.row">
                <div style="margin-bottom:20px;">
                    <span :class="dialog.renameFolder.row.icon" :style="dialog.renameFolder.row.style"></span>
                    <span style="margin-left:5px;">{{dialog.renameFolder.row.name}}</span>
                </div>
                <el-input v-model="dialog.renameFolder.folderName" placeholder="请输入新文件夹名称"></el-input>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.renameFolder.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.renameFolder.loading" @click="renameMediaAudioFolder">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 移动文件夹 -->
        <mi-folder-dialog ref="moveMediaAudioFolderDialog" @selected-folder="moveMediaAudioFolder"></mi-folder-dialog>

        <!-- 复制文件夹 -->
        <mi-folder-dialog ref="copyMediaAudioFolderDialog" @selected-folder="copyMediaAudioFolder"></mi-folder-dialog>

        <!-- 任务列表 -->
        <mi-task-view
                ref="taskView"
                @after-close="afterTaskViewClose"
                @minimize-state="taskViewMinimizeState"
                @task-cancel="taskCancel"
                @task-pause="taskPause"
                @task-restart="taskRestart"></mi-task-view>

        <!-- 文件上传 -->
        <mi-upload-dialog ref="uploadDialog" @file-selected="fileSelected" :require-type="dialog.upload.fileType" :multiple="dialog.upload.multiple"></mi-upload-dialog>

        <!-- 文本文件转换 -->
        <mi-upload-dialog ref="exchangeDialog" @file-selected="exchangeFileSelected" :require-type="dialog.exchange.fileType" :multiple="dialog.exchange.multiple"></mi-upload-dialog>

        <!-- 关联媒资对话框 -->
        <el-dialog
                title="关联媒资"
                :visible.sync="dialog.batchUpload.visible"
                width="500px"
                :before-close="handleBatchUploadAudioClose">
            <el-text style="color: #F56C6C">提示:文件名中请勿包含空格或者特殊字符!</el-text>
            <div style="height: 400px">
                <el-scrollbar style="height:100%;">
                    <el-tree
                            :props="props"
                            :load="loadNode"
                            lazy
                            highlight-current
                            @node-click="selPathNode"
                            :expand-on-click-node="false">
                    </el-tree>

                </el-scrollbar>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.batchUpload.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.batchUpload.loading" @click="batchUpload()">确 定</el-button>
            </span>

        </el-dialog>


        <!-- 添加音频媒资对话框 -->
        <el-dialog
                title="添加音频"
                :visible.sync="dialog.addAudio.visible"
                width="500px"
                :before-close="handleAddAudioClose">

            <div style="height: 500px">
                <el-scrollbar style="height:100%;">
                    <el-form ref="form" label-width="80px">
                        <el-form-item label="媒资名称">
                            <el-input v-model="dialog.addAudio.name"></el-input>
                        </el-form-item>
                        <el-form-item label="标签">
                            <!--<el-input v-model="dialog.addAudio.tags"></el-input>-->
                            <el-tag
                                    :key="simple"
                                    v-for="simple in dialog.addAudio.tags"
                                    style="margin-right:10px;"
                                    closable
                                    :disable-transitions="false"
                                    @close="handleTagRemove(dialog.addAudio.tags, simple)">
                                {{simple}}
                            </el-tag>
                            <el-button style="height:32px; line-height:30px; padding-top:0; padding-bottom:0; position:relative; bottom:1px;" size="small" @click="handleTagAdd" icon="el-icon-edit"> 贴标签</el-button>
                        </el-form-item>
                        <el-form-item label="关键字">
                            <el-input v-model="dialog.addAudio.keyWords"></el-input>
                        </el-form-item>
                        <el-form-item label="添加方式">
                            <template>
                                <el-radio v-model="dialog.addAudio.way" label="0">本地音频</el-radio>
                                <el-radio v-model="dialog.addAudio.way" label="1">本地文本转换</el-radio>
                                <el-radio v-model="dialog.addAudio.way" label="2">文本仓库转换</el-radio>
                            </template>
                        </el-form-item>
                        <!--<el-form-item label="是否转码" prop="delivery">-->
                            <!--<el-switch v-model="dialog.addAudio.mediaEdit" @change="handleMediaEditChange"></el-switch>-->
                        <!--</el-form-item>-->
                        <!--<el-form-item label="转码模板"  v-if="dialog.addAudio.mediaEdit">-->
                            <!--<el-select-->
                                    <!--v-model="dialog.addAudio.mediaEditTemplate"-->
                                    <!--placeholder="请选择转码模板">-->
                                <!--<el-option-->
                                        <!--v-for="item in dialog.addAudio.mediaEditTemplates"-->
                                        <!--:key="item"-->
                                        <!--:value="item">-->
                                <!--</el-option>-->
                            <!--</el-select>-->
                        <!--</el-form-item>-->
                        <el-form-item v-show="dialog.addAudio.way==0">
                            <el-button size="small" type="primary" @click="handleUpload"><span class="icon-film" style="margin-right:5px;"></span>选择文件</el-button>
                            <div v-if="dialog.addAudio.task">{{dialog.addAudio.task.name}}</div>
                        </el-form-item>
                        <el-form-item v-show="dialog.addAudio.way==1">
                            <el-button size="small" type="primary" @click="handleUploadExchange"><span class="icon-film" style="margin-right:5px;"></span>选择文件</el-button>
                            <div v-if="dialog.addAudio.txtTask">{{dialog.addAudio.txtTask.name}}</div>
                        </el-form-item>
                        <el-form-item v-show="dialog.addAudio.way==2">
                            <el-button size="small" type="primary" @click="handleExchange"><span class="icon-film" style="margin-right:5px;"></span>选择文本</el-button>
                            <div v-if="dialog.addAudio.txt">{{dialog.addAudio.txt.name}}</div>
                        </el-form-item>
                        <el-form-item label="资源封图">
                            <table>
                                <tr>
                                    <td style="width:100px; vertical-align:middle; border:1px solid #eaeaea;">
                                        <img v-if="dialog.addAudio.thumbnail" style="width:100px; height:100px; float:left;" :src="dialog.addAudio.thumbnail" />
                                    </td>
                                    <td style="width:100px; vertical-align:middle;">
                                        <el-button type="primary" style="padding:0; margin:0; width:100px; height:100px; line-height:100px; border-radius:0;" @click="handleSelectThumbnail(dialog.addAudio)">
                                            <span class="el-icon-edit" style="font-size:40px; position:relative; top:7px;"></span>
                                        </el-button>
                                    </td>
                                </tr>
                            </table>
                        </el-form-item>
                        <el-form-item label="附加属性">
                            <el-button @click="handleAdditionAdd" type="primary" size="small">编辑</el-button>
                        </el-form-item>
                        <el-form-item label="是否加密" prop="delivery">
                            <el-switch v-model="dialog.addAudio.encryption"></el-switch>
                        </el-form-item>
                        <el-form-item label="备注">
                            <el-input type="textarea" v-model="dialog.addAudio.remark"></el-input>
                        </el-form-item>
                    </el-form>
                </el-scrollbar>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.addAudio.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.addAudio.loading" @click="addMediaAudioTask">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 编辑音频媒资对话框 -->
        <el-dialog
                title="编辑音频"
                :visible.sync="dialog.editAudio.visible"
                width="500px"
                :before-close="handleEditAudioClose">

            <div>
                <el-form ref="form" label-width="80px">
                    <el-form-item label="媒资名称">
                        <el-input v-model="dialog.editAudio.name"></el-input>
                    </el-form-item>
                    <el-form-item label="标签">
                        <!--<el-input v-model="dialog.editAudio.tags"></el-input>-->
                        <el-tag
                                :key="simple"
                                v-for="simple in dialog.editAudio.tags"
                                style="margin-right:10px;"
                                closable
                                :disable-transitions="false"
                                @close="handleTagRemove(dialog.editAudio.tags, simple)">
                            {{simple}}
                        </el-tag>
                        <el-button style="height:32px; line-height:30px; padding-top:0; padding-bottom:0; position:relative; bottom:1px;" size="small" @click="handleTagEdit" icon="el-icon-edit"> 贴标签</el-button>
                    </el-form-item>
                    <el-form-item label="关键字">
                        <el-input v-model="dialog.editAudio.keyWords"></el-input>
                    </el-form-item>
                    <el-form-item label="资源封图">
                        <table>
                            <tr>
                                <td style="width:100px; vertical-align:middle; border:1px solid #eaeaea;">
                                    <img v-if="dialog.editAudio.thumbnail" style="width:100px; height:100px; float:left;" :src="dialog.editAudio.thumbnail" />
                                </td>
                                <td style="width:100px; vertical-align:middle;">
                                    <el-button type="primary" style="padding:0; margin:0; width:100px; height:100px; line-height:100px; border-radius:0;" @click="handleSelectThumbnail(dialog.editAudio)">
                                        <span class="el-icon-edit" style="font-size:40px; position:relative; top:7px;"></span>
                                    </el-button>
                                </td>
                            </tr>
                        </table>
                    </el-form-item>
                    <el-form-item label="附加属性">
                        <el-button @click="handleAdditionEdit" type="primary" size="small">编辑</el-button>
                    </el-form-item>
                    <el-form-item label="备注">
                        <el-input type="textarea" v-model="dialog.editAudio.remark"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editAudio.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.editAudio.loading" @click="editMediaAudioTask">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 选择图片对话框 -->
        <mi-image-dialog ref="selectThumbnail" @selected-image="selectedThumbnail"></mi-image-dialog>

        <!-- 编辑附加属性 -->
        <mi-addition-dialog ref="editAddition" @on-dialog-close="editAddition"></mi-addition-dialog>

        <!-- 移动文件 -->
        <mi-folder-dialog ref="moveMediaAudioDialog" @selected-folder="moveMediaAudio"></mi-folder-dialog>

        <!-- 复制文件 -->
        <mi-folder-dialog ref="copyMediaAudioDialog" @selected-folder="copyMediaAudio"></mi-folder-dialog>

        <!-- 预览灯箱 -->
        <mi-lightbox ref="Lightbox" @on-txt-save="handleTxtSave"></mi-lightbox>

        <!-- 选择标签对话框 -->
        <mi-tag-dialog ref="tagDialog" @on-tag-dialog-close="selectedTags"></mi-tag-dialog>

        <!-- 选择文本对话框 -->
        <mi-txt-dialog ref="selectTxt" @selected-txt="selectedTxt"></mi-txt-dialog>

    </template>

</mi-frame>