<el-dialog
        title="引用参数"
        :visible.sync="visible"
        width="1000px"
        :before-close="handleSelectAccessPointParamClose"
        append-to-body>

    <div style="height:500px; width:100%; position:relative;">
        <div style="height:560px; width:1000px; position:absolute; top:-30px; left:-20px;">
            <div style="width:100%; height:100%; position:relative; border-top:1px solid rgb(235, 238, 245); border-bottom:1px solid rgb(235, 238, 245);">
                <div style="position:absolute; left:0; top:0; right:500px; bottom:0;">
                    <div style="position:relative; width:100%; height:100%; padding:10px; box-sizing:border-box;">
                        <el-scrollbar style="height:100%;">
                            <el-table
                                    :data="table.data"
                                    style="width:100%"
                                    highlight-current-row
                                    @current-change="handleSelectAccessPointCurrentChange">
                                <el-table-column
                                        prop="name"
                                        label="姓名"></el-table-column>
                                <el-table-column
                                        prop="remarks"
                                        label="备注"></el-table-column>
                            </el-table>
                        </el-scrollbar>
                    </div>
                </div>
                <div style="width:500px; position:absolute; top:0; right:0; bottom:0; border-left:1px solid rgb(235, 238, 245);">
                    <div style="width:100%; height:50%; border-bottom:1px solid rgb(235, 238, 245); box-sizing:border-box; position:relative;">
                        <div style="line-height:30px; font-size:14px; padding-left:10px; font-weight:700;">参数</div>
                        <div style="position:absolute; left:0; top:30px; right:0; bottom:0; padding-left:10px; padding-right:10px; padding-bottom:10px; box-sizing:border-box;">
                            <el-scrollbar style="height:100%;">
                                <el-tree
                                        v-loading="tree.pValue.loading"
                                        ref="pValueTree"
                                        :props = "tree.pValue.props"
                                        :data = "tree.pValue.data"
                                        node-key="uuid"
                                        check-strictly
                                        :expand-on-click-node="false"
                                        default-expand-all
                                        highlight-current
                                        @current-change="handleCurrentPValueChange">

                                            <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;" slot-scope="{node, data}">
                                                <span style="font-size:14px;">
                                                    <span v-if="data.type==='基本类型'" class="icon-bold" style="margin-right:3px; position:relative; left:1px;"></span>
                                                    <span v-if="data.type==='枚举'" class="icon-th-large" style="margin-right:1px; position:relative; left:1px;"></span>
                                                    <span v-if="data.type==='数组'" class="icon-list-ol"></span>
                                                    <span v-if="data.type==='复杂类型'" class="icon-list-ul"></span>
                                                    <span>{{data.name}}</span>
                                                </span>
                                            </span>

                                </el-tree>
                            </el-scrollbar>
                        </div>
                    </div>
                    <div style="width:100%; height:50%; box-sizing:border-box; position:relative;">
                        <div style="line-height:30px; font-size:14px; padding-left:10px; font-weight:700;">参数</div>
                        <div style="position:absolute; left:0; top:30px; right:0; bottom:0; padding-left:10px; padding-right:10px; padding-bottom:10px; box-sizing:border-box;">
                            <el-scrollbar style="height:100%;">
                                <el-tree
                                        v-loading="tree.rValue.loading"
                                        ref="rValueTree"
                                        :props = "tree.rValue.props"
                                        :data = "tree.rValue.data"
                                        node-key="uuid"
                                        check-strictly
                                        :expand-on-click-node="false"
                                        default-expand-all
                                        highlight-current
                                        @current-change="handleCurrentRValueChange">

                                        <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;" slot-scope="{node, data}">
                                            <span style="font-size:14px;">
                                                <span v-if="data.type==='基本类型'" class="icon-bold" style="margin-right:3px; position:relative; left:1px;"></span>
                                                <span v-if="data.type==='枚举'" class="icon-th-large" style="margin-right:1px; position:relative; left:1px;"></span>
                                                <span v-if="data.type==='数组'" class="icon-list-ol"></span>
                                                <span v-if="data.type==='复杂类型'" class="icon-list-ul"></span>
                                                <span>{{data.name}}</span>
                                            </span>
                                        </span>

                                </el-tree>
                            </el-scrollbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="visible = false">取消</el-button>
        <el-button size="medium" type="primary" @click.stop="selectAccessPointParamSubmit" :loading="loading">确定</el-button>
    </span>

</el-dialog>