<div id="page-jv210-status-wrapper" class="page-wrapper">
    <bvc2-header
            :links="header.links"
            :user="header.user"></bvc2-header>
    <div class="page-body">
     <el-container style="width:100%; height:100%">
            <el-aside width="auto;">
                <bvc2-system-nav-side :active="side.active"></bvc2-system-nav-side>
            </el-aside>
            <el-main style="padding:15px;">
                <template>
				  <el-table
				    :data="monitorData"
				    style="width: 100%">
				    <el-table-column type="expand">
				      <template slot-scope="props">
				        <p v-for="channel in props.row.channels">
				        {{'频道ID:'+channel.id+'/频道名称:'+channel.name+'/频道类型:'+channel.type+'/状态:'+channel.status+'/参数:'+channel.param}}
				        <template>
				        <div style="margin-top:5px;margin-left:50px">
				          {{channel.local}}
				        </div>
				        <div style="margin-top:5px;margin-left:50px" v-for="stream in channel.peer">
				               {{stream.stream}}
				           </div>
				        </template>
				
				        </p>
				      </template>
				    </el-table-column>
				    <el-table-column
				      label="认证结果"
				      prop="certify">
				    </el-table-column>
				    <el-table-column
				      label="用户名"
				      prop="user">
				    </el-table-column>
				    <el-table-column
				      label="Sip地址"
				      prop="sipUri">
				    </el-table-column>
				    <el-table-column
				      label="BundleID"
				      prop="bundleID">
				    </el-table-column>
				    <el-table-column
				      label="callid"
				      prop="callid">
				    </el-table-column>
				    <el-table-column
				      label="会话类型"
				      >
				      
				      <template slot-scope="props">{{typec(props.row)}}</template>
				      
				    </el-table-column>
				    <el-table-column
				      label="是否使用"
				      prop="call_ctx.isUse">
				    </el-table-column>
				     <el-table-column
				      label="呼叫者"
				      prop="call_ctx.caller_name">
				    </el-table-column>
				  </el-table>
				</template>
            </el-main>
      </el-container>
      
    </div>
</div>