/* ace-reset */
.ace-monokai .ace_print-margin{background:transparent!important;}
.ace-github .ace_print-margin{background:transparent!important;}
.ace-idle-fingers .ace_print-margin{background:transparent!important;}
.ace-xcode .ace_print-margin{background:transparent!important;}

/* editor */
.editor{position:fixed; left:0; top:0; z-index:1000; width:100%; height:100%; background-color:#fff; display:none;}
.editor,
.editor>div,
.editor>span{box-sizing:border-box;}
.editor-wrapper{height:100%; width:100%; position:relative;}

.core{position:absolute; top:0; left:0; right:50px; bottom:0;}
.toolbar{width:50px; height:100%; position:absolute; top:0; right:0; background-color:#f2f3f7;}

.editor .top{width:50%; height:100%;}
.editor .bottom{width:50%; height:100%; position:absolute; top:0; right:0;}
.editor .top-left{width:100%; height:50%;}
.editor .bottom-left{width:100%; height:50%;}
.editor .top-right{width:100%; height:50%;}
.editor .bottom-right{width:100%; height:50%;}

.editor .top-left.max,
.editor .bottom-left.max,
.editor .top-right.max,
.editor .bottom-right.max{position:fixed; left:0; top:0; z-index:500; width:100%; height:100%;}

.editor .editor-container{width:100%; height:100%;}
.editor .editor-toolbar{position:absolute; right:0; bottom:0; z-index:20; overflow:hidden; border-style:solid; border-color:lightblue gray gray rgb(206, 173, 230);}
.editor .editor-toolbar.mini{width:0; height:0; border-width:10px;}
.editor .editor-toolbar.max{border-width:0; width:30px; height:auto; overflow:visible;}
.editor .editor-toolbar.max .button-scope button{display:inline-block;}
.editor .editor-toolbar:hover{cursor:pointer;}

.editor .editor-toolbar .button-scope{width:30px; height:30px; line-height:30px; text-align:center;}
.editor .editor-toolbar .button-scope button{width:100%; height:100%; text-align:center; padding:0; font-size:16px; border-radius:0; display:none;}
.editor .editor-toolbar .button-scope button:focus,
.editor .editor-toolbar .button-scope button:active{outline:none;}