<!-- 代码编辑 -->
<div class="editor">
    <div class="editor-wrapper">
        <div class="core">
            <div class="top">
                <div class="top-left">
                    <div class="editor-wrapper">
                        <div id="html-editor" class="editor-container"></div>
                        <div class="editor-toolbar mini">
                            <div class="button-scope"><button class="el-button el-button--default" title="插入变量"><span class="feather-icon-activity"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default" title="分支结构"><span class="feather-icon-git-branch"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default" title="循环结构"><span class="feather-icon-repeat"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default change-max" title="全屏"><span class="feather-icon-maximize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default change-mini" title="退出全屏"><span class="feather-icon-minimize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default toolbar-exit" title="最小化菜单"><span class="feather-icon-log-out"></span></button></div>
                        </div>
                    </div>
                </div>
                <div class="bottom-left">
                    <div class="editor-wrapper">
                        <div id="css-editor" class="editor-container"></div>
                        <div class="editor-toolbar mini">
                            <div class="button-scope"><button class="el-button el-button--default change-max" title="全屏"><span class="feather-icon-maximize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default change-mini" title="退出全屏"><span class="feather-icon-minimize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default toolbar-exit" title="最小化菜单"><span class="feather-icon-log-out"></span></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="top-right" id="preview">

                </div>
                <div class="bottom-right">
                    <div class="editor-wrapper">
                        <div id="js-editor" class="editor-container"></div>
                        <div class="editor-toolbar mini">
                            <div class="button-scope"><button class="el-button el-button--default" title="插入图片"><span class="feather-icon-image"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default" title="插入文本"><span class="feather-icon-type"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default change-max" title="全屏"><span class="feather-icon-maximize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default change-mini" title="退出全屏"><span class="feather-icon-minimize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default toolbar-exit" title="最小化菜单"><span class="feather-icon-log-out"></span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar">

        </div>
    </div>
</div>