<!-- 代码编辑 -->
<div class="editor">
    <div class="editor-wrapper">
        <div class="top">
            <div class="top-left">
                <div id="html-editor" class="editor-container"></div>
                <div class="editor-toolbar"><span class="icon-wrench" style="font-size:20px;"></span><button><span></span></button></div>
            </div>
            <div class="bottom-left">
                <div id="css-editor" class="editor-container"></div>
                <div class="editor-toolbar"><span class="icon-wrench" style="font-size:20px;"></span></div>
            </div>
        </div>
        <div class="bottom">
            <div class="top-right" id="preview">

            </div>
            <div class="bottom-right">
                <div id="js-editor" class="editor-container"></div>
                <div class="editor-toolbar"><span class="icon-wrench" style="font-size:20px;"></span></div>
            </div>
        </div>
    </div>
</div>