<!-- 代码编辑 -->
<div class="editor">
    <div class="editor-wrapper">
        <div class="core">
            <div class="top">
                <div class="split top-left">
                    <div class="editor-wrapper">
                        <div class="editor-container html-editor"></div>
                        <div class="editor-toolbar mini">
                            <div class="button-scope"><button class="el-button el-button--default insert-variable" title="插入变量"><span class="feather-icon-activity"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default insert-if" title="分支结构"><span class="feather-icon-git-branch"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default insert-for" title="循环结构"><span class="feather-icon-repeat"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default change-max" title="全屏"><span class="feather-icon-maximize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default change-mini" title="退出全屏"><span class="feather-icon-minimize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default toolbar-exit" title="最小化菜单"><span class="feather-icon-log-out"></span></button></div>
                        </div>
                    </div>
                </div>
                <div class="split bottom-left">
                    <div class="editor-wrapper">
                        <div class="editor-container css-editor"></div>
                        <div class="editor-toolbar mini">
                            <div class="button-scope"><button class="el-button el-button--default change-max" title="全屏"><span class="feather-icon-maximize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default change-mini" title="退出全屏"><span class="feather-icon-minimize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default toolbar-exit" title="最小化菜单"><span class="feather-icon-log-out"></span></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="split top-right">
                    <div class="editor-wrapper">
                        <div class="background-dark">
                            <div class="editor-container preview">
                                <div>
                                    <div class="editor-wrapper" style="overflow:auto;">
                                        <div class="preview-viewport"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="editor-toolbar mini">
                                <div class="button-scope"><button class="el-button el-button--default change-size" title="调节视图尺寸"><span class="feather-icon-airplay"></span></button></div>
                                <div class="button-scope"><button class="el-button el-button--default change-max" title="全屏"><span class="feather-icon-maximize"></span></button></div>
                                <div class="button-scope"><button class="el-button el-button--default change-mini" title="退出全屏"><span class="feather-icon-minimize"></span></button></div>
                                <div class="button-scope"><button class="el-button el-button--default toolbar-exit" title="最小化菜单"><span class="feather-icon-log-out"></span></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="split bottom-right">
                    <div class="editor-wrapper">
                        <div class="editor-container js-editor"></div>
                        <div class="editor-toolbar mini">
                            <div class="button-scope"><button class="el-button el-button--default insert-image" title="插入图片"><span class="feather-icon-image"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default insert-text" title="插入文本"><span class="feather-icon-type"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default change-max" title="全屏"><span class="feather-icon-maximize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default change-mini" title="退出全屏"><span class="feather-icon-minimize"></span></button></div>
                            <div class="button-scope"><button class="el-button el-button--default toolbar-exit" title="最小化菜单"><span class="feather-icon-log-out"></span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar">

        </div>
    </div>
</div>