<mi-frame id="page-cms-template-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">内容模板</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>内容模板</el-breadcrumb-item>
    </template>

    <template>

        <div style="width:100%; height:100%; position:relative;">
            <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
                <div style="box-sizing:border-box; width:420px; position:absolute; left:0; top:0; bottom:0; padding:10px; border-right:1px solid #ebeef5;">
                    <div style="width:100%; height:100%; position:relative">
                        <el-scrollbar style="height:100%;">
                            <el-tree
                                    v-loading="loading.tree"
                                    ref="tagTree"
                                    :props = "tree.props"
                                    :data = "tree.data"
                                    node-key="uuid"
                                    :current-node-key="tree.current"
                                    check-strictly
                                    :expand-on-click-node="false"
                                    default-expand-all
                                    highlight-current
                                    @current-change="currentTreeNodeChange"
                                    draggable
                                    :allow-drag="treeNodeAllowDrag"
                                    :allow-drop="treeNodeAllowDrop"
                                    @node-drop="treeNodeDrop">

                            <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;" slot-scope="{node, data}">
                                <span style="font-size:14px;">
                                     <span :class="data.icon" :style="data.style"></span>
                                     <span>{{data.name}}</span>
                                </span>
                                <span v-if="data.id !== -1">
                                    <el-button v-if="!node.parent.data.length" type="text" size="mini" style="padding:0;" @click.stop="treeNodeTop(node, data)">
                                        <span style="font-size:15px; position:relative; bottom:1px; left:2px;" class="icon-arrow-up"></span>
                                    </el-button>
                                    <el-button type="text" size="mini" style="padding:0;" @click.stop="treeNodeEdit(node, data)">
                                        <span style="font-size:15px; position:relative; bottom:1px; left:2px;" class="icon-pencil"></span>
                                    </el-button>
                                    <el-button type="text" size="mini" style="padding:0;" @click.stop="treeNodeAppend(node, data)">
                                        <span style="font-size:16px;" class="icon-plus"></span>
                                    </el-button>
                                    <el-button v-if="!data.autoGeneration" type="text" size="mini" style="padding:0; margin-left:5px;" @click.stop="treeNodeDelete(node, data)">
                                        <span style="font-size:16px;" class="icon-trash"></span>
                                    </el-button>
                                </span>
                              </span>

                            </el-tree>
                        </el-scrollbar>
                        <el-button type="primary" size="medium" circle style="position:absolute; left:-15px; bottom:-15px; box-shadow:0 2px 12px 0 rgba(0,0,0,1);" @click="addRootTreeNode" :loading="loading.addRoot" icon="el-icon-plus"></el-button>
                    </div>
                </div>
                <div v-if="tree.current" style="box-sizing:border-box; position:absolute; left:420px; top:0; right:0; bottom:0; padding:10px;">
                    <div style="width:100%; height:100%; position:relative;">
                        <div style="height:54px;">
                            <el-button size="small" type="primary" @click="dialog.addTemplate.visible = true"><span class="icon-plus" style="margin-right:5px;"></span>添加模板</el-button>
                            <el-button size="small" type="warning"><span class="icon-trash" style="margin-right:5px;"></span>删除模板</el-button>
                        </div>
                        <div style="position:absolute; top:54px; left:0; right:0; bottom:0;overflow-y:auto">
                            <el-table
                                    :data="table.data"
                                    style="width:100%">
                                <el-table-column
                                        type="selection"
                                        width="55">
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="模板名称"
                                        width="150">
                                </el-table-column>
                                <el-table-column
                                        prop="type"
                                        label="模板类型"
                                        width="110">
                                </el-table-column>
                                <el-table-column
                                        prop="templateId"
                                        label="模板用途"
                                        width="150">
                                </el-table-column>
                                <el-table-column
                                        prop="icon"
                                        label="图标"
                                        width="200">
                                </el-table-column>
                                <el-table-column
                                        prop="style"
                                        label="图标样式"
                                        width="200">
                                </el-table-column>
                                <el-table-column
                                        prop="remark"
                                        label="备注">
                                </el-table-column>
                                <el-table-column
                                        prop="remark"
                                        label="操作"
                                        width="200">
                                    <template slot-scope="scope">
                                        <el-tooltip class="item" effect="dark" content="编写模板代码" placement="bottom">
                                            <el-button type="text" icon="icon-font" style="margin:0; font-size:18px; padding:0; margin-right:25px;" @click="templateEdit(scope)"></el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="修改模板数据" placement="bottom">
                                            <el-button type="text" icon="el-icon-edit" style="margin:0; font-size:18px; padding:0; margin-right:20px;" @click="rowEdit(scope)"></el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="修改标签" placement="bottom">
                                            <el-button type="text" icon="icon-tag" style="margin:0; font-size:18px; padding:0; margin-right:25px;" @click="changeTag(scope)"></el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="删除模板" placement="bottom">
                                            <el-button type="text" icon="el-icon-delete" style="margin:0; font-size:18px; padding:0;" @click="rowDelete(scope)"></el-button>
                                        </el-tooltip>
                                    </template>
                                </el-table-column>
                            </el-table-column>
                        </div>
                    </div>
                </div>
            </el-card>
        </div>

        <!-- 编辑标签对话框 -->
        <el-dialog
                title="编辑标签"
                :visible.sync="dialog.editTag.visible"
                width="500px"
                :before-close="handleEditTagClose">

            <el-form ref="form" label-width="70px">
                <el-form-item label="标签名称">
                    <el-input v-model="dialog.editTag.name"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input type="textarea" v-model="dialog.editTag.remark"></el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editTag.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleEditTagCommit">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 添加内容模板 -->
        <el-dialog
                title="添加模板"
                :visible.sync="dialog.addTemplate.visible"
                width="500px"
                :before-close="handleAddTemplateClose">

            <el-form ref="form" label-width="70px">
                <el-form-item label="模板名称">
                    <el-input v-model="dialog.addTemplate.name"></el-input>
                </el-form-item>
                <el-form-item label="模板类型">
                    <el-select v-model="dialog.addTemplate.type" placeholder="模板类型" style="width:100%;">
                        <el-option v-for="type in types" :label="type" :value="type" :key="type"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="模板用途">
                    <el-select v-model="dialog.addTemplate.templateId" placeholder="模板用途" style="width:100%;">
                        <el-option v-for="templateId in templateIds" :label="templateId" :value="templateId" :key="templateId"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="图标">
                    <el-input v-model="dialog.addTemplate.icon"></el-input>
                </el-form-item>
                <el-form-item label="样式">
                    <el-input v-model="dialog.addTemplate.style"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input type="textarea" v-model="dialog.addTemplate.remark"></el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.addTemplate.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleAddTemplateCommit" v-loading="dialog.addTemplate.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 修改内容模板数据 -->
        <el-dialog
                title="修改模板"
                :visible.sync="dialog.editTemplate.visible"
                width="500px"
                :before-close="handleEditTemplateClose">

            <el-form ref="form" label-width="70px">
                <el-form-item label="模板名称">
                    <el-input v-model="dialog.editTemplate.name"></el-input>
                </el-form-item>
                <el-form-item label="模板类型">
                    <el-select v-model="dialog.editTemplate.type" placeholder="模板类型" style="width:100%;">
                        <el-option v-for="type in types" :label="type" :value="type" :key="type"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="模板用途">
                    <el-select v-model="dialog.editTemplate.templateId" placeholder="模板用途" style="width:100%;">
                        <el-option v-for="templateId in templateIds" :label="templateId" :value="templateId" :key="templateId"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="图标">
                    <el-input v-model="dialog.editTemplate.icon"></el-input>
                </el-form-item>
                <el-form-item label="样式">
                    <el-input v-model="dialog.editTemplate.style"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input type="textarea" v-model="dialog.editTemplate.remark"></el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editTemplate.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleEditTemplateCommit" v-loading="dialog.editTemplate.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 选择标签对话框 -->
        <el-dialog
                title="修改标签"
                :visible.sync="dialog.selectTag.visible"
                width="550px"
                :before-close="handleSelectTagClose">

            <div style="height:240px; position:relative;">
                <div style="position:absolute; top:-30px; left:-20px; bottom:-30px; right:-20px;">
                    <div style="width:100%; height:100%;">
                        <el-scrollbar style="height:100%;">
                            <el-tree
                                    ref="selectTagTree"
                                    :props = "dialog.selectTag.tree.props"
                                    :data = "dialog.selectTag.tree.data"
                                    node-key="id"
                                    :current-node-key="dialog.selectTag.tree.current"
                                    check-strictly
                                    :expand-on-click-node="false"
                                    default-expand-all
                                    highlight-current
                                    @current-change="currentSelectedTagChange">

                            <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;" slot-scope="{node, data}">
                                <span style="font-size:14px;">
                                     <span :class="data.icon" :style="data.style"></span>
                                     <span>{{data.name}}</span>
                                </span>
                            </span>

                            </el-tree>
                        </el-scrollbar>
                    </div>
                </div>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.selectTag.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleSelectTagCommit" v-loading="dialog.selectTag.loading">确 定</el-button>
            </span>

        </el-dialog>

        <template-editor ref="templateEditor" id="template-editor" @save-template="saveTemplate"></template-editor>

    </template>

</mi-frame>