/* menu-reset */
.frame-wrapper .el-aside,
.frame-wrapper .el-menu{background-color:#37404f;}
.frame-wrapper .el-submenu__title:hover,
.frame-wrapper .el-menu-item:focus,
.frame-wrapper .el-menu-item:hover{background-color:#2c333f;}
.frame-wrapper .el-submenu__title,
.frame-wrapper .el-menu-item{color:#fff;}
.frame-wrapper .el-menu-item.is-active{color:#ffd04b;}
.frame-wrapper .platform-title,
.frame-wrapper .platform-logo.collapse{color:#fff;}

.frame-wrapper{width:100%; height:100%; padding:0; margin:0; position:relative;}
.frame-wrapper .el-aside{background-color:#37404f;}
.el-main{overflow:hidden;}
.frame-body{position:absolute; top:60px; bottom:50px; width:100%; padding:10px; box-sizing:border-box;}
.frame-body-wrapper{width:100%; height:100%; position:relative;}
.frame-footer{height:50px; line-height:50px; background-color:#fff; position:absolute; left:0; bottom:0; right:0;}
.content-wrapper{position:absolute; top:35px; left:0; bottom:0; right:0;}
.content{width:100%; height:100%; position:relative;}
.el-container{width:100%; height:100%;}
.header-menu{}
.header-menu .el-submenu.right, .frame-header .header-menu .el-menu-item.right{float:right;}
.header-menu>li{padding:0 10px!important;}
.header-menu>li.el-submenu{padding:0!important;}
.header-menu>li>.el-submenu__title{padding:0 10px!important;}
.aside-menu:not(.el-menu--collapse){width:200px;}
.aside-menu{border-right:0;}
.header-menu .el-menu-item.no-border-bottom-style,
.header-menu .el-submenu.no-border-bottom-style .el-submenu__title{border-bottom:0!important;}

.platform-logo-wrapper{box-sizing:border-box;}
.platform-logo{text-align:center;}
.platform-logo>img{width:48%; position:relative; top:4px;}
.platform-logo>img{width:80%; position:relative; top:10px;} 
.platform-title{text-align:center; font-size:16px; font-weight:700; color:#fff; line-height:60px;}

.aside-menu:not(.el-menu--collapse) .platform-logo.collapse{display:none;}
.aside-menu:not(.el-menu--collapse) .platform-title.collapse{display:none;}

.el-menu--collapse .platform-logo:not(.collapse){display:none;}
.el-menu--collapse .platform-title:not(.collapse){display:none;}

.platform-logo.collapse{text-align:center; line-height:30px; color:#fff; font-size:18px; font-weight:700; position:relative; top:5px;}
.platform-title.collapse{line-height:30px; position:relative; bottom:5px;}

.el-scrollbar__wrap:not(.el-select-dropdown__wrap){overflow-x:hidden!important;}

.item-message{position:relative;}
.tag{display:inline-block; border-radius:3px; position:absolute; right:4px; top:14px; line-height:normal; font-size:10px; line-height:1.16em; padding:0 .34em;}
.tag.success{background-color:#48ab02; color:#fff;}
.tag.error{background-color:#f56c6c; color:#fff;}
.tag.warning{background-color:#f39c12; color:#fff;}
.tag.info{background-color:#00c0ef; color:#fff;}

.userGroup{z-index:2; position:absolute; right:0; width:220px; top:60px; bottom:51px; background-color:#fff; box-shadow:0 0 20px 0 rgba(0,0,0,.15); padding:0 5px; border-left:1px solid #dcdfe6; border-bottom:1px solid #dcdfe6;}
.userGroup .el-collapse-item__content{padding-bottom:0!important;}

.user-item{height:50px; position:relative; border-bottom:1px solid #ebeef5; cursor:pointer; transition:background-color .3s ease-in;}
.user-item:hover{background-color:#fafafa;}
.userGroup .el-collapse-item .user-item:last-child{border-bottom:0;}
.user-icon{position:absolute; top:0; left:0; width:40px; height:40px; line-height:50px; box-sizing:border-box; border:1px solid #ebeef5; margin:5px; border-radius:100%; text-align:center;}
.user-icon>.icon-user{color:#ebeef5; position:relative; bottom:2px;}
.user-info{position:absolute; left:50px; right:40px; top:0; bottom:0;padding:0 5px;}
.user-badge{position:absolute; right:0; top:0; bottom:0; width:40px; line-height:50px;}
.user-name{line-height:32px;}
.user-status{line-height:18px; font-size:12px; color:#999; position:relative; bottom:10px;}

.frame-wrapper a{color:inherit!important; text-decoration:none!important;}

.frame-footer-wrapper{width:100%; height:100%; position:relative; padding:0 10px; box-sizing:border-box;}
.frame-footer .copyright{font-size:14px; width:500px;}
.frame-footer .copyright .company{color:#72afd2!important;}
.frame-footer .minimize{position:absolute; right:10px; top:0; left:500px; bottom:0; text-align:right;}
.frame-footer .minimize>.el-breadcrumb{line-height:inherit;}

.frame-footer .el-button.single{display:inline-block; height:50px; width:60px; line-height:50px; box-sizing:border-box; padding:0; font-size:24px;}
.frame-footer .el-button.multiple{box-sizing:border-box; display:inline-block; width:68px; height:50px; position:relative; font-size:24px;}
.frame-footer .el-button.multiple .layer{width:64px; position:absolute; height:50px; left:-1px; top:-1px; border-radius:4px; border:1px solid #dcdfe6; box-sizing:border-box; transition:border .1s;}
.frame-footer .el-button.multiple .layer>.layer{width:60px; position:absolute; left:-1px; top:-1px; height:50px; border-radius:4px; border:1px solid #dcdfe6; box-sizing:border-box; line-height:50px; text-align:center;}
.frame-footer .el-button.multiple:focus .layer,
.frame-footer .el-button.multiple:hover .layer{border-color:#c6e2ff; background-color:#ecf5ff; color:#409EFF;}
.frame-footer .el-button.multiple:active .layer{color:#3a8ee6; border-color:#3a8ee6;}
.frame-footer .el-breadcrumb__separator{margin:0 2px; display:inline-block;}