.bvc2-table-scheme{width:100%; height:100%; position:relative;}
.bvc2-table-scheme-search{position:absolute; right:10px; top:-44px; width:120px;}
.bvc2-table-scheme-search input{border-radius:16px;}

.bvc2-table-scheme-data{width:100%; position:absolute; left:0; top:0; bottom:60px;}
.bvc2-table-scheme-data-wrapper{width:100%; height:100%; position:relative;}
.bvc2-table-scheme-page{line-height:normal; display:inline-block; position:relative; bottom:1px;}
.bvc2-table-scheme-footer{width:100%; height:60px; position:absolute; bottom:0; left:0; line-height:53px; text-align:right;}
.bvc2-table-scheme-footer-wrapper{width:100%; height:100%; position:relative;}
.bvc2-table-scheme-add{padding:7px !important; position:absolute; left:10px; top:15px;}