<div class="container">
    <div class="pop">
        <div class="msg" v-for="(item,index) in msgData" :key="item.id">
            <p class="videoType" v-show="item.message.businessType === 'callUser'">
                <span class="icon-facetime-video"></span>
                <span>【视频通话】</span>
            </p>
            <p class="content" v-if="item.message.businessType === 'callUser'">{{item.message.businessInfo}}</p>
            <p class="content" v-else-if="command.message.businessType === 'voiceIntercom'">{{item.message.businessInfo}}</p>
            <p class="content" v-else-if="command.message.businessType === 'cooperationGrant'">{{item.message.businessInfo}}</p>
            <p class="content" v-else-if="command.message.businessType === 'commandStart'">{{item.message.businessInfo}}</p>
            <p class="content" v-else-if="command.message.businessType === 'commandForwardDevice'">{{item.message.businessInfo}}</p>
            <p class="content" v-else-if="command.message.businessType === 'commandForwardFile'">{{item.message.businessInfo}}</p>
            <p class="content" v-else-if="command.message.businessType === 'commandMessageReceive'">{{item.message.businessInfo}}</p>
            <p class="content" v-else-if="command.message.businessType === 'secretStart'">{{item.message.businessInfo}}</p>

            <div class="btns">
                <span @click="ignore($event,index,item)">忽略</span>
                <span @click="refuse($event,index,item)">拒绝</span>
                <span @click="accept($event,index,item)">同意</span>
            </div>
        </div>
    </div>
    <div class="closeBtn">
        <img src="../../../../../../images/zk-leader/close.png" @click="closePop">
    </div>
</div>