<mi-frame id="page-front-organization-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">组织架构</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>组织架构</el-breadcrumb-item>
    </template>

    <template>
        <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">

            <el-button type="primary" size="small" @click="handleCreate"><span class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;添加部门</el-button>
            <el-button type="warning" size="small" @click="handleDelete"><span class="icon-trash" style="position:relative; right:1px;"></span>&nbsp;删除部门</el-button>

            <div style="position:absolute; top:86px; bottom:0; left:0; right:0; padding:0 20px;">
                <el-scrollbar style="height:100%;">
                    <el-table
                            :data="table.rows"
                            :row-key="rowKey"
                            style="width:100%">
                        <el-table-column type="expand">
                            <template slot-scope="scope">
                                <el-tag
                                        v-for="user in scope.row.users"
                                        :key="'user-tag-' + user.uuid"
                                        closable
                                        type="primary"
                                        style="margin:10px;"
                                        @close="handleUserUnbinding(user, scope)">
                                    {{user.name}}
                                </el-tag>
                                <el-button size="medium" type="primary" style="position:relative; bottom:1px; margin:10px;" circle icon="el-icon-plus" @click="handleUserBinding(scope)"></el-button>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="部门"
                                prop="name">
                        </el-table-column>
                        <el-table-column
                                label="创建时间"
                                prop="updateTime">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="150">
                            <template slot-scope="scope">
                                <el-button type="text" icon="el-icon-edit" style="font-size:20px; padding:0;" @click="handleRowEdit(scope)"></el-button>
                                <el-button type="text" icon="el-icon-delete" style="font-size:20px; padding:0; margin-left:20px;" @click="handleRowDelete(scope)"></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-scrollbar>
            </div>
        </el-card>

        <!-- 添加部门对话框 -->
        <el-dialog
                title="添加部门"
                :visible.sync="dialog.addOrganization.visible"
                width="30%"
                :before-close="handleAddOrganizationClose">

            <el-input v-model="dialog.addOrganization.name" placeholder="请输入部门名称"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.addOrganization.visible = false">取 消</el-button>
                <el-button type="primary" @click="handleAddOrganizationOk" :loading="dialog.addOrganization.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 修改部门对话框 -->
        <el-dialog
                title="修改部门"
                :visible.sync="dialog.editOrganization.visible"
                width="30%"
                :before-close="handleEditOrganizationClose">

            <el-input v-model="dialog.editOrganization.name" placeholder="请输入部门名称"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.editOrganization.visible = false">取 消</el-button>
                <el-button type="primary" @click="handleEditOrganizationOk" :loading="dialog.editOrganization.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 选择用户对话框 -->
        <mi-user-dialog ref="userDialog" @on-dialog-close="onUserDialogClose"></mi-user-dialog>


    </template>

</mi-frame>