<div class="zk-header">
    <div class="content">
        <div class="leftTime">
            <p>
                <span style="font-size: 14px;margin-right: 10px">天文</span>
                <span class="date">{{date}}</span>
            </p>
            <p>
                <span style="font-size: 14px;margin-right: 10px">时间</span>
                <span class="time">{{time}}</span>
            </p>
        </div>
        <div class="leftTime">
            <p>
                <span style="font-size: 14px;margin-right: 10px">会议</span>
                <span class="date">{{date}}</span>
            </p>
            <p>
                <span style="font-size: 14px;margin-right: 10px">时间</span>
                <span class="time">{{time}}</span>
            </p>
            <!--<p>-->
                <!--<span style="font-size: 14px">作战</span>-->
                <!--<span class="date">{{fightDate}}</span></p>-->
            <!--<p>-->
                <!--<span style="font-size: 14px">时间</span>-->
                <!--<span class="time">{{fightTime}}</span>-->
            <!--</p>-->
            <!--<span class="el-icon-time setTimeIcon" style="position: absolute;right: 22px;bottom: 23px;font-size: 24px;cursor: pointer;color: #cafffa" @click="openSetTime"></span>-->
        </div>
        <div class="center">
            <span>网络化作战会议系统</span>
        </div>
        <div class="right">
            <span class="icon-user" style="font-size: 30px;position: absolute;left: 40px;top:28px;"></span>
            <div style="position: absolute;top:0;left: 70px;height: 100%;width: 140px;overflow:hidden;">
                <span :class="usernameLength>=10? 'username animate':'username'">{{user.name}}</span>
                <!--<span :class="usernameLength>=10? 'username animate':'username'">我和我的祖国，一刻也不能分割</span>-->
            </div>
        </div>
        <div class="right">
            <p style="font-size: 14px;line-height: 54px;margin-left: -10px">
                <span style="margin: 0 8px">首页</span>
                <span style="margin: 0 30px">设置</span>
                <span style="margin: 0">退出</span>
            </p>
            <p>
                <span class="setting icon-home" title="首页" @click="goHome"></span>
                <span class="setting icon-cog" @click="showSettings" style="margin-right: 10px" title="系统设置"></span>
                <span class="setting icon-off" title="退出" @click="exitCommand"></span>
            </p>
        </div>
    </div>
</div>