.mi-image-dialog .icon-folder-close{color:#ffd659;font-size:16px; position:relative; top:1px; margin-right:7px;}
.mi-image-dialog .el-dialog__body{padding:0 20px;}
.mi-image-dialog .el-dialog{margin-top:50px!important;}