.forword-outer-control .bvc2-auto-layout-wrapper{
  position: static;
    width: 60%;
    height: 95%;
    float: left;
    margin-left: 1%;
    padding: 1%;
    border: solid 1px #eee;
    border-radius: 5px;
}
.forword-outer-control .liangwu-forword .bvc2-auto-layout-container{
  position: relative;
}
.forword-outer-control .liangwu-forword .el-table{
  /* position: absolute; */
  padding-top: 0;
  margin-left: 2%;
  height: calc(100% - 80px);
  margin-bottom: 15px;
}
.forword-outer-control .col{
  width: 30%;
  min-height: calc(100% - 40px);
}