.mi-lightbox{width:100%; height:100%; position:fixed; left:0; top:0; background-color:rgba(0,0,0,.8); z-index:10; overflow-y:auto;}
.mi-lightbox>div{display:table; width:100%; height:100%;}
.mi-lightbox>div>div{display:table-cell; width:100%; height:100%; text-align:center; vertical-align:middle;}
.image-scope{display:inline-block;}
.image-scope>img{width:100%;}
.exit{position:fixed; right:10px; top:10px; margin:0; padding:0; font-size:35px; font-weight:900; color:#777!important; z-index:10; transition:color .2s ease-in;}
.exit:hover{color:#888!important;}
.video-scope{display:inline-block;}
.video-scope>video{max-width:70%;}
.audio-scope{display:inline-block;}
.txt-scope{width:60%; height:90%; display:inline-block; position:relative;}
.txt-scope textarea{width:100%; height:100%; border-radius:0;}
.txt-scope .el-textarea{height:100%;}
.txt-scope>.el-button{position:absolute; right:-56px; border-top-left-radius:0; border-bottom-left-radius:0; transition:right 0s;}
.txt-scope>.el-button[disabled]{right:-78px;}
