

#page-omms-software-service-installation-package-history-wrapper .condition-item{display:inline-block; width:190px; margin-left:10px;}
#page-omms-software-service-installation-package-history-wrapper .condition-item input{height:33px; line-height:33px;}