.mi-business-role-dialog .content{height:340px; position:relative;}
.mi-business-role-dialog .content-wrapper{width:600px; height:400px; position:absolute; top:-30px; left:0;}
.mi-business-role-dialog .table-wrapper{height:368px;}
.mi-business-role-dialog .footer{height:32px;}