<mi-frame ref="frame" id="page-media-video-stream-wrapper" :menus="menus" :user="user" :groups="groups" :active-id="activeId">

    <template slot="title">{{user.groupName}}（视频流库）</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>视频流仓库</el-breadcrumb-item>
    </template>

    <template>
        <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
            <div style="margin-bottom:10px;">
                <el-button type="primary" size="small" @click="dialog.addVideoStream.visible = true" :disabled="!current.id"><span class="icon-plus" style="position:relative; right:1px;"></span>&nbsp;添加视频流</el-button>
                <el-button type="warning" size="small" @click="dialog.createFolder.visible = true" :disabled="!current.id"><span class="icon-folder-open" style="position:relative; right:1px;"></span>&nbsp;新建文件夹</el-button>
                <!--<el-button-group style="margin-left:10px;">
                    <el-button size="small">下载</el-button>
                    <el-button size="small">删除</el-button>
                    <el-button size="small">重命名</el-button>
                    <el-button size="small">复制</el-button>
                    <el-button size="small">移动</el-button>
                </el-button-group>-->
                <el-input placeholder="搜索您的文件" size="small" suffix-icon="el-icon-search" style="float:right; width:300px; margin-right:10px;"></el-input>
            </div>
            <div style="margin-bottom:10px;">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item v-for="item in breadCrumb" :key="'breadcrumb-' + item.uuid">
                        <a :href="'#/page-media-video-stream/' + item.id" v-if="item.next">{{item.name}}</a>
                        <template v-else>{{item.name}}</template>
                    </el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div style="position:absolute; top:86px; bottom:0; left:0; right:0; padding:0 20px;">
                <el-scrollbar style="height:100%;">
                    <el-table
                            :data="table.rows"
                            @cell-mouse-enter="mouseEnter"
                            @cell-mouse-leave="mouseLeave"
                            tooltip-effect="dark"
                            style="width:100%">
                        <el-table-column type="selection" width="42"></el-table-column>
                        <el-table-column width="40">
                            <template slot-scope="scope">
                                <span :class="scope.row.icon" :style="scope.row.style"></span>
                            </template>
                        </el-table-column>
                        <el-table-column label="文件名">
                            <template slot-scope="scope">
                                <el-button v-if="scope.row.type==='FOLDER'" type="text" style="padding:0; color:inherit;"><a class="folder-link" :href="'#/page-media-video-stream/'+scope.row.id">{{scope.row.name}}</a></el-button>
                                <span v-else>{{scope.row.name}}</span>
                                <span :style="'float:right; position:relative;' + (scope.row.__hover__?'display:inline-block;':'display:none;')">
                                    <!--<el-tooltip v-if="scope.row.type!=='FOLDER'" class="item" effect="dark" content="预览" placement="bottom">
                                        <el-button size="small" type="text" style="padding:0; position:absolute; top:2px; right:57px;" @click="handlePreview(scope)">
                                            <span class="icon-eye-open" style="font-size:18px; position:relative; top:1px;"></span>
                                        </el-button>
                                    </el-tooltip>-->
                                    <el-tooltip v-if="scope.row.removeable && (scope.row.type==='FOLDER'||!scope.row.reviewStatus||scope.row.reviewStatus.indexOf('拒绝')>=0)" class="item" effect="dark" content="删除" placement="bottom">
                                        <el-button
                                                size="small"
                                                type="text"
                                                style="padding:0; position:absolute; right:30px; top:2px;"
                                                @click="handleRowRemove(scope)">
                                            <span class="el-icon-delete" style="font-size:18px;"></span>
                                        </el-button>
                                    </el-tooltip>
                                    <el-dropdown v-if="(scope.row.removeable&&scope.row.type==='FOLDER')||!scope.row.reviewStatus||scope.row.reviewStatus==='修改审核拒绝'||scope.row.reviewStatus==='删除审核拒绝'" trigger="click" style="position:absolute; right:0; top:2px;" @visible-change="table.tooltip=!table.tooltip" @command="tableOptionsCommand($event, scope)">
                                        <el-tooltip :disabled="table.tooltip" class="item" effect="dark" content="更多" placement="bottom">
                                            <el-button size="small" type="text" style="padding:0;"><span class="el-icon-more-outline" style="font-size:18px;"></span></el-button>
                                        </el-tooltip>
                                        <el-dropdown-menu slot="dropdown">
                                            <el-dropdown-item command="0" v-if="scope.row.type==='FOLDER'">重命名</el-dropdown-item>
                                            <el-dropdown-item command="1" v-if="scope.row.type==='VIDEO_STREAM'">编辑</el-dropdown-item>
                                            <!--<el-dropdown-item command="2">移动</el-dropdown-item>
                                            <el-dropdown-item command="3">复制</el-dropdown-item>-->
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </span>
                            </template>
                        </el-table-column>
                        <!--<el-table-column prop="previewUrl" label="流地址" width="400"></el-table-column>-->
                        <el-table-column label="流地址" width="400">
                            <template slot-scope="scope" v-if="scope.row.previewUrl && scope.row.previewUrl.length>0">
                                <el-popover trigger="hover" placement="top">
                                    <p v-for="(item,i) in scope.row.previewUrl" :key="item.id">地址{{ i+1 }}：{{ item }}</p>
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium">共 {{ scope.row.previewUrl.length }} 条地址</el-tag>
                                    </div>
                                </el-popover>
                            </template>
                        </el-table-column>
                        <el-table-column prop="updateTime" label="创建时间" width="180"></el-table-column>
                        <el-table-column label="审核状态" width="180">
                            <template slot-scope="scope">
                                <el-button v-if="scope.row.processInstanceId" type="text" style="padding:0;" @click="doProcessPreview(scope)">{{scope.row.reviewStatus}}</el-button>
                                <span v-else>{{scope.row.reviewStatus}}</span>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-scrollbar>
            </div>

            <!--<div style="height:50px;">
                <el-pagination
                        style="float:right; margin-top:20px;"
                        background
                        :current-page="page.current"
                        :page-sizes="[100, 200, 300, 400]"
                        :page-size="100"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="400">
                </el-pagination>
            </div>-->
        </el-card>

        <!-- 新建文件夹 -->
        <el-dialog
                title="新建文件夹"
                width="500px"
                :visible.sync="dialog.createFolder.visible"
                @closed="addMediaVideoStreamFolderDialogClosed">

            <el-input v-model="dialog.createFolder.folderName" placeholder="请输入文件夹名称"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.createFolder.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.createFolder.loading" @click="addMediaVideoStreamFolder">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 修改文件夹名称 -->
        <el-dialog
                title="重命名"
                width="500px"
                :visible.sync="dialog.renameFolder.visible"
                @closed="renameMediaVideoStreamFolderDialogClosed">

            <div v-if="dialog.renameFolder.row">
                <div style="margin-bottom:20px;">
                    <span :class="dialog.renameFolder.row.icon" :style="dialog.renameFolder.row.style"></span>
                    <span style="margin-left:5px;">{{dialog.renameFolder.row.name}}</span>
                </div>
                <el-input v-model="dialog.renameFolder.folderName" placeholder="请输入新文件夹名称"></el-input>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.renameFolder.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.renameFolder.loading" @click="renameMediaVideoStreamFolder">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 移动文件夹 -->
        <mi-folder-dialog ref="moveMediaVideoStreamFolderDialog" @selected-folder="moveMediaVideoStreamFolder"></mi-folder-dialog>

        <!-- 复制文件夹 -->
        <mi-folder-dialog ref="copyMediaVideoStreamFolderDialog" @selected-folder="copyMediaVideoStreamFolder"></mi-folder-dialog>

        <!-- 添加视频流媒资对话框 -->
        <el-dialog
                title="添加视频"
                :visible.sync="dialog.addVideoStream.visible"
                width="500px"
                :before-close="handleAddVideoStreamClose">

            <div style="height: 500px">
                <el-scrollbar style="height: 100%">
                    <el-form ref="form" label-width="80px">
                        <el-form-item label="媒资名称">
                            <el-input v-model="dialog.addVideoStream.name"></el-input>
                        </el-form-item>
                        <el-form-item label="流地址">
                            <el-input v-for="i in dialog.addVideoStream.urlCount" v-model="dialog.addVideoStream.previewUrl[i-1]"  :style="(i==1?'margin-top:0':'margin-top:10px')">
                                <template slot="append">
                                    <el-button class="icon-plus" circle @click="handleAddVideoStreamAddUrl" v-if="i==1"></el-button>
                                    <el-button class="icon-minus" circle @click="handleAddVideoStreamMinusUrl(i)" v-else></el-button>
                                </template>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="流类型">
                            <el-select
                                    v-model="dialog.addVideoStream.streamType"
                                    placeholder="请选择流类型">
                                <el-option
                                        v-for="item in streamTypeList"
                                        :key="item"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="标签">
                            <el-tag
                                    :key="simple"
                                    v-for="simple in dialog.addVideoStream.tags"
                                    style="margin-right:10px;"
                                    closable
                                    :disable-transitions="false"
                                    @close="handleTagRemove(dialog.addVideoStream.tags, simple)">
                                {{simple}}
                            </el-tag>
                            <el-button style="height:32px; line-height:30px; padding-top:0; padding-bottom:0; position:relative; bottom:1px;" size="small" @click="handleTagAdd" icon="el-icon-edit"> 贴标签</el-button>
                        </el-form-item>
                        <el-form-item label="关键字">
                            <el-input v-model="dialog.addVideoStream.keyWords"></el-input>
                        </el-form-item>
                        <el-form-item label="资源封图">
                            <table>
                                <tr>
                                    <td style="width:100px; vertical-align:middle; border:1px solid #eaeaea;">
                                        <img v-if="dialog.addVideoStream.thumbnail" style="width:100px; height:100px; float:left;" :src="dialog.addVideoStream.thumbnail" />
                                    </td>
                                    <td style="width:100px; vertical-align:middle;">
                                        <el-button type="primary" style="padding:0; margin:0; width:100px; height:100px; line-height:100px; border-radius:0;" @click="handleSelectThumbnail(dialog.addVideoStream)">
                                            <span class="el-icon-edit" style="font-size:40px; position:relative; top:7px;"></span>
                                        </el-button>
                                    </td>
                                </tr>
                            </table>
                        </el-form-item>
                        <el-form-item label="附加属性">
                            <el-button @click="handleAdditionAdd" type="primary" size="small">编辑</el-button>
                        </el-form-item>
                        <el-form-item label="备注">
                            <el-input type="textarea" v-model="dialog.addVideoStream.remark"></el-input>
                        </el-form-item>
                    </el-form>
                </el-scrollbar>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.addVideoStream.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.addVideoStream.loading" @click="addMediaVideoStreamTask">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 编辑视频流媒资对话框 -->
        <el-dialog
                title="编辑视频流"
                :visible.sync="dialog.editVideoStream.visible"
                width="500px"
                :before-close="handleEditVideoStreamClose">

            <div>
                <el-form ref="form" label-width="80px">
                    <el-form-item label="媒资名称">
                        <el-input v-model="dialog.editVideoStream.name"></el-input>
                    </el-form-item>
                    <el-form-item label="流地址">
                        <el-input v-for="i in dialog.editVideoStream.urlCount" v-model="dialog.editVideoStream.previewUrl[i-1]"  :style="(i==1?'margin-top:0':'margin-top:10px')">
                            <template slot="append">
                                <el-button class="icon-plus" circle @click="handleEditVideoStreamAddUrl" v-if="i==1"></el-button>
                                <el-button class="icon-minus" circle @click="handleEditVideoStreamMinusUrl(i)" v-else></el-button>
                            </template>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="流类型">
                        <el-select
                                v-model="dialog.editVideoStream.streamType"
                                placeholder="请选择流类型">
                            <el-option
                                    v-for="item in streamTypeList"
                                    :key="item"
                                    :value="item">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="标签">
                        <el-tag
                                :key="simple"
                                v-for="simple in dialog.editVideoStream.tags"
                                style="margin-right:10px;"
                                closable
                                :disable-transitions="false"
                                @close="handleTagRemove(dialog.editVideoStream.tags, simple)">
                            {{simple}}
                        </el-tag>
                        <el-button style="height:32px; line-height:30px; padding-top:0; padding-bottom:0; position:relative; bottom:1px;" size="small" @click="handleTagEdit" icon="el-icon-edit"> 贴标签</el-button>
                    </el-form-item>
                    <el-form-item label="关键字">
                        <el-input v-model="dialog.editVideoStream.keyWords"></el-input>
                    </el-form-item>
                    <el-form-item label="资源封图">
                        <table>
                            <tr>
                                <td style="width:100px; vertical-align:middle; border:1px solid #eaeaea;">
                                    <img v-if="dialog.editVideoStream.thumbnail" style="width:100px; height:100px; float:left;" :src="dialog.editVideoStream.thumbnail" />
                                </td>
                                <td style="width:100px; vertical-align:middle;">
                                    <el-button type="primary" style="padding:0; margin:0; width:100px; height:100px; line-height:100px; border-radius:0;" @click="handleSelectThumbnail(dialog.editVideoStream)">
                                        <span class="el-icon-edit" style="font-size:40px; position:relative; top:7px;"></span>
                                    </el-button>
                                </td>
                            </tr>
                        </table>
                    </el-form-item>
                    <el-form-item label="附加属性">
                        <el-button @click="handleAdditionEdit" type="primary" size="small">编辑</el-button>
                    </el-form-item>
                    <el-form-item label="备注">
                        <el-input type="textarea" v-model="dialog.editVideoStream.remark"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editVideoStream.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" :loading="dialog.editVideoStream.loading" @click="editMediaVideoStreamTask">确 定</el-button>
            </span>

        </el-dialog>

        <!-- 选择图片对话框 -->
        <mi-image-dialog ref="selectThumbnail" @selected-image="selectedThumbnail"></mi-image-dialog>

        <!-- 编辑附加属性 -->
        <mi-addition-dialog ref="editAddition" @on-dialog-close="editAddition"></mi-addition-dialog>

        <!-- 移动文件 -->
        <mi-folder-dialog ref="moveMediaVideoStreamDialog" @selected-folder="moveMediaVideoStream"></mi-folder-dialog>

        <!-- 复制文件 -->
        <mi-folder-dialog ref="copyMediaVideoStreamDialog" @selected-folder="copyMediaVideoStream"></mi-folder-dialog>

        <!-- 选择标签对话框 -->
        <mi-tag-dialog ref="tagDialog" @on-tag-dialog-close="selectedTags"></mi-tag-dialog>

        <!-- 预览灯箱 -->
        <mi-lightbox ref="Lightbox" @on-txt-save="handleTxtSave"></mi-lightbox>

    </template>

</mi-frame>