<transition
        leave-active-class="animated fadeOut">
    <div v-if="visible" class="mi-lightbox">
        <div>
            <div v-loading="loading" element-loading-text="拼命加载中" element-loading-background="rgba(0,0,0,0)">
                <transition
                        enter-active-class="animated jackInTheBox"
                        leave-active-class="animated hinge">
                    <div class="image-scope" v-if="image.ready" :style="{'max-width':imageWidth}">
                        <img v-if="image.src" :src="image.src"/>
                    </div>
                </transition>
                <div class="video-scope" v-if="video.ready">
                    <video :src="video.src" controls="controls"></video>
                </div>
                <div class="audio-scope" v-if="audio.ready">
                    <audio src="audio.src"></audio>
                </div>
                <div class="txt-scope" v-if="txt.ready">
                    <el-input type="textarea" v-model="txt.src"></el-input>
                    <el-button size="small" style="top:0;" @click="saveTxt" :disabled="txt.saveLoading?true:false">{{txt.saveLoading?'加载中...':'保存'}}</el-button>
                    <!--<el-button size="small" style="top:37px;">撤销</el-button>-->
                </div>
            </div>
        </div>
        <el-button class="exit" type="text" @click="exit"><span class="feather-icon-x"></span></el-button>
    </div>
</transition>