<div class="zk-header">
    <div class="content">
        <div class="leftTime leftTime1">
            <p class="date">{{date}}</p>
            <p class="time">{{time}}</p>
        </div>
        <div class="leftTime leftTime2">
            <p class="date">{{date}}</p>
            <p class="time">{{time}}</p>
            <!--<p>-->
            <!--<span style="font-size: 14px">作战</span>-->
            <!--<span class="date">{{fightDate}}</span></p>-->
            <!--<p>-->
            <!--<span style="font-size: 14px">时间</span>-->
            <!--<span class="time">{{fightTime}}</span>-->
            <!--</p>-->
            <!--<span class="el-icon-time setTimeIcon" style="position: absolute;right: 22px;bottom: 23px;font-size: 24px;cursor: pointer;color: #cafffa" @click="openSetTime"></span>-->
        </div>
        <div class="center">
            <span>网络化作战指挥系统</span>
        </div>
        <div class="right">
            <span class="icon-user" style="font-size: 30px;position: absolute;left: 40px;top:28px;color: #b7d0dc"></span>
            <div style="position: absolute;top:0;left: 70px;height: 100%;width: 140px;overflow:hidden;">
                <span :class="usernameLength>=5? 'username animate':'username'">{{user.name}}</span>
            </div>
        </div>
        <div class="right">
            <p style="font-size: 14px;line-height: 54px;margin-left: -10px;color: #b7d0dc">
                <span style="margin: 0 8px">设置</span>
                <span style="margin: 0 30px">管理</span>
                <span style="margin: 0">退出</span>
            </p>
            <p class="images">
                <img src="../../../../../images/zk-leader/setting.png" @click="showSettings" title="系统设置">
                <img src="../../../../../images/zk-leader/management.png" alt=""  title="系统管理">
                <img src="../../../../../images/zk-leader/exit.png" alt="" title="退出" @click="closeExit">
            </p>
        </div>
    </div>
</div>