/* reset */
html, body{overflow:hidden; min-width:0 !important; min-height:0 !important;}
.leader-dialog-create-group .el-input__inner{border-radius:0;}
.leader-dialog-create-group .el-scrollbar__wrap{overflow-x:hidden;}