<div id="bvc2-add-repeater-wrapper" class="page-wrapper" style="width:100%; height:100%; padding:10px; box-sizing:border-box;">
    <bvc2-header
        :links="header.links"
        :user="header.user"></bvc2-header>
    <div class="page-body">
        <el-container style="width:100%; height:100%">
            <bvc2-nav-side :active="active"></bvc2-nav-side>
            <el-main style="padding:0 15px 0 15px;">
                <div style="width:100%; height:100%; position: relative;">
                    <div style="height:48px; position:absolute; left:0; top:0; width:100%;">
                        <el-button size="small" type="primary" @click="dialog.addRepeater.visible = true"><span class="icon-plus" style="margin-right:5px;"></span>添加转发器</el-button>
                        <el-button size="small" type="warning"><span class="icon-trash" style="margin-right:5px;"></span>删除转发器</el-button>
                        <el-button v-if="status === 'backup'" size="small" type="danger" @click="switchMain" style="float: right;"><span class="icon-exchange" style="margin-right:5px;"></span>切换到主机</el-button>
                        <el-button v-if="status === 'main'" size="small" type="danger" @click="switchBackup" style="float: right;"><span class="icon-exchange" style="margin-right:5px;"></span>切换到备机</el-button>
                    </div>
                    <div style="position:absolute; left:0; right:0; top:48px; bottom:0; overflow: auto">
                        <el-table
                                :data="table.data"
                                tooltip-effect="dark"
                                style="width: 100%; height: 100%;">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="名称">
                            </el-table-column>
                            <el-table-column
                                    prop="ip"
                                    label="集群IP">
                            </el-table-column>
                            <el-table-column
                                    prop="address"
                                    label="流转发器IP">
                            </el-table-column>
                            <el-table-column
                                    prop="type"
                                    label="类型">
                            </el-table-column>
                            <el-table-column
                                    label="操作"
                                    width="250">
                                <template slot-scope="scope">
                                    <el-tooltip v-if="scope.row.type=='主'" class="item" effect="dark" content="编辑网口" placement="bottom">
                                        <el-button type="text" icon="el-icon-share" style="margin:0; font-size:18px; padding:0; margin-right:20px;" @click="rowBindInterAccess(scope)"></el-button>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="编辑" placement="bottom">
                                        <el-button type="text" icon="el-icon-edit" style="margin:0; font-size:18px; padding:0; margin-right:20px;" @click="rowEdit(scope)"></el-button>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="删除" placement="bottom">
                                        <el-button type="text" icon="el-icon-delete" style="margin:0; font-size:18px; padding:0;" @click="rowDelete(scope)"></el-button>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
            </el-main>
        </el-container>
    </div>

    <!-- 添加转发器对话框 -->
    <el-dialog
            title="添加流转发器"
            :visible.sync="dialog.addRepeater.visible"
            width="350px"
            :before-close="handleAddRepeaterClose">
            <div style="height:265px;">
                <el-form ref="form" label-width="85px">
                    <el-form-item label="名称">
                        <el-input v-model="dialog.addRepeater.name"></el-input>
                    </el-form-item>
                    <el-form-item label="集群IP">
                        <el-input v-model="dialog.addRepeater.ip"></el-input>
                    </el-form-item>
                    <el-form-item label="流转发器IP">
                        <el-input v-model="dialog.addRepeater.address"></el-input>
                    </el-form-item>
                    <el-form-item label="类型">
                        <el-select v-model="dialog.addRepeater.type" placeholder="请选择">
                            <el-option
                                    v-for="item in type"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item v-if="dialog.addRepeater.type == '备份'" label="备份主机">
                        <el-select v-model="dialog.addRepeater.main" placeholder="请选择">
                            <el-option
                                    v-for="item in main"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
            </div>

        <span slot="footer" class="dialog-footer">
            <el-button size="medium" @click="handleAddRepeaterClose">取 消</el-button>
            <el-button size="medium" type="primary" @click="handleAddRepeaterCommit" :loading="dialog.addRepeater.loading">确 定</el-button>
        </span>
    </el-dialog>
</div>