.mi-package-detail .content{height:340px; position:relative;}
.mi-package-detail .content-wrapper{width:600px; height:400px; position:absolute; top:-30px; left:0;}
.mi-package-detail .table-wrapper{height:368px;}
.mi-package-detail .footer{height:32px;}