.mi-tag-dialog .content{height:340px; position:relative;}
.mi-tag-dialog .content-wrapper{width:600px; height:400px; position:absolute; top:-30px; left:0;}
.mi-tag-dialog .tree-wrapper{height:348px; margin-top: 20px; overflow: auto;}
.mi-tag-dialog .footer{height:32px;}