<mi-frame id="page-cs-management-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">轮播管理</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
    </template>

    <template>

        <div style="width:100%; height:100%; position:relative;">
            <el-card class="box-card" shadow="hover" style="width:100%; height:100%;" v-loading="loading"
                     :element-loading-text=loadingText>
                <div style="position:absolute; left:0; top:0; right:0; bottom:0; padding:20px;">
                    <div style="width:100%; height:100%; position:relative;">
                        <div style="height:48px; position:absolute; left:0; top:0; width:100%;">
                            <el-button size="small" type="primary" @click="handleAddProgram()">
                                <span class="icon-plus" style="margin-right:5px;"></span>
                                添加
                            </el-button>
                            <el-button size="small" type="warning" @click="multiDelete()">
                                <span class="icon-trash" style="margin-right:5px;"></span>
                                删除
                            </el-button>
                        </div>
                        <div style="position:absolute; left:0; right:0; top:48px; bottom:48px;overflow-y: auto">
                            <el-table
                                    ref="multipleChannelTable"
                                    :data="channel.data"
                                    tooltip-effect="dark"
                                    style="width: 100%"
                                    @selection-change="handleSelectionChange">
                                <el-table-column type="selection" width="55"></el-table-column>
                                <el-table-column label="频道名称" width="440" prop="name"></el-table-column>
                                <el-table-column label="播发方式" width="110" prop="broadWay"></el-table-column>
                                <el-table-column label="播发状态" width="110" prop="broadcastStatus"></el-table-column>
                                <el-table-column label="备注" width="220" prop="remark"></el-table-column>
                                <el-table-column label="操作">
                                    <template slot-scope="scope">
                                        <el-tooltip class="item" effect="dark" content="频道修改" placement="bottom">
                                            <el-button type="text" icon="feather-icon-edit"
                                                       class="channelManage"
                                                       @click="editChannel(scope)">
                                            </el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="目录编辑" placement="bottom">
                                            <el-button type="text" icon="feather-icon-list"
                                                       class="channelManage"
                                                       @click="editMenu(scope)">
                                            </el-button>
                                        </el-tooltip>
                                        <!--<el-tooltip class="item" effect="dark" content="节目单编辑" placement="bottom">-->
                                        <!--<el-button type="text" icon="feather-icon-clipboard"-->
                                        <!--class="channelManage"-->
                                        <!--@click="editProgram(scope)">-->
                                        <!--</el-button>-->
                                        <!--</el-tooltip>-->
                                        <el-tooltip class="item" effect="dark" content="节目单排期" placement="bottom">
                                            <el-button type="text" icon="feather-icon-clipboard"
                                                       class="channelManage"
                                                       @click="editSchedule(scope)">
                                            </el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="播发地区管理" placement="bottom"
                                                    v-if="scope.row.broadWay=='终端播发'">
                                            <el-button type="text" icon="feather-icon-globe"
                                                       class="channelManage"
                                                       @click="manageBroadcastArea(scope)">
                                            </el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="开始播发" placement="bottom"
                                                    v-if="!scope.row.autoBroad && scope.row.broadcastStatus=='未播发'||scope.row.broadcastStatus=='发送完成' || scope.row.broadcastStatus=='发送停止'">
                                            <el-button type="text" icon="feather-icon-play-circle"
                                                       class="channelManage"
                                                       @click="startBroadcast(scope)">
                                            </el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="停止播发" placement="bottom"
                                                    v-if="!scope.row.autoBroad && scope.row.broadcastStatus=='发送中'">
                                            <el-button type="text" icon="feather-icon-stop-circle"
                                                       class="channelManage"
                                                       @click="stopBroadcast(scope)">
                                            </el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="跳转" placement="bottom"
                                                    v-if="scope.row.broadWay=='轮播能力'">
                                            <el-button type="text" icon="icon-double-angle-right"
                                                       class="channelManage"
                                                       @click="seekBroadcast(scope)">
                                            </el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="删除频道" placement="bottom">
                                            <el-button type="text" icon="el-icon-delete"
                                                       class="channelManage"
                                                       @click="rowDelete(scope)"></el-button>
                                        </el-tooltip>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                        <div style="height:48px; width:100%; text-align:right; padding-top:16px; position:absolute; left:0; bottom:0; box-sizing:border-box;">
                            <el-pagination
                                    background
                                    @size-change="handleSizeChange"
                                    @current-change="handlePageCurrentChange"
                                    :current-page="channel.page.currentPage"
                                    :page-sizes="channel.page.sizes"
                                    :page-size="channel.page.size"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="channel.page.total">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </el-card>
        </div>

        <!-- 选择QT播发用户对话框 -->
        <cs-user-dialog ref="selectUserDialog" @on-user-dialog-close="selectedUsers"></cs-user-dialog>

        <!-- 预览灯箱 -->
        <mi-lightbox ref="Lightbox" @on-txt-save="" style="z-index: 3000"></mi-lightbox>

        <!-- 节目编辑 -->
        <cs-program-screen ref="programScreen" @preview="handlePreview"></cs-program-screen>

        <!-- 资源选择 -->
        <cs-media-picker-dialog ref="mediaPicker" @on-media-picker-close="handleMediaPickerClose"></cs-media-picker-dialog>

        <el-dialog
                title="添加频道"
                :visible.sync="dialog.addProgram.visible"
                width="650px"
                :before-close="handleAddProgramClose">
            <div style="height:500px;">
                <el-scrollbar style="height:100%;">
                    <el-form ref="form" label-width="120px" style="padding-right: 20px">
                        <el-form-item label="频道名称">
                            <el-input v-model="dialog.addProgram.name"></el-input>
                        </el-form-item>
                        <el-form-item label="生效时间">
                            <el-date-picker
                                    style="width:100%;"
                                    v-model="dialog.addProgram.date"
                                    type="datetime"
                                    placeholder="选择日期时间"
                                    align="right"
                                    :picker-options="dialog.addProgram.date"
                                    value-format="yyyy-MM-dd HH:mm:ss">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="播发方式">
                            <template>
                                <el-radio v-model="dialog.addProgram.broadWay" label="轮播推流">轮播推流</el-radio>
                                <el-radio v-model="dialog.addProgram.broadWay" label="终端播发">终端播发</el-radio>
                                <el-radio v-model="dialog.addProgram.broadWay" label="下载文件">下载文件</el-radio>
                            </template>
                        </el-form-item>
                        <el-form-item label="输出加密" v-if="dialog.addProgram.broadWay == '轮播推流'">
                            <el-switch v-model="dialog.addProgram.encryption"></el-switch>
                        </el-form-item>
                        <template v-if="dialog.addProgram.broadWay == '轮播推流' || dialog.addProgram.broadWay == '下载文件'">
                            <el-form-item label="智能播发">
                                <el-switch v-model="dialog.addProgram.autoBroad"></el-switch>
                            </el-form-item>
                            <el-form-item label="列表乱序" v-if="dialog.addProgram.autoBroad">
                                <el-switch v-model="dialog.addProgram.autoBroadShuffle">
                                </el-switch>
                            </el-form-item>
                            <el-form-item v-if="dialog.addProgram.autoBroad" label="起始时间">
                                <el-time-picker
                                        style="width: 100%"
                                        v-model="dialog.addProgram.autoBroadStart"
                                        type="time"
                                        placeholder="选择播发起始时间"
                                        :picker-options="dialog.addProgram.autoBroadStart"
                                        value-format="HH:mm:ss">
                                </el-time-picker>
                            </el-form-item>
                            <el-form-item v-if="dialog.addProgram.autoBroad" label="生效天数">
                                <el-input-number
                                        v-model="dialog.addProgram.autoBroadDuration"
                                        :min="1"
                                        :max="10">
                                </el-input-number>
                            </el-form-item>
                        </template>
                        <el-form-item v-if="dialog.addProgram.broadWay == '轮播推流' || dialog.addProgram.broadWay == '下载文件'" label="PC播发用户">
                            <el-tag
                                    :key="simple.id"
                                    v-for="simple in dialog.addProgram.outputQtUsers"
                                    style="margin-right:10px;"
                                    closable
                                    :disable-transitions="false"
                                    @close="handleUserRemove(dialog.addProgram.outputQtUsers, simple)">
                                {{simple.nickname}}
                            </el-tag>
                            <el-button style="height:32px; line-height:30px; padding-top:0; padding-bottom:0; position:relative; bottom:1px;" size="small" @click="handleAddProgramQtUserSet" icon="el-icon-edit"> 选择PC终端用户</el-button>
                            <el-input v-model="dialog.addProgram.outputUserPort" placeholder="用户播发端口" v-if="dialog.addProgram.broadWay == '轮播推流'"></el-input>
                        </el-form-item>
                        <el-form-item v-if="dialog.addProgram.broadWay == '下载文件'" label="PUSH播发用户">
                            <el-tag
                                    :key="simple.id"
                                    v-for="simple in dialog.addProgram.outputPushUsers"
                                    style="margin-right:10px;"
                                    closable
                                    :disable-transitions="false"
                                    @close="handleUserRemove(dialog.addProgram.outputPushUsers, simple)">
                                {{simple.nickname}}
                            </el-tag>
                            <el-button style="height:32px; line-height:30px; padding-top:0; padding-bottom:0; position:relative; bottom:1px;" size="small" @click="handleAddProgramPushUserSet" icon="el-icon-edit"> 选择PUSH终端用户</el-button>
                        </el-form-item>
                        <el-form-item v-if="dialog.addProgram.broadWay == '轮播推流'" label="流输出数">
                            <el-input-number
                                    v-model="dialog.addProgram.outputCount"
                                    :min="1"
                                    :max="10"
                                    @change="handleAddProgramOutputCount">
                            </el-input-number>
                        </el-form-item>
                        <template v-for="i in dialog.addProgram.outputCount" v-if="dialog.addProgram.broadWay=='轮播推流'">
                            <el-form-item :label="'流输出地址 ' + i">
                                <el-input v-model="dialog.addProgram.output[i-1].previewUrlIp"></el-input>
                            </el-form-item>
                            <el-form-item :label="'流输出端口 ' + i">
                                <el-input v-model="dialog.addProgram.output[i-1].previewUrlPort"></el-input>
                            </el-form-item>
                        </template>
                        <el-form-item label="备注">
                            <el-input v-model="dialog.addProgram.remark"></el-input>
                        </el-form-item>
                    </el-form>
                </el-scrollbar>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.addProgram.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleAddProgramCommit"
                           :loading="dialog.addProgram.loading">确 定
                </el-button>
            </span>
        </el-dialog>

        <el-dialog
                title="修改频道"
                :visible.sync="dialog.editChannel.visible"
                width="650px"
                :before-close="handleEditChannelClose">
            <div style="height: 500px">
            <el-scrollbar style="height:100%;">
            <el-form ref="form" label-width="120px" style="padding-right: 20px">
                <el-form-item label="频道名称">
                    <el-input v-model="dialog.editChannel.name"></el-input>
                </el-form-item>
                <el-form-item label="播发方式">
                    <template>
                        <el-radio v-model="dialog.editChannel.broadWay" label="轮播推流" disabled>轮播推流</el-radio>
                        <el-radio v-model="dialog.editChannel.broadWay" label="终端播发" disabled>终端播发</el-radio>
                        <el-radio v-model="dialog.editChannel.broadWay" label="下载文件" disabled>下载文件</el-radio>
                    </template>
                </el-form-item>
                <el-form-item label="输出加密" v-if="dialog.editChannel.broadWay == '轮播推流'">
                    <el-switch v-model="dialog.editChannel.encryption"></el-switch>
                </el-form-item>
                <template v-if="dialog.editChannel.broadWay == '轮播推流' || dialog.editChannel.broadWay == '下载文件'">
                    <el-form-item label="智能播发">
                        <el-switch v-model="dialog.editChannel.autoBroad"></el-switch>
                    </el-form-item>
                    <el-form-item label="列表乱序" v-if="dialog.editChannel.autoBroad">
                        <el-switch v-model="dialog.editChannel.autoBroadShuffle"></el-switch>
                    </el-form-item>
                    <el-form-item v-if="dialog.editChannel.autoBroad" label="起始时间">
                        <el-time-picker
                                style="width: 100%"
                                v-model="dialog.editChannel.autoBroadStart"
                                type="time"
                                placeholder="选择播发起始时间"
                                :picker-options="dialog.editChannel.autoBroadStart"
                                value-format="HH:mm:ss">
                        </el-time-picker>
                    </el-form-item>
                    <el-form-item v-if="dialog.editChannel.autoBroad" label="生效天数">
                        <el-input-number
                                v-model="dialog.editChannel.autoBroadDuration"
                                :min="1"
                                :max="10">
                        </el-input-number>
                    </el-form-item>
                </template>
                <el-form-item v-if="dialog.editChannel.broadWay == '轮播推流' || dialog.editChannel.broadWay == '下载文件'" label="PC播发用户">
                    <el-tag
                            :key="simple.id"
                            v-for="simple in dialog.editChannel.outputQtUsers"
                            style="margin-right:10px;"
                            closable
                            :disable-transitions="false"
                            @close="handleUserRemove(dialog.editChannel.outputQtUsers, simple)">
                        {{simple.nickname}}
                    </el-tag>
                    <el-button style="height:32px; line-height:30px; padding-top:0; padding-bottom:0; position:relative; bottom:1px;" size="small" @click="handleEditChannelQtUserSet" icon="el-icon-edit"> 选择PC终端用户</el-button>
                    <el-input v-model="dialog.editChannel.outputUserPort" placeholder="用户播发端口" v-if="dialog.editChannel.broadWay == '轮播推流'"></el-input>
                </el-form-item>
                <el-form-item v-if="dialog.editChannel.broadWay == '下载文件' && dialog.editChannel.outputPushUsers.length > 0" label="PUSH播发用户">
                    <el-tag
                            :key="simple.id"
                            v-for="simple in dialog.editChannel.outputPushUsers"
                            style="margin-right:10px;"
                            :closable="false"
                            :disable-transitions="false"
                            @close="handleUserRemove(dialog.editChannel.outputPushUsers, simple)">
                        {{simple.nickname}}
                    </el-tag>
                </el-form-item>
                <el-form-item v-if="dialog.editChannel.broadWay == '轮播推流'" label="流输出数">
                    <el-input-number
                            v-model="dialog.editChannel.outputCount"
                            :min="1"
                            :max="10"
                            @change="handleEditChannelOutputCount">
                    </el-input-number>
                </el-form-item>
                <template v-for="i in dialog.editChannel.outputCount" v-if="dialog.editChannel.broadWay=='轮播推流'">
                    <el-form-item :label="'输出地址 ' + i">
                        <el-input v-model="dialog.editChannel.output[i-1].previewUrlIp"></el-input>
                    </el-form-item>
                    <el-form-item :label="'输出端口 ' + i">
                        <el-input v-model="dialog.editChannel.output[i-1].previewUrlPort"></el-input>
                    </el-form-item>
                </template>
                <el-form-item label="备注">
                    <el-input v-model="dialog.editChannel.remark"></el-input>
                </el-form-item>
            </el-form>
            </el-scrollbar>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleEditChannelClose">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleEditChannelCommit"
                           :loading="dialog.editChannel.loading">确 定
                </el-button>
            </span>
        </el-dialog>

        <el-dialog
                title="目录编辑"
                :visible.sync="dialog.editMenu.visible"
                width="1000px"
                :before-close="handleEditMenuClose">

            <el-dialog
                    title="编辑节点"
                    :visible.sync="dialog.editMenu.dialog.editNode.visible"
                    width="500px"
                    append-to-body
                    :before-close="handleEditNodeClose">

                <el-form ref="form" label-width="70px">
                    <el-form-item label="节点名称">
                        <el-input v-model="dialog.editMenu.dialog.editNode.name"></el-input>
                    </el-form-item>
                    <el-form-item label="备注">
                        <el-input type="textarea" v-model="dialog.editMenu.dialog.editNode.remark"></el-input>
                    </el-form-item>
                </el-form>

                <span slot="footer" class="dialog-footer">
                    <el-button size="medium" @click="handleEditNodeClose">取 消</el-button>
                    <el-button size="medium" type="primary" @click="handleEditNodeCommit"
                               :loading="dialog.editMenu.dialog.editNode.loading">确 定
                    </el-button>
                </span>
            </el-dialog>

            <el-dialog
                    title="资源选择"
                    :visible.sync="dialog.editMenu.dialog.chooseResource.visible"
                    width="500px"
                    append-to-body
                    :before-close="handleChooseResourceClose">
                <el-tree
                        v-loading="dialog.editMenu.dialog.chooseResource.tree.loading"
                        ref="menuResourceTree"
                        :props="dialog.editMenu.dialog.chooseResource.tree.props"
                        :data="dialog.editMenu.dialog.chooseResource.tree.data"
                        node-key="type + id"
                        :check-strictly=false
                        show-checkbox
                        @check="handleMenuResourceCheckChange"
                        :expand-on-click-node="false"
                        default-expand-all
                        highlight-current
                        style="padding: 20px;max-height: 400px;overflow-y:auto">
                        <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;"
                              slot-scope="{node, data}">
                                <span style="font-size:14px;">
                                     <span>{{data.name}}</span>
                                </span>
                        </span>
                </el-tree>
                <span slot="footer" class="dialog-footer">
                    <el-button size="medium" @click="handleChooseResourceClose">取 消</el-button>
                    <el-button size="medium" type="primary" @click="handleChooseResourceCommit"
                               :loading="dialog.editMenu.dialog.chooseResource.loading">确 定
                    </el-button>
                </span>
            </el-dialog>

            <el-container style="height:500px">
                <el-container style="border-right: 1px solid #eee;width: 550px">
                    <el-header height="40px">
                        <el-button size="medium" type="primary" @click="addRootTreeNode" :disabled="dialog.editMenu.data.autoBroad">添加根节点</el-button>
                    </el-header>

                    <el-tree
                            v-loading="dialog.editMenu.tree.loading"
                            ref="tagTree"
                            :props="dialog.editMenu.tree.props"
                            :data="dialog.editMenu.tree.data"
                            node-key="uuid"
                            :current-node-key="dialog.editMenu.tree.current"
                            check-strictly
                            :expand-on-click-node="false"
                            default-expand-all
                            highlight-current
                            @current-change="currentTreeNodeChange"
                            draggable
                            :allow-drag="treeNodeAllowDrag"
                            :allow-drop="treeNodeAllowDrop"
                            @node-drop="treeNodeDrop"
                            style="padding: 20px;overflow: auto">
                        <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;"
                              slot-scope="{node, data}">
                                <span style="font-size:14px;">
                                     <span>{{data.name}}</span>
                                </span>
                                <span v-if="data.id !== -1">
                                    <el-button v-if="!node.parent.data.length" type="text" size="mini"
                                               style="padding:0;" @click.stop="treeNodeTop(node, node.parent.data)" :disabled="dialog.editMenu.data.autoBroad">
                                        <span style="font-size:15px; position:relative; bottom:1px; left:2px;"
                                              class="icon-arrow-up"></span>
                                    </el-button>
                                    <el-button type="text" size="mini" style="padding:0;"
                                               @click.stop="treeNodeEdit(node, data)" :disabled="dialog.editMenu.data.autoBroad">
                                        <span style="font-size:15px; position:relative; bottom:1px; left:2px;"
                                              class="icon-pencil"></span>
                                    </el-button>
                                    <el-button type="text" size="mini" style="padding:0;"
                                               @click.stop="treeNodeAppend(node, data)" :disabled="dialog.editMenu.data.autoBroad">
                                        <span style="font-size:16px;" class="icon-plus"></span>
                                    </el-button>
                                    <el-button v-if="!data.autoGeneration" type="text" size="mini"
                                               style="padding:0; margin-left:5px;"
                                               @click.stop="treeNodeDelete(node, data)" :disabled="dialog.editMenu.data.autoBroad">
                                        <span style="font-size:16px;" class="icon-trash"></span>
                                    </el-button>
                                </span>
                              </span>

                    </el-tree>
                </el-container>

                <el-container>
                    <el-header height="40px">
                        <el-button size="medium" type="primary" @click="loadingMenuResourceTree"
                                   :disabled="!dialog.editMenu.tree.current || dialog.editMenu.data.autoBroad">添加资源
                        </el-button>
                        <el-button size="medium" type="warning" @click="" :disabled="!dialog.editMenu.tree.current || dialog.editMenu.data.autoBroad">
                            删除资源
                        </el-button>
                    </el-header>
                    <el-main>
                        <div style="width:100%; height:100%; position:relative;">
                            <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
                                <div style="position:absolute; left:0; top:0; right:0; bottom:0; padding:10px;"
                                     v-if="dialog.editMenu.tree.current">
                                    <div style="width:100%; height:100%; position:relative;overflow-y:auto">
                                        <div style="position:absolute; left:0; right:0; top:0; bottom:24px;">
                                            <el-table
                                                    ref="multipleTable"
                                                    :data="dialog.editMenu.resource.data"
                                                    tooltip-effect="dark"
                                                    style="width: 100%"
                                                    @selection-change="">
                                                <el-table-column type="selection" width="30"></el-table-column>
                                                <el-table-column label="媒资名称" width="180" prop="name"></el-table-column>
                                                <!--<el-table-column label="时长" width="110" prop="time"></el-table-column>-->
                                                <el-table-column label="操作">
                                                    <template slot-scope="scope">
                                                        <el-tooltip class="item" effect="dark" content="预览"
                                                                    placement="bottom">
                                                            <el-button type="text" icon="icon-eye-open"
                                                                       style="margin:0; font-size:18px; padding:0;"
                                                                       @click="handlePreview(scope)"></el-button>
                                                        </el-tooltip>
                                                        <el-tooltip class="item" effect="dark" content="删除资源"
                                                                    placement="bottom" v-if="!dialog.editMenu.data.autoBroad">
                                                            <el-button type="text" icon="el-icon-delete"
                                                                       style="margin:0 20px; font-size:18px; padding:0;"
                                                                       @click="menuResourceDelete(scope)"></el-button>
                                                        </el-tooltip>
                                                    </template>
                                                </el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </el-card>
                        </div>
                    </el-main>
                </el-container>
            </el-container>
        	
        	<span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleEditMenuClose">关 闭</el-button>
            </span>
        </el-dialog>


        <el-dialog
                title="节目排期"
                :visible.sync="dialog.editSchedules.visible"
                width="1100px"
                :before-close="handleEditSchedulesClose">

            <el-dialog
                    title="添加"
                    :visible.sync="dialog.editSchedules.dialog.addSchedule.visible"
                    width="550px"
                    append-to-body
                    :before-close="handleAddScheduleClose">
                <div style="height:150px;">
                    <el-scrollbar style="height:100%;">
                        <el-form ref="form" label-width="80px">
                            <el-form-item label="播发时间">
                                <el-date-picker
                                        style="width:100%;"
                                        v-model="dialog.editSchedules.dialog.addSchedule.broadDate"
                                        type="datetime"
                                        placeholder="选择日期时间"
                                        align="right"
                                        :picker-options="dialog.editSchedules.dialog.addSchedule.broadDate"
                                        value-format="yyyy-MM-dd HH:mm:ss">
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="备注">
                                <el-input v-model="dialog.editSchedules.dialog.addSchedule.remark"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-scrollbar>
                </div>

                <span slot="footer" class="dialog-footer">
                    <el-button size="medium" @click="dialog.editSchedules.dialog.addSchedule.visible = false">取 消
                    </el-button>
                    <el-button size="medium" type="primary" @click="handleAddScheduleCommit"
                               :loading="dialog.editSchedules.dialog.addSchedule.loading">确 定
                    </el-button>
                </span>
            </el-dialog>

            <el-dialog
                    title="排期修改"
                    :visible.sync="dialog.editSchedules.dialog.editSchedule.visible"
                    width="550px"
                    append-to-body
                    :before-close="handleEditScheduleClose">
                <div style="height:150px;">
                    <el-scrollbar style="height:100%;">
                        <el-form ref="form" label-width="80px">
                            <el-form-item label="播发时间">
                                <el-date-picker
                                        style="width:100%;"
                                        v-model="dialog.editSchedules.dialog.editSchedule.broadDate"
                                        type="datetime"
                                        placeholder="选择日期时间"
                                        align="right"
                                        :picker-options="dialog.editSchedules.dialog.editSchedule.broadDate"
                                        value-format="yyyy-MM-dd HH:mm:ss">
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="备注">
                                <el-input v-model="dialog.editSchedules.dialog.editSchedule.remark"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-scrollbar>
                </div>

                <span slot="footer" class="dialog-footer">
                    <el-button size="medium" @click="dialog.editSchedules.dialog.editSchedule.visible = false">取 消
                    </el-button>
                    <el-button size="medium" type="primary" @click="handleEditScheduleCommit"
                               :loading="dialog.editSchedules.dialog.editSchedule.loading"
                               :disabled="dialog.editSchedules.data.autoBroad">确 定
                    </el-button>
                </span>
            </el-dialog>

            <div style="width:100%; height:650px; position:relative;">
                <div style="height:48px; position:absolute; left:0; top:0; width:100%;">
                    <el-button size="small" type="primary" @click="handleAddSchedule()"
                               :disabled="dialog.editSchedules.data.autoBroad || (dialog.editSchedules.data.broadWay=='终端播发' && dialog.editSchedules.table.data.length >= 1)">
                        <span class="icon-plus" style="margin-right:5px;"></span>
                        添加
                    </el-button>
                    <el-button size="small" type="warning" @click="" :disabled="dialog.editSchedules.data.autoBroad">
                        <span class="icon-trash" style="margin-right:5px;"></span>
                        删除
                    </el-button>
                </div>
                <div style="position:absolute; left:0; right:0; top:48px; bottom:48px;overflow-y: auto; height: 500px">
                    <el-table
                            ref="multipleScheduleTable"
                            :data="dialog.editSchedules.table.data"
                            v-loading="dialog.editSchedules.table.loading"
                            tooltip-effect="dark"
                            style="width: 100%;">
                        <el-table-column type="selection" width="55"></el-table-column>
                        <el-table-column label="播发时间" width="220" prop="broadDate"></el-table-column>
                        <el-table-column label="备注" width="220" prop="remark"></el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-tooltip class="item" effect="dark" content="排期修改" placement="bottom">
                                    <el-button type="text" icon="feather-icon-edit"
                                               class="channelManage"
                                               @click="scheduleEdit(scope)">
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="节目编辑" placement="bottom">
                                    <el-button type="text" icon="feather-icon-clipboard"
                                               class="channelManage"
                                               @click="editProgram(scope)">
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="删除排期" placement="bottom">
                                    <el-button type="text" icon="el-icon-delete"
                                               class="channelManage"
                                               @click="scheduleDelete(scope)"
                                               :disabled="dialog.editSchedules.data.autoBroad"></el-button>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div style="height:48px; width:100%; text-align:right; padding-top:16px; position:absolute; left:0; bottom:0; box-sizing:border-box;">
                    <el-pagination
                            background
                            @size-change=""
                            @current-change=""
                            :current-page="dialog.editSchedules.table.page.currentPage"
                            :page-sizes="dialog.editSchedules.table.page.sizes"
                            :page-size="dialog.editSchedules.table.page.size"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="dialog.editSchedules.table.page.total">
                    </el-pagination>
                </div>
            </div>

        </el-dialog>

        <el-dialog
                title="播发管理"
                :visible.sync="dialog.manageBroad.visible"
                width="1000px"
                :before-close="handleManageBroadClose">

            <el-dialog
                    title="添加播发"
                    :visible.sync="dialog.manageBroad.dialog.addBroad.visible"
                    width="500px"
                    append-to-body
                    :before-close="handleAddBroadClose">

                <el-tree
                        v-loading="dialog.manageBroad.dialog.addBroad.tree.loading"
                        ref="broadTree"
                        :props="dialog.manageBroad.dialog.addBroad.tree.props"
                        :data="dialog.manageBroad.dialog.addBroad.tree.data"
                        node-key="id"
                        :check-strictly=false
                        show-checkbox
                        @check="handleBroadCheckChange"
                        :expand-on-click-node="false"
                        default-expand-all
                        highlight-current
                        style="padding: 20px;max-height: 400px;overflow-y:auto">
                        <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;"
                              slot-scope="{node, data}">
                                <span style="font-size:14px;">
                                     <span>{{data.name}}</span>
                                </span>
                        </span>
                </el-tree>

                <span slot="footer" class="dialog-footer">
                    <el-button size="medium" @click="handleAddBroadClose">取 消</el-button>
                    <el-button size="medium" type="primary" @click="handleAddBroadCommit"
                               :loading="dialog.manageBroad.dialog.addBroad.loading">确 定
                    </el-button>
                </span>
            </el-dialog>

            <el-container style="height:488px;">
                <el-header style="height:48px; left:0; top:0; width:100%;">
                    <el-button size="small" type="primary" @click="addBroad">
                        新建
                    </el-button>
                    <el-button size="small" type="warning" @click="">
                        删除
                    </el-button>
                    <el-button size="small" @click="handleManageBroadClose">
                        取消
                    </el-button>
                </el-header>

                <el-table
                        ref="multipleTable"
                        :data="dialog.manageBroad.data"
                        tooltip-effect="dark"
                        style="width: 100%;overflow-y: auto"
                        @selection-change="">
                    <el-table-column type="selection" width="30"></el-table-column>
                    <el-table-column label="媒资名称" width="220" prop="name"></el-table-column>
                    <el-table-column label="大小" width="110" prop="size"></el-table-column>
                    <el-table-column label="状态" width="110" prop="status"></el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-tooltip class="item" effect="dark" content="开始" placement="bottom">
                                <el-button type="text" icon="feather-icon-play"
                                           style="margin:0; font-size:18px; padding:0; margin-right:24px; position:relative; top:1px;"
                                           @click="startBroad(scope)"></el-button>
                            </el-tooltip>
                            <el-tooltip class="item" effect="dark" content="停止" placement="bottom">
                                <el-button type="text" icon="feather-icon-stop-circle"
                                           style="margin:0; font-size:18px; padding:0; margin-right:24px; position:relative; top:1px;"
                                           @click="stopBroad(scope)"></el-button>
                            </el-tooltip>
                        </template>
                    </el-table-column>
                </el-table>
            </el-container>
        </el-dialog>

        <el-dialog
                title="播发地区管理"
                :visible.sync="dialog.manageBroadcastArea.visible"
                width="500px"
                :before-close="handleManageBroadcastAreaClose">

            <el-tree
                    v-loading="dialog.manageBroadcastArea.tree.loading"
                    ref="broadcastAreaTree"
                    :props="dialog.manageBroadcastArea.tree.props"
                    :data="dialog.manageBroadcastArea.tree.data"
                    :expand-on-click-node="true"
                    node-key="areaId"
                    :check-strictly=false
                    show-checkbox
                    @check="handleManageBroadcastAreaCheckChange"
                    highlight-current
                    lazy
                    :load="manageBroadcastDivision"
                    style="padding: 20px;max-height: 400px;overflow-y:auto">
                        <span style="flex:1; display:flex; align-items:center; justify-content:space-between; padding-right:8px;"
                              slot-scope="{node, data}">
                                <span style="font-size:14px;">
                                     <span>{{data.name}}</span>
                                </span>
                        </span>
            </el-tree>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleManageBroadcastAreaClose">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleManageBroadcastAreaCommit"
                           :loading="dialog.manageBroad.loading">确 定
                </el-button>
            </span>
        </el-dialog>

        <el-dialog
                title="跳转"
                :visible.sync="dialog.seekBroadcast.visible"
                width="500px"
                :before-close="handleSeekBroadcastClose">
            <el-form ref="form" label-width="80px">
                <el-form-item label="跳转量(秒)">
                    <el-input v-model="dialog.seekBroadcast.duration" type="number"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleSeekBroadcastClose">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleSeekBroadcastCommit"
                           :loading="dialog.seekBroadcast.loading">确 定
                </el-button>
            </span>
        </el-dialog>

    </template>

</mi-frame>