.page-error-line{text-align:center;}
.page-error-inline{display:inline-block; height:219px;}
.page-error-code{font-size:90px; float:left; margin:0; padding-top:50px; padding-bottom:50px; margin-right:20px; font-weight:500;}
.page-error-message{float:right; padding-top:50px; padding-bottom:50px; height:100%; box-sizing:border-box; max-width:400px;}
.page-error-message-default{font-size:24px; color:#303133; text-align:left;}
.page-error-message-default-icon{font-size:28px; position:relative; top:3px;}
.page-error-message-custom{margin-top:10px; color:#606266; text-align:left; font-size:15px;}
.page-error-options{margin-top:10px; text-align:left;}

.page-error-warning{color:#E6A23C;}
.page-error-error{color:#F56C6C;}
.page-error-success{color:#67C23A;}