<el-row id="login-card" type="flex" justify="space-around">
    <el-col :span="6">
        <el-card class="box-card" shadow="hover">

            <el-form label-position="right" label-width="80px">

                <el-form-item label="用户名">
                    <el-input v-model="username"  placeholder="请输入用户名"></el-input>
                </el-form-item>

                <el-form-item label="密码">
                    <el-input type="password" v-model="password"  placeholder="请输入密码"></el-input>
                </el-form-item>

                <el-form-item label="角色">
                    <el-select v-model="role" placeholder="选择角色">
                        <el-option label="管理员" value="0"></el-option>
                        <el-option label="游客" value="1"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item>
                    <el-checkbox v-model="rememberMe">记住我</el-checkbox>
                </el-form-item>

                <el-form-item>
                    <el-button @click="doRegister">注册</el-button>
                    <el-button type="primary" @click="doLogin">登录</el-button>
                </el-form-item>

            </el-form>
        </el-card>
    </el-col>
</el-row>