.mi-package-picker .content{height:340px; position:relative;}
.mi-package-picker .content-wrapper{width:600px; height:400px; position:absolute; top:-30px; left:0;}
.mi-package-picker .table-wrapper{height:368px;}
.mi-package-picker .footer{height:32px;}