.layer{
    width: 100%;
    height: 100%;
    background-color: #206ec366;
    overflow: hidden;
}

.left,.right{
    float: left;
    width: 60%;
    height: 100%;
}
.left{
    margin-right: 10px;
    width: 30%;
    border-right: 1px solid #fff;
}

/* 更改table表格的样式 */
.el-table,
.el-table__expanded-cell {
    background-color: #234c4a87;
    color: #c2f9ff;
}

.el-table thead {
    color: #00e4fd;
}

.el-table th,
.el-table tr {
    background-color: #3c628836;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #34675d;
}

/* 用来设置当前页面element全局table 选中某行时的背景色*/
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td, .el-table__body tr.hover-row.current-row>td, .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .el-table__body tr.hover-row.el-table__row--striped>td, .el-table__body tr.hover-row>td{
    background-color: #374856 !important;
}

/* 更改输入框背景色 */
.el-input__inner {
    background-color: #00000073;
    color: #fff;
}

.el-input.is-disabled .el-input__inner{
    background-color: #cdced0;
}


/*更改对话框样式*/
.el-dialog{
    background: linear-gradient(to right,#4ca6af,#0F9EBE,#1986B1,#155592);
}
.el-form-item__label {
    font-size: 16px;
    color: #2b3c5f;
}

.el-dialog__title {
    color: #384256;
    font-weight: 600;
}
.el-textarea__inner,.el-input-number__decrease, .el-input-number__increase{
    background: #0000003d;
    color: #e6eeff;
}