<div class="layer">
    <div class="win-header">
        <span class="win-header-title">字幕管理</span>
        <span class="win-header-close" @click="cancel"><span class="el-icon-close"></span></span>
    </div>
    <div class="win-body">
        <div style="width:100%; height:100%; position:relative;">
            <div class="left">
                <div class="btn-add-osd" @click="dialogLeftVisible=true;name='';">添加字幕组合</div>
                <!--内容-->
                <div style="position:absolute; top:40px; left:0; bottom:0; width:30%;overflow: hidden">
                    <div style="width:100%; height:100%; position:relative;">
                        <div style="position:absolute; left:0; top:0; right:0; bottom:50px;">
                            <div style="width:100%; height:100%; position:relative;">
                                <el-table
                                        :data="leftData"
                                        style="width: 100%"
                                        height="100%"
                                        highlight-current-row
                                        @row-click="clickRow">
                                    <el-table-column
                                            prop="name"
                                            label="名称">
                                    </el-table-column>
                                    <el-table-column
                                            label="操作"
                                            width="150">
                                        <template slot-scope="scope">
                                            <el-button type="warning" size="mini" icon="el-icon-edit"
                                                       @click.stop="editRow(scope.row)"></el-button>
                                            <el-button type="danger" size="mini" icon="el-icon-delete"
                                                       @click.stop="deleteRow(scope.row.id)"></el-button>
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </div>
                        </div>
                        <div style="position:absolute; bottom:0; left:0; right:0; height:50px; box-sizing: border-box; padding-top:9px;">
                            <el-pagination background @current-change="leftCurrentChange" :current-page="leftCurrentPage"
                                           :page-size="leftPageSize" :pager-count="5" layout="total, prev, pager, next"
                                           :total="leftTotal">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right" v-show="rightShow">
                <div class="btn-add-subtitle-layer" @click="dialogFormVisible=true;rightBtnShow=false;">添加图层</div>
                <div class="btn-add-subtitle-layer" style="margin-left:10px;" @click="subtitleOpen">模板管理</div>
                <!--内容-->
                <div style="position:absolute; top:40px; left:30%; bottom:0; right:0;overflow: hidden">
                    <div style="width:100%; height:100%; position:relative;">
                        <div style="position:absolute; left:0; top:0; right:0; bottom:50px;">
                            <div style="width:100%; height:100%; position:relative;">
                                <el-table
                                        :data="rightData"
                                        style="width: 100%"
                                        height="100%">
                                    <el-table-column
                                            prop="subtitleName"
                                            label="字幕名称">
                                    </el-table-column>
                                    <el-table-column
                                            prop="subtitleUsername"
                                            label="字幕创建人">
                                        <template></template>
                                    </el-table-column>
                                    <el-table-column
                                            prop="x"
                                            label="横坐标百分比">
                                    </el-table-column>
                                    <el-table-column
                                            prop="y"
                                            label="纵坐标百分比">
                                    </el-table-column>
                                    <el-table-column
                                            prop="layerIndex"
                                            label="图层顺序">
                                    </el-table-column>
                                    <el-table-column
                                            label="操作"
                                            width="250">
                                        <template slot-scope="scope">
                                            <el-button type="warning" size="mini" icon="el-icon-edit"
                                                       :disabled="scope.row.type !== 'SUBTITLE'"
                                                       @click="editRightRow(scope.row)"></el-button>
                                            <el-button type="danger" size="mini" icon="el-icon-delete"
                                                       @click="deleteRightRow(scope.row.id)"></el-button>
                                            <el-button type="primary" size="mini" icon="el-icon-sort-up"
                                                       :disabled="scope.row.layerIndex <= 0" @click="sortRow(scope.row,'up')"></el-button>
                                            <el-button type="primary" size="mini" icon="el-icon-sort-down"
                                                       :disabled="scope.row.layerIndex == rightData.length-1" @click="sortRow(scope.row,'down')"></el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </div>
                        </div>
                        <div style="position:absolute; bottom:0; left:0; right:0; height:50px; box-sizing: border-box; padding-top:9px;">
                            <!-- <el-pagination background @current-change="rightCurrentChange" :current-page="rightCurrentPage"
                                           :page-size="10" :pager-count="5" layout="total, prev, pager, next, jumper"
                                           :total="rightData.length">
                            </el-pagination> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--左侧按钮对应的对话框-->
    <el-dialog
            title="字幕管理"
            :visible.sync="dialogLeftVisible"
            width="30%">
        <el-input v-model="name" placeholder="请输入名字"></el-input>
        <span slot="footer" class="dialog-footer">
            <div class="btn-dialog-cancel" @click="dialogLeftVisible = false">取 消</div>
            <div class="btn-dialog-submit" v-if="!btnShow" @click="leftConfirm">确 定</div>
            <div class="btn-dialog-edit" v-if="btnShow" @click="editSubtitle">修 改</div>
            <br style="clear:both;"/>
        </span>
    </el-dialog>

    <!--右侧按钮对应的对话框-->
    <el-dialog title="添加图层" width="500px" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item v-if="!rightBtnShow" label="图层类型" :label-width="formLabelWidth">
                <el-select v-model="form.layerType" placeholder="请选择">
                    <el-option v-for="(item,index) in layerType" :label="item" :value="item" :key="index"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="选择字幕" :label-width="formLabelWidth">
                <el-input v-if="form.layerType!=='字幕'" v-model="form.subtitleName" disabled></el-input>
                <el-input v-else v-model="form.subtitleName" readonly placeholder="点击我！"
                          @click.native="handleAddLayerSelectSubtitle"></el-input>
            </el-form-item>
            <el-form-item label="横坐标百分比" :label-width="formLabelWidth">
                <el-input-number size="medium" :min="0" :max="100" v-model="form.x"></el-input-number>
            </el-form-item>
            <el-form-item label="纵坐标百分比" :label-width="formLabelWidth">
                <el-input-number size="medium" :min="0" :max="100" v-model="form.y"></el-input-number>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <div class="btn-dialog-cancel" @click="dialogFormVisible = false">取 消</div>
            <div class="btn-dialog-submit"  v-if="!rightBtnShow" @click="rightAddConfirm">确 定</div>
            <div class="btn-dialog-edit" v-if="rightBtnShow" @click="rightEditConfirm">修 改</div>
            <br style="clear:both;"/>
        </div>
    </el-dialog>

    <!--选择字幕弹框-->
    <el-dialog title="选择模板" width="800px" :visible.sync="dialogTableVisible">
    	<div style="width:100%; height:250px;">
	    	<el-table :data="gridData" highlight-current-row @row-click="chooseRow" height="100%">
	            <el-table-column property="name" label="名称" width="150"></el-table-column>
	            <el-table-column property="username" label="创建人" width="150"></el-table-column>
	            <el-table-column property="content" label="内容"></el-table-column>
	        </el-table>
    	</div>
        <div style="height:41px; padding-top:9px; box-sizing:border-box;">
            <el-pagination background @current-change="dialogCurrentChange" :current-page="dialogCurrentPage"
                           :page-size="gridPageSize" :pager-count="5" layout="total, prev, pager, next"
                           :total="gridTotal">
            </el-pagination>
        </div>
        <div slot="footer" class="dialog-footer">
            <div class="btn-dialog-cancel" @click="dialogTableVisible = false">取 消</div>
            <div class="btn-dialog-submit"  @click="chooseConfirm">确 定</div>
            <br style="clear:both;"/>
            <!--<el-button @click="dialogTableVisible = false">取 消</el-button>
            <el-button type="primary" @click="chooseConfirm">确 定</el-button>-->
        </div>
    </el-dialog>

    <!--删除出现的弹框-->
    <el-dialog
            title="危险操作"
            :visible.sync="deleteVisible"
            width="30%">
        <el-button type="warning" icon="el-icon-warning" circle></el-button>
        <span>此操作将永久删除图层，且不可恢复，是否继续?</span>
        <span slot="footer" class="dialog-footer">
            <div class="btn-dialog-cancel" @click="deleteVisible = false">取 消</div>
            <div class="btn-dialog-submit"  @click="confirmDel">确 定</div>
            <br style="clear:both;"/>
            <!--<el-button @click="deleteVisible = false">取 消</el-button>
            <el-button type="primary" @click="confirmDel">确 定</el-button>-->
        </span>
    </el-dialog>

</div>