<div class="bvc2-table-agenda-or-scheme bvc2-card">
    <div class="bvc2-card-head" style="position:relative;">
        <el-radio-group v-model="currentTab" size="small">
            <el-radio-button label="agenda">会议议程</el-radio-button>
        </el-radio-group>
    </div>
    <div class="bvc2-card-body">
        <bvc2-table-agenda
                ref="agendas"
                v-if="currentTab === 'agenda'"
                :group="group"
                @config-agenda="configAgenda"
                @run-agenda="runAgenda"
                @remove-agenda="removeAgenda"></bvc2-table-agenda>
    </div>
</div>