.forword-inner-control .bvc2-auto-layout-wrapper{
  position: relative;
    width: 65%;
    height: 95%;
    background-color: #16191E;
    left: 33%;
    top: 0;
    padding-top: 40px;
}
.forword-inner-control .liangwu-forword .bvc2-auto-layout-container{
  position: relative;
}
.forword-inner-control .liangwu-forword .layout-auto{
  position: absolute;
  top: 0;
  left: 0;
}
.forword-inner-control .col{
  width: 30%;
  min-height: calc(100% - 40px);
}
.forword-inner-control .liangwu-forword .el-select input {
  background: transparent;
  border-radius: 2px;
  /* border-color: #5C676D; */
  border-color: #FFF;
  color: #fff;
}
.forword-inner-control .liangwu-forword .el-select{
  /* margin-top: 3px; */
  position: absolute;
  left: 10px;
  top: 10px;
}