<div class="decode-bind-screen"
  style="width:100%; height:95%; padding:10px; position:relative; box-sizing:border-box; background-color:#fff;">
  <div class="col">
    <div class="title">解码器</div>
    <div class="custom-tree-container">
      <div style="margin-bottom: 10px;">
        <el-input placeholder="输入关键字过滤" size="mini" clearable v-model="filterText">
          <span slot="prefix" class="el-input__icon el-icon-search"></span>
        </el-input>
      </div>
      <div>
        <el-tree ref="tree" :data="decodetree" node-key="id" highlight-current :expand-on-click-node="true"
          :props="defaultProps" :default-checked-keys="checked" :default-expand-all="defaultExpandAll"
          :filter-node-method="filterNode" :render-content="renderContent" @node-expand="nodeExpand"
          @node-collapse="nodeCollapse" draggable :allow-drop="allowDrop" :allow-drag="allowDrag"
          @node-drag-start="handleDragStart">
        </el-tree>
      </div>
    </div>
  </div>
  <div class="bvc2-auto-layout-wrapper liangwu-forword">
    <!-- <el-form :inline="true" style="margin-bottom: 10px;">
      屏幕布局：
      <el-select size="mini" v-model="layout.row" @change="rowChange" style="width: 60px;">
        <el-option v-for="rowOption in options.rowOptions" :key="rowOption.value" :label="rowOption.label"
          :value="rowOption.value" />
      </el-select>
      x
      <el-select size="mini" v-model="layout.column" @change="columnChange" style="width: 60px;">
        <el-option v-for="columnOption in options.columnOptions" :key="columnOption.value" :label="columnOption.label"
          :value="columnOption.value" />
      </el-select>
    </el-form> -->
    <el-select v-model="templateId" filterable placeholder="请选择" size="mini" style="margin-bottom: 10px;"
      @change="handleTemplateChange">
      <el-option v-for="item in layOutOptions" :key="item.uuid" :label="item.templateName" :value="item.id">
      </el-option>
    </el-select>
    <div class="bvc2-auto-layout-container"></div>
  </div>
  <el-dialog title="请先设置大屏布局" :visible.sync="screenConfigDialogVisible" width="30%" :show-close="false"
    :close-on-click-modal="false">
    <el-form :inline="true" style="margin-bottom: 10px;">

      <el-form-item label="屏幕名称: ">
        <el-input size="mini" v-model="layout.name"></el-input>
      </el-form-item>
      <el-form-item label="屏幕布局：">
        <el-select size="mini" v-model="layout.row" style="width: 75px;">
          <el-option v-for="rowOption in options.rowOptions" :key="rowOption.value" :label="rowOption.label"
            :value="rowOption.value" />
        </el-select>
        x
        <el-select size="mini" v-model="layout.column" style="width: 75px;">
          <el-option v-for="columnOption in options.columnOptions" :key="columnOption.value" :label="columnOption.label"
            :value="columnOption.value" />
        </el-select>
      </el-form-item>

    </el-form>
    <span slot="footer" class="dialog-footer">
      <!-- <el-button @click="dialogVisible = false">取 消</el-button> -->
      <el-button type="primary" @click="handleScreenConfig" size="mini">确 定</el-button>
    </span>
  </el-dialog>
</div>