.mi-task-view{width:700px; height:400px; position:fixed; right:10px; bottom:58px; z-index:2; background-color:#fff; box-shadow:-1px -1px 10px 0 rgba(0,0,0,.1);
                box-sizing:border-box; transition:width .1s, height .1s; border-bottom-right-radius: 5px; overflow:hidden;}
.mi-task-view-wrapper{width:100%; height:100%; position:relative;}
.mi-task-view.maximize{width:100%; height:100%; right:0; bottom:0;}
.mi-task-view.minimize{width:0!important; height:0!important;}
.mi-task-view .view-header{padding:10px; height:30px; box-sizing:border-box;}
.mi-task-view .view-title{line-height:20px; float:left;}
.mi-task-view .view-header .el-button-group{float:right; position:relative; bottom:10px;}
.view-header-button{border-top-color:transparent; padding:2px 8px; font-size:14px;border-radius:0;}
.mi-task-view .view-body{position:absolute; left:0; top:50px; right:0; bottom:0;}