<div id="right-bar" class="right-bar">
    <div class="tabBar">
        <div class="switch">
            <span class="highLight"></span>
            <ul>
                <li class="triggerLi1 focusLight" @click="toggleMenu1">指挥</li>
                <li class="triggerLi2" @click="toggleMenu2">会议</li>
            </ul>
        </div>

        <!--第一部分,指挥相关的的菜单-->
        <div class="firstMenu" v-show="switchStatus1">
            <div class="commandBtn" v-if="group.currentId">
                <el-tooltip class="item" effect="dark" :content="!buttons.isPause?'开始指挥':'恢复指挥'" placement="top-start"
                            v-if="group.current.creator==user.id">
                    <span class="icon-play" :style="group.current.status !=='start'?'color:#fff;':'color:gray;'" @click="startCommand"></span>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="暂停" placement="top-start"
                            v-if="group.current.creator==user.id">
                    <span class="icon-pause" :style="group.current.status =='start'?'color:#fff;':'color:gray;'" @click="pauseCommand"></span>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="停止" placement="top-start"
                            v-if="group.current.creator==user.id">
                    <span class="icon-stop" :style="group.current.status =='start'?'color:#fff;':'color:gray;'" @click="exitCommand"></span>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="进入" placement="top-start"
                            v-if="group.current.creator!=user.id" style="font-size: 20px">
                    <span class="icon-signin" :style="group.current.status =='start'?'color:#fff;':'color:gray;'" @click="enterCommandBatch"></span>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="退出" placement="top-start"
                            v-if="group.current.creator!=user.id" style="font-size: 20px">
                    <span class="icon-signout" @click="exitCommand"></span>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="删除" placement="top-start"
                            v-if="group.current.creator==user.id">
                    <span class="el-icon-delete" :style="group.current.status =='start'?'color:gray;':'color:#fff;'" @click="removeCommand"></span>
                </el-tooltip>
            </div>
            <!--下拉选项-->
            <div>
                <el-select @change="currentGroupChange" size="small" v-model="group.currentId"
                           placeholder="当前还没有指挥组"
                           style="width: 300px;left:8px;" :popper-append-to-body="false">
                    <el-option
                            v-for="(group,index) in command.data"
                            :key="index"
                            :label="group.name"
                            :value="group.id"
                            :style="group.bundleStatus==='bundle-online'?'color: #00ff14;':'color: #e36264;'">
                        <el-tooltip class="item" effect="dark" :content="group.name" placement="top-start">
                            <span class="commandName">{{ group.name }}</span>
                        </el-tooltip>
                        <span v-if="JSON.parse(group.param).creator == user.id" class="icon-user"
                              style="font-size: 14px">[主席]</span>
                        <span v-else-if="JSON.parse(group.param).entered" style="font-size: 14px">[已进入]</span>
                        <span v-else style="font-size: 14px">[未进入]</span>
                    </el-option>
                </el-select>
            </div>

            <!--树形菜单-->
            <div v-if="group.currentId" class="commandTable">
                <el-scrollbar style="height:100%;">
                    <el-tree
                            :data="group.tree"
                            node-key="id"
                            :props="props">
                                <span class="headline" slot-scope="{node,data}">
                                      <span :class="data.type==='USER'?'handDown el-icon-tickets':''"
                                            style="font-size: 20px;margin: 5px;color: #00ceff"
                                            @click="handleContextMenuShow($event, data,null,'观看')"></span>

                                    <span v-if="group.current.creator != user.id">
                                         <span v-if="data.type==='USER'">
                                             <span :class="data.icon"
                                                   :style="data.style+' position:relative; top:1px;'"></span>
                                            <span class="headFonts">{{data.name}}</span>
                                         <el-popover
                                                 placement="top"
                                                 width="200"
                                                 trigger="click"
                                                 :content="data.name">
                                              <span class="el-icon-caret-bottom" style="font-size: 14px;color: #00ceff"
                                                    slot="reference"></span>
                                        </el-popover>
                                         </span>
                                         <span v-else>
                                        <span :class="data.icon" :style="data.style"></span>
                                        <span class="sheadFont">{{data.name}}</span>
                                        </span>
                                    </span>
                                    <span v-else>
                                            <el-checkbox v-if="data.type==='USER'" v-model="data.checked"
                                                         @change="onCommandUserCheckChange(data,'指挥')">
                                        <span :class="data.icon"
                                              :style="data.style+' position:relative; top:1px;'"></span>
                                            <span class="headFonts">{{data.name}}</span>
                                         <el-popover
                                                 placement="top"
                                                 width="200"
                                                 trigger="click"
                                                 :content="data.name">
                                              <span class="el-icon-caret-bottom" style="font-size: 14px;color: #00ceff"
                                                    slot="reference"></span>
                                        </el-popover>
                                    </el-checkbox>
                                    <span v-else>
                                        <span :class="data.icon" :style="data.style"></span>
                                        <span class="sheadFont">{{data.name}}</span>
                                    </span>
                                    </span>

                                </span>
                    </el-tree>
                </el-scrollbar>
            </div>

            <!--底部按钮-->
            <div class="btnContainer" v-if="group.currentId && group.current.type==='command'">
                <div :class="'option-button '+(buttons.addMember?'':'disable')" title="添加成员"
                     @click="addCommandMember">
                    <img v-if="buttons.addMember" :src="baseUrl+'images/zk-leader/able/addMember.png'"
                         draggable="false"/>
                </div>
                <div :class="'option-button '+(buttons.removeMember?'':'disable')" title="强退成员"
                     @click="removeCommandMember">
                    <img v-if="buttons.removeMember" :src="baseUrl+'images/zk-leader/able/removeMember.png'"
                         draggable="false"/>
                </div>
                <!--修改指挥名称 只有主席才能修改名称，也就是指挥创建者和当前用户的Id一致时才能修改-->
                <div :class="'option-button'+(buttons.addMember?'':' disable')" title="修改指挥名称"
                     @click="handleResetName('edit',1)">
                    <span style="position: absolute;top: 43px;font-size: 8px;color: #fff;left: 7px;">修改指挥名称</span>
                    <span class="icon-edit"
                          style="position: absolute;left: 17px;font-size: 33px;color: #fff;top: 10px;"></span>
                </div>
                <div :class="'option-button '+(buttons.cooperativeCommand?'':'disable')" title="协同指挥"
                     @click="cooperativeCommand('指挥')">
                    <img v-if="buttons.cooperativeCommand"
                         :src="baseUrl+'images/zk-leader/able/zhihui/cooperativeCommand.png'"/>
                </div>
                <div :class="'option-button '+(buttons.cancelCooperative?'':'disable')" title="取消协同"
                     @click="cancelCooperativeCommand('指挥')">
                    <i class=" icon-globe"
                       style="position: absolute;top:6px;left: 13px;font-size: 36px;color: #fff"></i>
                    <span style="position: absolute;bottom: 1px;color: #fff;font-size: 10px;left: 10px">取消协同</span>
                </div>
                <div :class="'option-button '+(buttons.commandForward?'':'disable')" title="指挥转发"
                     @click="commandForward('指挥')">
                    <img v-if="buttons.commandForward"
                         :src="baseUrl+'images/zk-leader/able/zhihui/commandForward.png'"/>
                </div>
                <div :class="'option-button '+(buttons.silenceUp?'':'disable')"
                     :title="buttons.silenceUp && buttons.silenceUpStart?'关闭对上静默':'开启对上静默'" @click="silenceUp">
                    <img v-if="buttons.silenceUp && buttons.silenceUpStart"
                         :src="baseUrl+'images/zk-leader/able/silenceUpStop.png'"/>
                    <img v-if="buttons.silenceUp && !buttons.silenceUpStart"
                         :src="baseUrl+'images/zk-leader/able/silenceUpStart.png'"/>
                </div>
                <div :class="'option-button '+(buttons.silenceDown?'':'disable')"
                     :title="buttons.silenceDown && buttons.silenceDownStart?'关闭对下静默':'开启对下静默'"
                     @click="silenceDown">
                    <img v-if="buttons.silenceDown && buttons.silenceDownStart"
                         :src="baseUrl+'images/zk-leader/able/silenceDownStop.png'"/>
                    <img v-if="buttons.silenceDown && !buttons.silenceDownStart"
                         :src="baseUrl+'images/zk-leader/able/silenceDownStart.png'"/>
                </div>
                <div :class="'option-button '+(buttons.sendMessage?'':'disable')" title="发送通知" @click="sendMessage">
                    <img v-if="buttons.sendMessage" :src="baseUrl+'images/zk-leader/able/sendMessage.png'"/>
                </div>
                <div :class="'option-button '+(buttons.commandRecord?'':'disable')"
                     :title="buttons.isRecord?'关闭会议录制':'开启会议录制'" @click="commandRecord">
                    <img v-if="buttons.commandRecord && !buttons.isRecord"
                         :src="baseUrl+'images/zk-leader/able/zhihui/commandRecord.png'"/>
                    <img v-if="buttons.commandRecord && buttons.isRecord"
                         :src="baseUrl+'images/zk-leader/able/zhihui/commandRecordPause.png'">
                </div>
                <div :class="'option-button '+(buttons.commandReminder?'':'disable')"
                     :title="buttons.isRemind?'关闭指挥提醒':'开启指挥提醒'" @click="commandRemind">
                    <img v-if="buttons.commandReminder && !buttons.isRemind"
                         :src="baseUrl+'images/zk-leader/able/commandReminder.png'"/>
                    <img v-if="buttons.commandReminder && buttons.isRemind"
                         :src="baseUrl+'images/zk-leader/able/commandReminderPause.png'"/>
                    <img v-if="!buttons.commandReminder"
                         :src="baseUrl+'images/zk-leader/disable/commandReminder.png'"/>
                </div>
                <div class="option-button" @click="currentGroupChange(group.currentId)">
                    <span style="position: absolute;top: 40px;font-size: 10px;color: #fff;left: 20px;">刷新</span>
                    <el-button type="text" class="button-refresh" size="small" icon="el-icon-refresh"
                               style="font-size: 36px;color: rgb(255, 255, 255);position: absolute;top: -5px;left: 10px;"></el-button>
                </div>
            </div>

        </div>

        <!--第二部分，左侧tab对应的右侧 菜单-->
        <div class="secondMenu" ref="secondMenu">
            <el-tabs tab-position="left" v-model="currentTab" @tab-click="handleClick" style="height: 100%;">
                <!--组织结构-->
                <el-tab-pane class="tabPage">
                    <span slot="label" class="myTitle">
                      <img class="fontPic" src="../../../../../images/zk-leader/organization.png" draggable="false">
                    </span>
                    <div class="scrollTab" v-if="switchStatus2">
                        <el-input placeholder="输入关键字进行过滤" v-model="filterText" style="left: 3px;width: 300px">
                        </el-input>
                        <el-scrollbar style="height:100%">
                            <el-tree :data="institution.data"  ref="tree" node-key="id" :props="props"  :filter-node-method="filterNode">
                                <span class="headline" slot-scope="{node,data}">
                                    <span :class="data.type==='USER'?'handDown el-icon-tickets':''"
                                          style="font-size: 20px;margin: 5px;color: #00ceff"
                                          @click="handleContextMenuShow($event, data)"></span>
                                    <!--v-model绑定选中状态，在进行底部按钮操作后，保持树的展开状态，并去掉勾选-->
                                     <el-checkbox v-if="data.type==='USER'" v-model="data.checked" :value="data.id"
                                                  @change="onUserCheckChange(data)">
                                        <span :class="data.icon"
                                              :style="data.style+' position:relative; top:1px;'"></span>
                                        <span class="headFont">{{data.name}}</span>
                                         <el-popover
                                                 placement="top"
                                                 width="200"
                                                 trigger="click"
                                                 :content="data.name">
                                              <span class="el-icon-caret-bottom" style="font-size: 14px;color: #00ceff"
                                                    slot="reference"></span>
                                        </el-popover>
                                    </el-checkbox>
                                    <span v-else>
                                         <span :class="data.icon" :style="data.style"></span>
                                        <span class="sheadFont">{{data.name}}</span>
                                    </span>
                                </span>
                            </el-tree>
                        </el-scrollbar>
                    </div>
                </el-tab-pane>
                <!--设备资源-->
                <el-tab-pane class="tabPage">
                <span slot="label" class="myTitle">
                <img class="fontPic" src="../../../../../images/zk-leader/equipment.png" draggable="false">
                </span>
                    <div class="scrollTab" v-if="switchStatus2">
                        <el-scrollbar style="height:100%">
                            <el-tree :data="device.data" node-key="id" :props="props">
                <span class="headline" slot-scope="{node,data}">
                <span :class="data.type==='BUNDLE'?'handDown el-icon-tickets':''"
                      style="font-size: 20px;margin: 5px;color: #00ceff"
                      @click="handleContextMenuShow($event, data)"></span>
                <el-checkbox v-if="data.type==='BUNDLE'" v-model="data.checked" @change="onDviceCheckChange(data)">
                <span :class="data.icon"
                      :style="data.style+' position:relative; top:1px;'"></span>
                <span class="headFont">{{data.name}}</span>
                <el-popover
                        placement="top"
                        width="200"
                        trigger="click"
                        :content="data.name">
                <span class="el-icon-caret-bottom" style="font-size: 14px;color: #00ceff" slot="reference"></span>
                </el-popover>
                </el-checkbox>
                <span v-else>
                <span :class="data.icon" :style="data.style"></span>
                <span class="sheadFont">{{data.name}}</span>
                </span>
                </span>
                            </el-tree>
                        </el-scrollbar>
                    </div>
                </el-tab-pane>
                <!--文件资源-->
                <el-tab-pane class="tabPage">
                    <span slot="label" class="myTitle">
                      <img class="fontPic" src="../../../../../images/zk-leader/fileResource.png" draggable="false">
                    </span>
                    <div class="scrollTab" v-if="switchStatus2">
                        <el-scrollbar style="height:100%">
                            <el-tree :data="file.data" node-key="id" :props="props">
                                <span class="headline" slot-scope="{node,data}">
                                    <span :class="data.type==='VOD_RESOURCE'?'handDown el-icon-tickets':''"
                                          style="font-size: 20px;margin: 5px;color: #00ceff"
                                          @click="handleContextMenuShow($event, data)"></span>
                                <el-checkbox v-if="data.type==='VOD_RESOURCE'" v-model="data.checked"
                                             @change="onFileCheckChange(data)">
                                        <span class="icon-file-alt"
                                              style="font-size:15px; position:relative; top:1px;"></span>
                                        <span class="headFont">{{data.name}}</span>
                                    <el-popover
                                            placement="top"
                                            width="200"
                                            trigger="click"
                                            :content="data.name">
                                              <span class="el-icon-caret-bottom" style="font-size: 14px;color: #00ceff"
                                                    slot="reference"></span>
                                        </el-popover>
                                    </el-checkbox>
                                    <span v-else>
                                        <span class="icon-folder-close"></span>
                                       <span class="sheadFont">{{data.name}}</span>
                                    </span>
                                </span>
                            </el-tree>
                        </el-scrollbar>
                    </div>
                </el-tab-pane>
                <!--录像回放-->
                <el-tab-pane class="tabPage">
                <span slot="label" class="myTitle">
                <img class="fontPic" src="../../../../../images/zk-leader/record.png" draggable="false">
                </span>
                    <div class="scrollTab" v-if="switchStatus2">
                        <el-scrollbar style="height:100%">
                            <el-tree :data="record.data" node-key="id"
                                     :check-strictly=true
                                     :props="props"
                                     :expand-on-click-node="false">
                                <span class="headline" slot-scope="{node,data}">
                                <span :class="data.type==='RECORD_PLAYBACK'?'handDown el-icon-tickets':''"
                                      style="font-size: 20px;margin: 5px;color: #00ceff"
                                      @click="handleContextMenuShow($event, data)"></span>
                                <el-checkbox v-if="data.type==='RECORD_PLAYBACK' && data.level ==3" v-model="data.checked"
                                             @change="onRecordCheckChange(data)">
                                <span class="icon-file-alt"
                                      style="font-size:15px; position:relative; top:1px;"></span>
                                <span class="headFont">{{data.groupName}}</span>
                                <el-popover
                                        placement="top"
                                        width="200"
                                        trigger="click"
                                        :content="data.groupName">
                                <span class="el-icon-caret-bottom" style="font-size: 14px;color: #00ceff" slot="reference"></span>
                                </el-popover>
                                </el-checkbox>
                                <span v-else>
                                <span class="icon-folder-close"></span>
                                <span class="sheadFont">{{data.groupName}}</span>
                                <el-popover
                                        placement="top"
                                        width="200"
                                        trigger="click"
                                        :content="data.groupName">
                                <span class="el-icon-caret-bottom" style="font-size: 14px;color: #00ceff" slot="reference"></span>
                                </el-popover>
                                </span>
                                </span>
                            </el-tree>
                        </el-scrollbar>
                    </div>
                </el-tab-pane>
            </el-tabs>

            <!-- 底部的按钮图标 -->
            <div class="footer" ref="footer" v-show="switchStatus2">
                <!--过滤在线-->
                <div :class="'customIcon'+(buttons.filterOnline?'':' disable')" title="过滤在线" @click="filterOnline">
                    <img v-if="buttons.filterOnline" :src="baseUrl+'images/zk-leader/able/filterOnline.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/disable/filterOnline.png'"/>
                </div>
                <!--过滤离线-->
                <div :class="'customIcon'+(buttons.filterOffline?'':' disable')" title="过滤离线" @click="filterOffline">
                    <img v-if="buttons.filterOffline" :src="baseUrl+'images/zk-leader/able/filterOffline.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/disable/filterOffline.png'"/>
                </div>
                <!--一键呼叫-->
                <div :class="'customIcon'+(buttons.batchCall?'':' disable')" title="一键呼叫" @click="callUserBatch">
                    <img v-if="buttons.batchCall" :src="baseUrl+'images/zk-leader/able/batchCall.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/disable/batchCall.png'"/>
                </div>
                <!--一键点播-->
                <div :class="'customIcon'+(buttons.batchVod?'':' disable')" title="一键点播" @click="vodBatch">
                    <img v-if="buttons.batchVod" :src="baseUrl+'images/zk-leader/able/batchVod.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/disable/batchVod.png'"/>
                </div>
                <!--一键语音通话-->
                <div :class="'customIcon'+(buttons.batchIntercom?'':' disable')" title="一键语音通话"
                     @click="voiceIntercomBatch">
                    <img v-if="buttons.batchIntercom" :src="baseUrl+'images/zk-leader/able/batchIntercom.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/disable/batchIntercom.png'"/>
                </div>
                <!--添加指挥-->
                <div :class="'customIcon'+(buttons.addCommand?'':' disable')" title="添加指挥"
                     @click="addCommand(1)">
                    <img v-if="buttons.addCommand" :src="baseUrl+'images/zk-leader/able/zhihui/addCommand.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/disable/addCommand.png'"/>
                </div>
                <!--添加会议-->
                <div :class="'customIcon'+(buttons.addCommand?'':' disable')" title="添加会议" @click="addCommand(2)">
                    <img :src="baseUrl+'images/zk-leader/able/huiyi/addCommand.png'"/>
                </div>
                <!--修改指挥名称 只有主席才能修改名称，也就是指挥创建者和当前用户的Id一致时才能修改-->
                <div :class="'customIcon'+(buttons.removeCommand?'':' disable')" title="修改指挥名称"
                     @click="handleResetName('edit')">
                    <span style="position: absolute;top: 15px;font-size: 8px;color: #fff;left: 7px;">修改指挥名称</span>
                    <el-button type="text" class="button-refresh" icon=" icon-edit" size="small"
                               style="position: absolute;left: 14px"></el-button>
                </div>

                <div class="customIcon" v-if="currentTab==3" @click="playRecordFile">
                    <span style="position: absolute;top: 15px;font-size: 9px;color: #fff;left: 3px;">查看录制文件</span>
                    <el-button type="text" class="button-refresh" size="small" icon="el-icon-printer"></el-button>
                </div>

                <div class="customIcon" v-else-if="currentTab==0" @click="refreshInstitution">
                    <span style="position: absolute;top: 15px;font-size: 10px;color: #fff;left: 20px;">刷新</span>
                    <el-button type="text" class="button-refresh" size="small" icon="el-icon-refresh"></el-button>
                </div>

                <div v-else-if="currentTab==2">
                    <div class="customIcon" @click="openOutFile">
                        <span style="position: absolute;top: 15px;font-size: 9px;color: #fff;left: 3px;">外部文件管理</span>
                        <el-button type="text" size="small" icon="el-icon-printer"></el-button>
                    </div>

                    <div class="customIcon" @click="fileImport">
                        <span style="position: absolute;top: 15px;font-size: 10px;color: #fff;left: 9px;">文件导入</span>
                        <el-button type="text" size="small" icon="el-icon-upload"></el-button>
                    </div>

                    <div class="customIcon" @click="refreshFile">
                        <span style="position: absolute;top: 15px;font-size: 10px;color: #fff;left: 20px;">刷新</span>
                        <el-button type="text" class="button-refresh" size="small" icon="el-icon-refresh"></el-button>
                    </div>
                </div>

                <div class="customIcon" v-else="currentTab==1" @click="refreshDevice">
                    <span style="position: absolute;top: 15px;font-size: 10px;color: #fff;left: 20px;">刷新</span>
                    <el-button type="text" class="button-refresh" size="small" icon="el-icon-refresh"></el-button>
                </div>
                <div class="customIcon" v-else="currentTab==3" @click="refreshRecord">
                    <span style="position: absolute;top: 15px;font-size: 10px;color: #fff;left: 20px;">刷新</span>
                    <el-button type="text" class="button-refresh" size="small" icon="el-icon-refresh"></el-button>
                </div>
            </div>
        </div>

        <!--第三部分的菜单-->
        <div class="thirdMenu" v-if="switchStatus3">
            <!--树形菜单-->
            <div class="meetList">
                <div class="commandBtn" v-if="meet.currentId">
                    <el-tooltip class="item" effect="dark" :content="!buttons.isPause?'开始会议':'恢复会议'" placement="top-start"
                                v-if="meet.current.creator==user.id">
                        <span class="icon-play" :style="meet.current.status !=='start'?'color:#fff;':'color:gray;'" @click="startCommand"></span>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="暂停" placement="top-start"
                                v-if="meet.current.creator==user.id">
                        <span class="icon-pause" :style="meet.current.status =='start'?'color:#fff;':'color:gray;'" @click="pauseCommand"></span>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="停止" placement="top-start"
                                v-if="meet.current.creator==user.id">
                        <span class="icon-stop" :style="meet.current.status =='start'?'color:#fff;':'color:gray;'" @click="exitCommand('会议')"></span>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="进入" placement="top-start"
                                v-if="meet.current.creator!=user.id" style="font-size: 20px">
                        <span class="icon-signin" @click="enterMyCommand()"></span>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="退出" placement="top-start"
                                v-if="meet.current.creator!=user.id" style="font-size: 20px">
                        <span class="icon-signout" @click="exitCommand('会议')"></span>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="删除" placement="top-start"
                                v-if="meet.current.creator==user.id">
                        <span class="el-icon-delete" :style="meet.current.status =='start'?'color:gray;':'color:#fff;'" @click="removeMyCommand()"></span>
                    </el-tooltip>
                </div>
                <!--下拉选项-->
                <div>
                    <el-select @change="currentGroupChange" size="small" v-model="meet.currentId"
                               placeholder="当前还没有会议"
                               style="width: 300px;left:8px;" :popper-append-to-body="false">
                        <el-option
                                v-for="meet in command.data"
                                :key="meet.id"
                                :label="meet.name"
                                :value="meet.id"
                                :style="meet.bundleStatus==='bundle-online'?'color: #00ff14;':'color: #e36264;'">
                            <el-tooltip class="item" effect="dark" :content="meet.name" placement="top-start">
                                <span class="commandName">{{ meet.name }}</span>
                            </el-tooltip>
                            <span v-if="JSON.parse(meet.param).creator == user.id" class="icon-user"
                                  style="font-size: 14px">[主席]</span>
                            <span v-else-if="JSON.parse(meet.param).entered" style="font-size: 14px">[已进入]</span>
                            <span v-else style="font-size: 14px">[未进入]</span>
                        </el-option>
                    </el-select>
                </div>
                <!--树形菜单-->
                <div v-if="meet.currentId" class="commandTable">
                    <el-scrollbar style="height:100%;">
                        <el-tree
                                :data="meet.tree"
                                node-key="id"
                                :props="props">
                                <span class="headline" slot-scope="{node,data}">
                                      <span :class="data.type==='USER'?'handDown el-icon-tickets':''"
                                            style="font-size: 20px;margin: 5px;color: #00ceff"
                                            @click="handleContextMenuShow($event, data,null,'观看')"></span>

                                    <span v-if="meet.current.creator != user.id">
                                         <span v-if="data.type==='USER'">
                                             <span :class="data.icon"
                                                   :style="data.style+' position:relative; top:1px;'"></span>
                                            <span class="headFonts">{{data.name}}</span>
                                         <el-popover
                                                 placement="top"
                                                 width="200"
                                                 trigger="click"
                                                 :content="data.name">
                                              <span class="el-icon-caret-bottom" style="font-size: 14px;color: #00ceff"
                                                    slot="reference"></span>
                                        </el-popover>
                                         </span>
                                         <span v-else>
                                        <span :class="data.icon" :style="data.style"></span>
                                        <span class="sheadFont">{{data.name}}</span>
                                        </span>
                                    </span>
                                    <span v-else>
                                         <el-checkbox v-if="data.type==='USER'" v-model="data.checked"
                                                      @change="onCommandUserCheckChange(data,'会议')">
                                        <span :class="data.icon"
                                              :style="data.style+' position:relative; top:1px;'"></span>
                                            <span class="headFonts">{{data.name}}</span>
                                         <el-popover
                                                 placement="top"
                                                 width="200"
                                                 trigger="click"
                                                 :content="data.name">
                                              <span class="el-icon-caret-bottom" style="font-size: 14px;color: #00ceff"
                                                    slot="reference"></span>
                                        </el-popover>
                                    </el-checkbox>
                                    <span v-else>
                                        <span :class="data.icon" :style="data.style"></span>
                                        <span class="sheadFont">{{data.name}}</span>
                                    </span>
                                    </span>
                                </span>
                        </el-tree>
                    </el-scrollbar>
                </div>
            </div>

            <div class="btnContainer">
                <div :class="'option-button '+(buttons.addMember?'':'disable')" title="添加成员" @click="addCommandMember">
                    <img v-if="buttons.addMember" :src="baseUrl+'images/zk-leader/able/addMember.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/disable/addMember.png'"/>
                </div>
                <div :class="'option-button '+(buttons.removeMember?'':'disable')" title="强退成员"
                     @click="removeCommandMember">
                    <img v-if="buttons.removeMember" :src="baseUrl+'images/zk-leader/able/removeMember.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/disable/removeMember.png'"/>
                </div>
                <div :class="'option-button '+(buttons.meetBtn?'':'disable')" title="指定发言" @click="assignSpeak">
                    <img v-if="buttons.meetBtn" :src="baseUrl+'images/zk-leader/appointSpeak.png'"/>
                </div>
                <div :class="'option-button '+(buttons.meetBtn?'':'disable')" title="停止指定发言" @click="stopAssignSpeak">
                    <img v-if="buttons.meetBtn" :src="baseUrl+'images/zk-leader/stopSpeak.png'"/>
                </div>
                <div :class="'option-button '+(buttons.meetBtn?'':'disable')" title="全员讨论" @click="allDiscuss">
                    <img v-if="!buttons.discussion" :src="baseUrl+'images/zk-leader/discuss.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/stopDiscuss.png'"/>
                </div>
                <div :class="'option-button '+(buttons.commandForward?'':'disable')" title="会议转发"
                     @click="commandForward('会议')">
                    <img v-if="buttons.commandForward" :src="baseUrl+'images/zk-leader/able/huiyi/commandForward.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/disable/commandForward.png'"/>
                </div>
                <div :class="'option-button '+(buttons.silenceUp?'':'disable')"
                     :title="buttons.silenceUp && buttons.silenceUpStart?'关闭对上静默':'开启对上静默'" @click="silenceUp">
                    <img v-if="buttons.silenceUp && buttons.silenceUpStart"
                         :src="baseUrl+'images/zk-leader/able/silenceUpStop.png'"/>
                    <img v-if="buttons.silenceUp && !buttons.silenceUpStart"
                         :src="baseUrl+'images/zk-leader/able/silenceUpStart.png'"/>
                </div>
                <div :class="'option-button '+(buttons.silenceDown?'':'disable')"
                     :title="buttons.silenceDown && buttons.silenceDownStart?'关闭对下静默':'开启对下静默'"
                     @click="silenceDown">
                    <img v-if="buttons.silenceDown && buttons.silenceDownStart"
                         :src="baseUrl+'images/zk-leader/able/silenceDownStop.png'"/>
                    <img v-if="buttons.silenceDown && !buttons.silenceDownStart"
                         :src="baseUrl+'images/zk-leader/able/silenceDownStart.png'"/>
                </div>
                <div :class="'option-button '+(buttons.cooperativeCommand?'':'disable')" title="会议成员"
                     @click="commandMembers">
                    <img v-if="buttons.cooperativeCommand" :src="baseUrl+'images/zk-leader/able/huiyi/memberList.png'"/>
                </div>
                <div :class="'option-button '+(buttons.sendMessage?'':'disable')" title="发送通知" @click="sendMessage">
                    <img v-if="buttons.sendMessage" :src="baseUrl+'images/zk-leader/able/sendMessage.png'"/>
                    <img v-else :src="baseUrl+'images/zk-leader/disable/sendMessage.png'"/>
                </div>
                <div :class="'option-button '+(buttons.commandRecord?'':'disable')"
                     :title="buttons.isRecord?'关闭会议录制':'开启会议录制'" @click="commandRecord">
                    <img v-if="buttons.commandRecord && !buttons.isRecord"
                         :src="baseUrl+'images/zk-leader/able/huiyi/commandRecord.png'"/>
                    <img v-if="buttons.commandRecord && buttons.isRecord"
                         :src="baseUrl+'images/zk-leader/able/huiyi/commandRecordPause.png'">
                </div>
                <div :class="'option-button '+(buttons.commandReminder?'':'disable')"
                     :title="buttons.isRemind?'关闭会议提醒':'开启会议提醒'" @click="commandRemind">
                    <img v-if="buttons.commandReminder && !buttons.isRemind"
                         :src="baseUrl+'images/zk-leader/able/commandReminder.png'"/>
                    <img v-if="buttons.commandReminder && buttons.isRemind"
                         :src="baseUrl+'images/zk-leader/able/commandReminderPause.png'"/>
                    <img v-if="!buttons.commandReminder" :src="baseUrl+'images/zk-leader/disable/commandReminder.png'"/>
                </div>
                <div :class="'option-button '+(buttons.isSpeaking?'':'disable')" title="停止发言" @click="stopSpeak">
                    <img v-if="buttons.isSpeaking" :src="baseUrl+'images/zk-leader/hangUp.png'"/>
                </div>
                <div class="option-button" v-if="meet.current.creator==user.id" title="刷新"
                     @click="currentGroupChange(meet.currentId)">
                    <span style="position: absolute;top: 40px;font-size: 10px;color: #fff;left: 20px;">刷新</span>
                    <el-button type="text" class="button-refresh" size="small" icon="el-icon-refresh"
                               style="font-size: 36px;color: rgb(255, 255, 255);position: absolute;top: -5px;left: 10px;"></el-button>
                </div>
            </div>
            <!--悬浮按钮-->
            <div v-if="buttons.speak">
                <img class="suspend" :src="baseUrl+'images/zk-leader/speak.png'" title="申请发言" @mousedown="itemMousemove"
                     @click="applySpeak">
            </div>
        </div>
    </div>


    <!--名称前图标点击出来的菜单-->
    <div v-if="contextMenu.visible" class="context-menu"
         :style="('left:'+contextMenu.left+'; ')+('top:'+contextMenu.top+';')">
        <div class="header">目标：{{contextMenu.currentNode.name ? contextMenu.currentNode.name :
            contextMenu.currentNode.groupName}}
        </div>
        <div style="padding:0 15px">
            <div :class="'menu ' + (contextMenu.call?'':'disable')" @click="callUser">
                <i class="menuIcon icon-phone"></i>
                视频呼叫
            </div>
            <div :class="'menu ' + (contextMenu.intercom?'':'disable')" @click="voiceIntercom">
                <i class="menuIcon  icon-mobile-phone"></i>
                语音通话
            </div>
            <div :class="'menu ' + (contextMenu.vod?'':'disable')" v-if="contextMenu.diff ==='观看'" @click="view">
                <i class="menuIcon icon-facetime-video"></i>
                <span>观看</span>
            </div>
            <div :class="'menu ' + (contextMenu.vod?'':'disable')" v-else @click="vod">
                <i class="menuIcon icon-facetime-video"></i>
                <span>点播</span>
            </div>
            <div :class="'menu ' + (contextMenu.recordRecord?'':'disable')" @click="recordTask">
                <i class="menuIcon icon-camera-retro"></i>
                <span>录制</span>
            </div>
            <div :class="'menu ' + (contextMenu.dedicatedCommand?'':'disable')" @click="secretCommand">
                <i class="menuIcon  icon-user-md"></i>
                专向指挥
            </div>
            <div :class="'menu ' + (contextMenu.enterCommand?'':'disable')" @click="handleEnterCommand">
                <i class="menuIcon icon-signin"></i>
                进入指挥
            </div>
            <div :class="'menu ' + (contextMenu.removeRecord?'':'disable')" @click="removeRecord">
                <i class="menuIcon icon-trash"></i>
                删除
            </div>
        </div>
    </div>

    <!--参与多个指挥,每个指挥都有提醒-->
    <template>
        <audio v-for="remindId in group.remindIds" style="display:none;" autoplay="autoplay" loop="loop">
            <source src="/web/app/zk/business/command_remind_music.mp3" type="audio/mpeg"/>
        </audio>
    </template>

    <!--给指挥起名字-->
    <el-dialog
            :title="dialogTitle"
            :visible.sync="dialog.resetName.visible"
            width="350px">
        <el-input v-model="dialog.resetName.name" placeholder="起个名吧" style="width:100%;"></el-input>
        <span slot="footer" class="dialog-footer">
            <el-button size="medium" @click="resetNameClose">取消</el-button>
            <el-button v-if="dialogTitle.indexOf('指挥')" size="medium" type="primary"
                       @click="resetNameCommit">确定</el-button>
        </span>
    </el-dialog>

    <!-- 起名重名的情况 -->
    <el-dialog title="提示" :visible.sync="dialogVisible" width="350px">
        <span>抱歉，您起的会议名称已被占用，系统为您分配了下面的名字，您是否同意？</span>
        <el-input v-model="dialogInput"></el-input>
        <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="agreeEditName">同意</el-button>
      </span>
    </el-dialog>
</div>

